[FILTER]
\newenvironment{error}{}{}
\QTagDef{university}{100}{}
\QTagDef{institute}{101}{}
\QTagDef{department}{102}{}
\QTagDef{degree}{103}{}
\QTagDef{supervisor}{104}{}
\QTagDef{city}{105}{}
\QTagDef{degreemonth}{106}{}
\QTagDef{degreeyear}{107}{}
\QTagDef{prevdegrees}{108}{}
\QTagDef{makededication}{120}{}
\QTagDef{makeacknowledgements}{121}{}
\QTagDef{makeresumen}{122}{}
\QTagDef{makeforeword}{123}{}
\TCIEnd

[Defaults]
STYLE_NAME=LaTeX Book
ITALICS_MODE=2
NORMAL_SLANT=0
ITALIC_SLANT=1
NORMAL_WEIGHT=400
BOLD_WEIGHT=700
FONT_FACE=Times New Roman
FONT_SIZE=12
TEXT_COLOR=R0,G0,B0
FONT_WEIGHT=400
FONT_SLANT=0
MATH_FACE=Times New Roman
MATH_COLOR=R255,G0,B0
FUNCTION_COLOR=R128,G128,B128
ITALICS_IN_MATH=1
SCRIPT_SIZE=70
SCRIPTSCRIPT_SIZE=50
OPERATOR_SIZE=120
BIGOPERATOR_SIZE=150
PARAGRAPH_INDENT_RIGHT=18
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=0
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LINE_LEADING=0
LINE_JUSTIFICATION=1
TAGLEVEL=4

[error]
TAG_TYPE=PARA
ALIAS=Error
TAGBAR_DELETE=1
TEXT_COLOR=R255,G0,B0
FONT_WEIGHT=700
FONT_SIZE=20

[Body Text]
TAG_TYPE=PARA
PARAGRAPH_INDENT_FIRST=18

[Body Math]
TAG_TYPE=PARA
TAG_BEHAVIOR=FORCESMATH
NEXT_TAG=Body Math
TEXT_COLOR=R:128 G:0 B:128 
BKGROUND_COLOR=R:255 G:255 B:255 
PARAGRAPH_INDENT_RIGHT=18
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=0
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LINE_LEADING=0
LINE_JUSTIFICATION=1
TAGBAR_DELETE=0

[part]
ALIAS=Part
TAGLEVEL=1
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
FONT_FACE=Arial
FONT_SIZE=36
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
SCRIPT_SIZE=100
SCRIPTSCRIPT_SIZE=100

[chapter]
ALIAS=Chapter
TAGLEVEL=2
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAG_ENV=BOOK|REPORT|THESIS
FONT_FACE=Arial
FONT_SIZE=24
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
SCRIPT_SIZE=100
SCRIPTSCRIPT_SIZE=100

[section]
ALIAS=Section
TAGLEVEL=3
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
FONT_FACE=Arial
FONT_SIZE=18
TEXT_COLOR=R:0 G:0 B:255

[subsection]
ALIAS=Subsection
TAGLEVEL=4
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
FONT_SIZE=14
TEXT_COLOR=R:0 G:0 B:255
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=18

[subsubsection]
ALIAS=Subsubsection
TAGLEVEL=5
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TEXT_COLOR=R:0 G:0 B:255
PARAGRAPH_INDENT_LEFT=36
PARAGRAPH_INDENT_FIRST=18

[paragraph]
ALIAS=Subsubsubsection
TAGLEVEL=6
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TEXT_COLOR=R:0 G:0 B:255
PARAGRAPH_INDENT_FIRST=18

[subparagraph]
ALIAS=Subsubsubsubsection
TAGLEVEL=7
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TEXT_COLOR=R:0 G:0 B:255
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=18

[em]
ALIAS=Emphasize
TAG_TYPE=TEXT
FONT_SLANT=1
TEXT_COLOR=R255,G0,B255
MATH_COLOR=R255,G0,B255

[rm]
ALIAS=Roman
TAG_TYPE=TEXT
TEXT_COLOR=R0,G0,B255
MATH_COLOR=R0,G0,B255

[bf]
ALIAS=Bold
TAG_TYPE=TEXT
FONT_WEIGHT=700

[it]
ALIAS=Italic
TAG_TYPE=TEXT
FONT_SLANT=1
MATH_COLOR=R0,G255,B255

[sl]
ALIAS=Slanted
TAG_TYPE=TEXT
FONT_FACE=Times New Roman
FONT_SLANT=1
TEXT_COLOR=R0,G0,B255

[sf]
ALIAS=Sans Serif
TAG_TYPE=TEXT
FONT_FACE=Arial
MATH_COLOR=R0,G0,B0

[sc]
ALIAS=Small Caps
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESTEXT
FONT_FACE=dccsc10
TEXT_COLOR=R0,G128,B0
MATH_COLOR=R0,G128,B0

[tt]
ALIAS=Typewriter
TAG_TYPE=TEXT
FONT_FACE=Courier New
MATH_COLOR=R0,G0,B0

[description]
ALIAS=Description List Item
TAG_TYPE=LISTENV
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=0
PARAGRAPH_INDENT_FIRST=0
BKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_BACKGROUND_COLOR=R:0 G:0 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_TEXT_COLOR=R:255 G:255 B:0 
LEADIN_FONT_SIZE=12
LEADIN_FONT_WEIGHT=700
LEADIN_FONT_SLANT=0
LEADIN_LABELSEP=4
LEADIN_TEXTJUSTIFY=1
LEADIN_ALIGNLEFT=1
PARAGRAPH_INDENT_REST=22
PARAGRAPH_LEADING_BEFORE=1
PARAGRAPH_LEADING_AFTER=1
LINE_LEADING=0
LINE_JUSTIFICATION=1
TAGBAR_DELETE=0

[enumerate]
ALIAS=Numbered List Item
TAG_TYPE=LISTENV
TAG_LEADIN=#
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=22
PARAGRAPH_INDENT_FIRST=0
BKGROUND_COLOR=R:255 G:255 B:255 
PARAGRAPH_INDENT_REST=0
PARAGRAPH_LEADING_BEFORE=1
PARAGRAPH_LEADING_AFTER=1
LINE_LEADING=0
LINE_JUSTIFICATION=1
TAGBAR_DELETE=0
LEADIN_LABELSEP=4
LEADIN_BACKGROUND_COLOR=R:0 G:0 B:255 
LEADIN_TEXT_COLOR=R:255 G:255 B:0 
LEADIN_FONT_WEIGHT=700
LEADIN_FONT_SLANT=0

[itemize]
ALIAS=Bullet List Item
TAG_TYPE=LISTENV
TAG_LEADIN=·
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=22
PARAGRAPH_INDENT_FIRST=0
BKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_BACKGROUND_COLOR=R:0 G:0 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_TEXT_COLOR=R:255 G:255 B:0 
LEADIN_FONT_SIZE=14
LEADIN_FONT_WEIGHT=700
LEADIN_FONT_SLANT=0
LEADIN_LABELSEP=4
LEADIN_TEXTJUSTIFY=2
PARAGRAPH_INDENT_REST=0
PARAGRAPH_LEADING_BEFORE=1
PARAGRAPH_LEADING_AFTER=1
LINE_LEADING=0
LINE_JUSTIFICATION=1
TAGBAR_DELETE=0

[cal]
ALIAS=Calligraphic
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_FACE=cmsy10
TEXT_COLOR=R192,G192,B192
MATH_COLOR=R255,G0,B255

[newtheorem]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=36
PARAGRAPH_INDENT_FIRST=0
TAG_BEHAVIOR=LISTSTART

[newenvironment]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=36
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=18
TAG_BEHAVIOR=LISTSTART

[tiny]
TAG_TYPE=TEXT
ALIAS=Tiny
FONT_SIZE=6
TEXT_COLOR=R255,G0,B255

[scriptsize]
TAG_TYPE=TEXT
ALIAS=Scriptsize
FONT_SIZE=8
TEXT_COLOR=R255,G0,B255

[footnotesize]
TAG_TYPE=TEXT
ALIAS=Footnotesize
FONT_SIZE=9
TEXT_COLOR=R255,G0,B255

[small]
ALIAS=small
TAG_TYPE=TEXT
FONT_SIZE=10
TEXT_COLOR=R255,G0,B255

[normalsize]
ALIAS=normalsize
TAG_TYPE=TEXT
FONT_SIZE=12
TEXT_COLOR=R255,G0,B255

[large]
TAG_TYPE=TEXT
ALIAS=large
FONT_SIZE=14
TEXT_COLOR=R255,G0,B255

[Large]
ALIAS=Large
TAG_TYPE=TEXT
FONT_SIZE=16
TEXT_COLOR=R255,G0,B255

[LARGE]
TAG_TYPE=TEXT
ALIAS=LARGE
FONT_SIZE=18
TEXT_COLOR=R255,G0,B255

[huge]
TAG_TYPE=TEXT
ALIAS=huge
FONT_SIZE=20
TEXT_COLOR=R255,G0,B255

[Huge]
TAG_TYPE=TEXT
ALIAS=Huge
FONT_SIZE=22
TEXT_COLOR=R255,G0,B255

[thebibliography]
ALIAS=Bibliography item
TAG_TYPE=BIBENV
TAG_LEADIN=bibitem
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOMULTIPARA
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=18

[quotation]
TAG_TYPE=PARA
ALIAS=Quotation
PARAGRAPH_INDENT_RIGHT=24
PARAGRAPH_INDENT_LEFT=24

[quote]
TAG_TYPE=PARA
ALIAS=Body Quote
PARAGRAPH_INDENT_RIGHT=24
PARAGRAPH_INDENT_LEFT=24

[center]
TAG_TYPE=PARA
ALIAS=Centered
LINE_JUSTIFICATION=2

[verbatim]
TAG_TYPE=PARA
ALIAS=Verbatim
PARAGRAPH_INDENT_RIGHT=0
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=FORCESTEXT|NOLINEBREAK|PRESERVESPACES
FONT_FACE=Courier New
FONT_SIZE=10

[newfield]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=70
PARAGRAPH_INDENT_FIRST=0

[f_0]
ALIAS=title
TAG_TYPE=FIELD
TAG_LEADIN=Title: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18


[f_1]
ALIAS=author
TAG_TYPE=FIELD
TAG_LEADIN=Author: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_2]
ALIAS=address
TAG_TYPE=FIELD
TAG_LEADIN=Address: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_7]
ALIAS=date
TAG_TYPE=FIELD
TAG_LEADIN=Date: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[abstract]
TAG_TYPE=FIELD
TAG_LEADIN=Abstract: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_11]
ALIAS=Make Title
TAG_TYPE=FIELD
TAG_LEADIN=Make Title
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_12]
ALIAS=Make LOF
TAG_TYPE=FIELD
TAG_LEADIN=Make LOF
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_13]
ALIAS=Make LOT
TAG_TYPE=FIELD
TAG_LEADIN=Make LOT
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_14]
ALIAS=Make TOC
TAG_TYPE=FIELD
TAG_LEADIN=Make TOC
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[frak]
ALIAS=Fraktur
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_SLANT=0
FONT_FACE=EUFM10
TEXT_COLOR=R192,G192,B192
MATH_COLOR=R255,G0,B255

[Bbb]
ALIAS=Blackboard bold
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_FACE=MSBM10
TEXT_COLOR=R192,G192,B192

[f_100]
ALIAS=university
TAG_TYPE=FIELD
TAG_LEADIN=University: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_101]
ALIAS=institute
TAG_TYPE=FIELD
TAG_LEADIN=Institute: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_102]
ALIAS=department
TAG_TYPE=FIELD
TAG_LEADIN=Department: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_103]
ALIAS=degree
TAG_TYPE=FIELD
TAG_LEADIN=Degree: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_104]
ALIAS=supervisor
TAG_TYPE=FIELD
TAG_LEADIN=Supervisor: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_105]
ALIAS=city
TAG_TYPE=FIELD
TAG_LEADIN=City: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_106]
ALIAS=degreemonth
TAG_TYPE=FIELD
TAG_LEADIN=Degree Month: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_107]
ALIAS=degreeyear
TAG_TYPE=FIELD
TAG_LEADIN=Degree Year: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_108]
ALIAS=previousdegrees
TAG_TYPE=FIELD
TAG_LEADIN=Previous Degrees: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_120]
ALIAS=dedication
TAG_TYPE=FIELD
TAG_LEADIN=Dedication: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_121]
ALIAS=acknowledgements
TAG_TYPE=FIELD
TAG_LEADIN=Acknowledgements: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_122]
ALIAS=resumen
TAG_TYPE=FIELD
TAG_LEADIN=Resumen: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_123]
ALIAS=foreword
TAG_TYPE=FIELD
TAG_LEADIN=Foreword: 
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
LEADIN_BACKGROUND_COLOR=R:225 G:225 B:225 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=62
PARAGRAPH_INDENT_REST=48
PARAGRAPH_INDENT_RIGHT=-18

[f_111]
ALIAS=Keywords
TAG_TYPE=FIELD
TAG_LEADIN=Keywords:
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS

[f_112]
ALIAS=Jel
TAG_TYPE=FIELD
TAG_LEADIN=Jel:
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS

[newlist]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=70
PARAGRAPH_INDENT_FIRST=0

[ProgramCall]
TAG_TYPE=INTERNAL
TEXT_COLOR=R128,G0,B0
MATH_COLOR=R128,G0,B0

[Margin_Hint]
ALIAS=Margin Hint
TAG_TYPE=NOTE
ICON_NAME=MarginHint
ICON_SIZE=0.47in,0.28in,0.00in

[Solution_Note]
ALIAS=Solution Note
TAG_TYPE=NOTE
ICON_NAME=Solution
ICON_SIZE=0.47in,0.28in,0.00in

[Prob_Solv_Hint]
ALIAS=Problem Solving Hint
TAG_TYPE=NOTE
ICON_NAME=ProbSolvHint
ICON_SIZE=0.47in,0.28in,0.00in

[Answer]
ALIAS=AnswerNote
TAG_TYPE=NOTE
ICON_NAME=Answer
ICON_SIZE=0.47in,0.28in,0.00in

[proof]
TAG_TYPE=ENV
ALIAS=Proof
TAG_LEADIN=Proof
BKGROUND_COLOR=R:225 G:225 B:225
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_LEFT=58
PARAGRAPH_INDENT_REST=0
PARAGRAPH_INDENT_RIGHT=0
LEADIN_FONT_SLANT=0

[acknowledgement]
TAG_TYPE=THEOREMENV
ALIAS=Acknowledgement
TAG_LEADIN=Acknowledgement
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[algorithm]
TAG_TYPE=THEOREMENV
ALIAS=Algorithm
TAG_LEADIN=Algorithm
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[axiom]
TAG_TYPE=THEOREMENV
ALIAS=Axiom
TAG_LEADIN=Axiom
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[case]
TAG_TYPE=THEOREMENV
ALIAS=Case
TAG_LEADIN=Case
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[claim]
TAG_TYPE=THEOREMENV
ALIAS=Claim
TAG_LEADIN=Claim
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[conclusion]
TAG_TYPE=THEOREMENV
ALIAS=Conclusion
TAG_LEADIN=Conclusion
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[condition]
TAG_TYPE=THEOREMENV
ALIAS=Condition
TAG_LEADIN=Condition
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_WEIGHT=700

[conjecture]
TAG_TYPE=THEOREMENV
ALIAS=Conjecture
TAG_LEADIN=Conjecture
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[corollary]
TAG_TYPE=THEOREMENV
ALIAS=Corollary
TAG_LEADIN=Corollary
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[criterion]
TAG_TYPE=THEOREMENV
ALIAS=Criterion
TAG_LEADIN=Criterion
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[definition]
TAG_TYPE=THEOREMENV
ALIAS=Definition
TAG_LEADIN=Definition
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_WEIGHT=700

[example]
TAG_TYPE=THEOREMENV
ALIAS=Example
TAG_LEADIN=Example
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[exercise]
TAG_TYPE=THEOREMENV
ALIAS=Exercise
TAG_LEADIN=Exercise
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[lemma]
TAG_TYPE=THEOREMENV
ALIAS=Lemma
TAG_LEADIN=Lemma
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[notation]
TAG_TYPE=THEOREMENV
ALIAS=Notation
TAG_LEADIN=Notation
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[problem]
TAG_TYPE=THEOREMENV
ALIAS=Problem
TAG_LEADIN=Problem
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_WEIGHT=700

[proposition]
TAG_TYPE=THEOREMENV
ALIAS=Proposition
TAG_LEADIN=Proposition
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[remark]
TAG_TYPE=THEOREMENV
ALIAS=Remark
TAG_LEADIN=Remark
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[solution]
TAG_TYPE=THEOREMENV
ALIAS=Solution
TAG_LEADIN=Solution
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[summary]
TAG_TYPE=THEOREMENV
ALIAS=Summary
TAG_LEADIN=Summary
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[theorem]
TAG_TYPE=THEOREMENV
ALIAS=Theorem
TAG_LEADIN=Theorem
LEADIN_BACKGROUND_COLOR=R:255 G:255 B:255 
LEADIN_FONT_FACE=Arial
LEADIN_FONT_WEIGHT=700
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_LEADING_BEFORE=4
PARAGRAPH_LEADING_AFTER=4
LEADIN_LABELSEP=4
LEADIN_LABELWIDTH=72
PARAGRAPH_INDENT_REST=58
PARAGRAPH_INDENT_RIGHT=0
FONT_SLANT=1
LEADIN_FONT_SLANT=0

[FKeys]
0x0001=(Remove Item Tag)
0x0002=Body Text
0x0003=(Normal)
0x0004=bf
0x0005=em
0x0006=enumerate
0x0007=itemize
0x0008=cal
0x000a=section
0x000b=subsection
