
# This file contains ASCII characters, these are seldom used, because
# with the utf8 input encoding ASCII is interpreted directly by TeX.

# When using \univerb (defined by \usepackage[univerb]{ucsutils}),
# these are used. Or use them directly via \unichar{<code>}.

# ASCII characters (U+0000..U+0080)

#U+0020	see control.ucf
U+0021	\textascii!	# [!]
U+0022	\textquotedbl	# ["]
U+0023	\textascii\#	# [#]
U+0024	\textascii$		# [$]
U+0025	\textascii\%		# [%]
U+0026	\textascii\&		# [&]
U+0027	\textquoteright	# [']
U+0028	\textascii(		# [(]
U+0029	\textascii)		# [)]
U+002A	\textascii*		# [*]
U+002B	\textascii+		# [+]
U+002C	\textascii,		# [,]
U+002D	\textascii-		# [-]
U+002E	\textascii.		# [.]
U+002F	\textascii/		# [/]
U+0030	\textascii0		# [0]
U+0031	\textascii1		# [1]
U+0032	\textascii2		# [2]
U+0033	\textascii3		# [3]
U+0034	\textascii4		# [4]
U+0035	\textascii5		# [5]
U+0036	\textascii6		# [6]
U+0037	\textascii7		# [7]
U+0038	\textascii8		# [8]
U+0039	\textascii9		# [9]
U+003A	\textascii:		# [:]
U+003B	\textascii;		# [;]
U+003C	\textless	# [<]
U+003D	\textascii=		# [=]
U+003E	\textgreater	# [>]
U+003F	\textascii?		# [?]

U+0040	\textascii @		# [@]
U+0041	\textascii A		# [A]
U+0042	\textascii B		# [B]
U+0043	\textascii C		# [C]
U+0044	\textascii D		# [D]
U+0045	\textascii E		# [E]
U+0046	\textascii F		# [F]
U+0047	\textascii G		# [G]
U+0048	\textascii H		# [H]
U+0049	\textascii I		# [I]
U+004A	\textascii J		# [J]
U+004B	\textascii K		# [K]
U+004C	\textascii L		# [L]
U+004D	\textascii M		# [M]
U+004E	\textascii N		# [N]
U+004F	\textascii O		# [O]

U+0050	\textascii P		# [P]
U+0051	\textascii Q		# [Q]
U+0052	\textascii R		# [R]
U+0053	\textascii S		# [S]
U+0054	\textascii T		# [T]
U+0055	\textascii U		# [U]
U+0056	\textascii V		# [V]
U+0057	\textascii W		# [W]
U+0058	\textascii X		# [X]
U+0059	\textascii Y		# [Y]
U+005A	\textascii Z		# [Z]
U+005B	\textascii[		# [[]
U+005C	\textbackslash	# [\]
U+005D	\textascii]		# []]
U+005E	\textasciicircum # [^]
U+005F	\textunderscore	# [_]

U+0060	\textascii`		# [`]
U+0061	\textascii a		# [a]
U+0062	\textascii b		# [b]
U+0063	\textascii c		# [c]
U+0064	\textascii d		# [d]
U+0065	\textascii e		# [e]
U+0066	\textascii f		# [f]
U+0067	\textascii g		# [g]
U+0068	\textascii h		# [h]
U+0069	\textascii i		# [i]
U+006A	\textascii j		# [j]
U+006B	\textascii k		# [k]
U+006C	\textascii l		# [l]
U+006D	\textascii m		# [m]
U+006E	\textascii n		# [n]
U+006F	\textascii o		# [o]

U+0070	\textascii p		# [p]
U+0071	\textascii q		# [q]
U+0072	\textascii r		# [r]
U+0073	\textascii s		# [s]
U+0074	\textascii t		# [t]
U+0075	\textascii u		# [u]
U+0076	\textascii v		# [v]
U+0077	\textascii w		# [w]
U+0078	\textascii x		# [x]
U+0079	\textascii y		# [y]
U+007A	\textascii z		# [z]
U+007B	\textbraceleft	# [{]
U+007C	\textbar	# [|]
U+007D	\textbraceright	# [}]
U+007E	\textasciitilde	# [~]

