# -*-coding: utf-8;-*-
# Box drawing (U+2500..U+257F)

PACKAGE pstricks
OPTION postscript

PROVIDE MULTILINE
\gdef\uc@bd@bx#1{%
  \leavevmode
  \begingroup
  \ifx\uc@box@width\undefined\setbox0\hbox{0}\def\uc@box@width{\wd0}\fi
  \ifx\uc@box@height\undefined\let\uc@box@height\baselineskip\fi
  \ifx\uc@box@lower\undefined\def\uc@box@lower{.3\uc@box@height}\fi
  \def\l{\psline}%
  \def\t{\psset{linewidth=.2}}%
  \def\b{\psset{linewidth=.4}}%
  \def\q{\psframe*}%
  \def\d##1{{\psset{linewidth=.6}##1}%
    {\psset{linewidth=.2,linecolor=white}##1}}%
  \def\r{\psset{linearc=.8}}%
  \psset{unit=.5\uc@box@width,yunit=-.5\uc@box@height}%
  \t
  \lower\uc@box@lower\hbox{%
  \begin{pspicture}(-1,-1)(1,1)%
    #1%
  \end{pspicture}}%
  \endgroup}%
END

ENVELOPE \uc@bd@bx{@@@}

U+2500  \l(-1,0)(1,0)                   # [─]
U+2501  \b\l(-1,0)(1,0)                 # [━]
U+2502  \l(0,-1)(0,1)                   # [│]
U+2503  \b\l(0,-1)(0,1)                 # [┃]
U+2504  \l(-1,0)(-.55,0)\l(-.33,0)(.11,0)\l(.33,0)(.77,0)	# [┄]
U+2505  \b\l(-1,0)(-.55,0)\l(-.33,0)(.11,0)\l(.33,0)(.77,0)	# [┅]
U+2506  \l(0,-1)(0,-.55)\l(0,-.33)(0,.11)\l(0,.33)(0,.77) # [┆]
U+2507  \b\l(0,-1)(0,-.55)\l(0,-.33)(0,.11)\l(0,.33)(0,.77)	# [┇]
U+250A  \l(0,-1)(0,-.66)\l(0,-.5)(0,-.16)\l(0,0)(0,.33)\l(0,.5)(0,.83)	# [┊]
U+250B  \b\l(0,-1)(0,-.66)\l(0,-.5)(0,-.16)\l(0,0)(0,.33)\l(0,.5)(0,.83)	# [┋]
U+250C  \l(0,1)(0,0)(1,0)               # [┌]
U+250D  \l(0,0)(0,1)\b\l(0,0)(1,0)      # [┍]
U+250E  \l(0,0)(1,0)\b\l(0,0)(0,1)      # [┎]
U+250F  \b\l(0,1)(0,0)(1,0)             # [┏]
U+2510  \l(-1,0)(0,0)(0,1)              # [┐]
U+2511  \l(0,0)(0,1)\b\l(-1,0)(0,0)     # [┑]
U+2512  \l(0,0)(-1,0)\b\l(0,0)(0,1)     # [┒]
U+2513  \b\l(-1,0)(0,0)(0,1)            # [┓]
U+2514  \l(1,0)(0,0)(0,-1)              # [└]
U+2515  \l(0,0)(0,-1)\b\l(0,0)(1,0)     # [┕]
U+2516  \l(0,0)(1,0)\b\l(0,-1)(0,0)     # [┖]
U+2517  \b\l(1,0)(0,0)(0,-1)            # [┗]
U+2518  \l(0,-1)(0,0)(-1,0)             # [┘]
U+2519  \l(0,0)(0,-1)\b\l(-1,0)(0,0)    # [┙]
U+251A  \l(0,0)(-1,0)\b\l(0,-1)(0,0)    # [┚]
U+251B  \b\l(0,-1)(0,0)(-1,0)           # [┛]
U+251C  \l(0,-1)(0,1)\l(0,0)(1,0)       # [├]
U+251D  \l(0,-1)(0,1)\b\l(0,0)(1,0)     # [┝]
U+2520  \l(0,0)(1,0)\b\l(0,-1)(0,1)     # [┠]
U+2523  \b\l(0,-1)(0,1)\l(0,0)(1,0)     # [┣]
U+2524  \l(0,-1)(0,1)\l(0,0)(-1,0)      # [┤]
U+2525  \l(0,-1)(0,1)\b\l(0,0)(-1,0)    # [┥]
U+2528  \l(0,0)(-1,0)\b\l(0,-1)(0,1)    # [┨]
U+252B  \b\l(0,-1)(0,1)\l(0,0)(-1,0)    # [┫]
U+252C  \l(-1,0)(1,0)\l(0,0)(0,1)       # [┬]
U+252F  \l(0,0)(0,1)\b\l(-1,0)(1,0)     # [┯]
U+2530  \l(-1,0)(1,0)\b\l(0,0)(0,1)     # [┰]
U+2533  \b\l(-1,0)(1,0)\l(0,0)(0,1)     # [┳]
U+2534  \l(-1,0)(1,0)\l(0,0)(0,-1)      # [┴]
U+2537  \l(0,0)(0,-1)\b\l(-1,0)(1,0)    # [┷]
U+2538  \l(-1,0)(1,0)\b\l(0,0)(0,-1)    # [┸]
U+253B  \b\l(-1,0)(1,0)\l(0,0)(0,-1)    # [┻]
U+253C  \l(-1,0)(1,0)\l(0,-1)(0,1)      # [┼]
U+253F  \l(0,-1)(0,1)\b\l(-1,0)(1,0)    # [┿]
U+2540  \l(-1,0)(1,0)\l(0,0)(0,1)\b\l(0,-1)(0,0)        # [╀]
U+2541  \l(-1,0)(1,0)\l(0,0)(0,-1)\b\l(0,1)(0,0)        # [╁]
U+2542  \l(-1,0)(1,0)\b\l(0,-1)(0,1)    # [╂]
U+2543  \l(0,1)(0,0)(1,0)\b\l(-1,0)(0,0)(0,-1)  # [╃]
U+2544  \l(-1,0)(0,0)(0,1)\b\l(0,-1)(0,0)(1,0)  # [╄]
U+2545  \l(0,-1)(0,0)(1,0)\b\l(-1,0)(0,0)(0,1)  # [╅]
U+2546  \l(-1,0)(0,0)(0,-1)\b\l(1,0)(0,0)(0,1)  # [╆]
U+254B  \b\l(-1,0)(1,0)\l(0,-1)(0,1)    # [╋]
U+254C  \l(-1,0)(-.33,0)\l(0,0)(.66,0)	# [╌]
U+254D  \b\l(-1,0)(-.33,0)\l(0,0)(.66,0)	# [╍]
U+254E  \l(0,-1)(0,-.33)\l(0,0)(0,.66)	# [╎]
U+254F  \b\l(0,-1)(0,-.33)\l(0,0)(0,.66)	# [╏]
U+2550  \d{\l(-1,0)(1,0)}               # [═]
U+2551  \d{\l(0,-1)(0,1)}               # [║]
U+2552  \d{\l(0,0)(1,0)}\l(0,0)(0,1)    # [╒]
U+2553  \d{\l(0,0)(0,1)}\l(0,0)(1,0)    # [╓]
U+2554  \d{\l(0,1)(0,0)(1,0)}           # [╔]
U+2555  \d{\l(0,0)(-1,0)}\l(0,0)(0,1)   # [╕]
U+2556  \d{\l(0,0)(0,1)}\l(0,0)(-1,0)   # [╖]
U+2557  \d{\l(0,1)(0,0)(-1,0)}          # [╗]
U+2558  \d{\l(0,0)(1,0)}\l(0,0)(0,-1)   # [╘]
U+2559  \d{\l(0,0)(0,-1)}\l(0,0)(1,0)   # [╙]
U+255A  \d{\l(0,-1)(0,0)(1,0)}          # [╚]
U+255B  \d{\l(0,0)(-1,0)}\l(0,0)(0,-1)  # [╛]
U+255C  \d{\l(0,0)(0,-1)}\l(0,0)(-1,0)  # [╜]
U+255D  \d{\l(-1,0)(0,0)(0,-1)}         # [╝]
U+255E  \d{\l(1,0)(0,0)}\l(0,-1)(0,1)   # [╞]
U+255F  \l(0,0)(1,0)\d{\l(0,-1)(0,1)}   # [╟]
U+2560  \d{\l(0,-1)(0,1)\l(0,0)(1,0)}   # [╠]
U+2561  \d{\l(-1,0)(0,0)}\l(0,-1)(0,1)  # [╡]
U+2562  \l(0,0)(-1,0)\d{\l(0,-1)(0,1)}  # [╢]
U+2563  \d{\l(0,-1)(0,1)\l(0,0)(-1,0)}  # [╣]
U+2564  \l(0,0)(0,1)\d{\l(-1,0)(1,0)}   # [╤]
U+2565  \d{\l(0,0)(0,1)}\l(-1,0)(1,0)   # [╥]
U+2566  \d{\l(-1,0)(1,0)\l(0,1)(0,0)}   # [╦]
U+2567  \l(0,0)(0,-1)\d{\l(-1,0)(1,0)}  # [╧]
U+2568  \d{\l(0,0)(0,-1)}\l(-1,0)(1,0)  # [╨]
U+2569  \d{\l(-1,0)(1,0)\l(0,-1)(0,0)}  # [╩]
U+256A  \d{\l(-1,0)(1,0)}\l(0,-1)(0,1)  # [╪]
U+256B  \d{\l(0,-1)(0,1)}\l(-1,0)(1,0)  # [╫]
U+256D  \r\l(0,1)(0,0)(1,0)             # [╭]
U+256E  \r\l(0,1)(0,0)(-1,0)            # [╮]
U+256F  \r\l(-1,0)(0,0)(0,-1)           # [╯]
U+2570  \r\l(0,-1)(0,0)(1,0)            # [╰]
U+2571  \l(1,-1)(-1,1)                  # [╱]
U+2572  \l(-1,-1)(1,1)                  # [╲]
U+2573  \l(-1,-1)(1,1)\l(1,-1)(-1,1)    # [╳]
U+2574  \l(-1,0)(0,0)                   # [╴]
U+2575  \l(0,0)(0,-1)                   # [╵]
U+2576  \l(0,0)(1,0)                    # [╶]
U+2577  \l(0,0)(0,1)                    # [╷]
U+2578  \b\l(-1,0)(0,0)                 # [╸]
U+2579  \b\l(0,0)(0,-1)                 # [╹]
U+257A  \b\l(0,0)(1,0)                  # [╺]
U+257B  \b\l(0,0)(0,1)                  # [╻]
U+257C  \l(-1,0)(0,0)\b\l(0,0)(1,0)     # [╼]
U+257D  \l(0,0)(0,-1)\b\l(0,1)(0,0)     # [╽]
U+257E  \l(0,0)(1,0)\b\l(-1,0)(0,0)     # [╾]
U+257F  \l(0,0)(0,1)\b\l(0,-1)(0,0)     # [╿]
U+2581  \q(-1,1)(1,.75)                 # [▁]
U+2582  \q(-1,1)(1,.5)                  # [▂]
U+2583  \q(-1,1)(1,.25)                 # [▃]
U+2584  \q(-1,1)(1,0)                   # [▄]
U+2585  \q(-1,1)(1,-.25)                # [▅]
U+2586  \q(-1,1)(1,-.5)                 # [▆]
U+2587  \q(-1,1)(1,-.75)                # [▇]
U+2588  \q(-1,-1)(1,1)                  # [█]
U+2589  \q(-1,-1)(.75,1)                # [▉]
U+258A  \q(-1,-1)(.5,1)                 # [▊]
U+258B  \q(-1,-1)(.25,1)                # [▋]
U+258C  \q(-1,-1)(0,1)                  # [▌]
U+258D  \q(-1,-1)(-.25,1)               # [▍]
U+258E  \q(-1,-1)(-.5,1)                # [▎]
U+258F  \q(-1,-1)(-.75,1)               # [▏]
U+2591  \q[linecolor=lightgray](-1,-1)(1,1) # [░]
U+2592  \q[linecolor=gray](-1,-1)(1,1)  # [▒]
U+2593  \q[linecolor=darkgray](-1,-1)(1,1) # [▓]
