# -*-coding: utf-8;-*-

# Combining Diacritical Marks (U+0300..U+036F)

COMBINECHAR	o

U+0300	\@tabacckludge`{#1}	# [◌̀]
U+0301	\@tabacckludge'{#1}	# [◌́]
U+0302	\^{#1}			# [◌̂]
U+0303	\~{#1}			# [◌̃]
U+0304	\@tabacckludge={#1}	# [◌̄]
U+0306	\u{#1}			# [◌̆]
U+0307	\.{#1}			# [◌̇]
U+0308	\"{#1}			# [◌̈]
{
FONTENC	T5
PACKAGE		[nodblaccnt]{t5}
COMBINECHAR a
U+0309	\h{#1}			# [◌̉]
}
U+030A	\r{#1}			# [◌̊]
U+030B	\H{#1}			# [◌̋]
U+030C	\v{#1}			# [◌̌]

{
FONTENC	T4
U+030F	\textdblgravecmb{#1}	# [◌̏]
}

{
PACKAGE		pstricks
COMBINECHAR	postscript/U+25CC
U+0323	\d{#1}			# [◌̣]
U+0328	\k{#1}			# [◌̨]
U+0331	\b{#1}			# [◌̱]
}

U+0327	\c{#1}			# [◌̧]
U+0340	\PackageWarning{ucs}{U+0340 (COMBINING GRAVE TONE MARK) is deprecated}\`{#1}	# [◌̀]
U+0341	\PackageWarning{ucs}{U+0341 (COMBINING ACUTE TONE MARK) is deprecated}\'{#1}	# [◌́]


{
# Macro provided by by Francois Charette (various macros based on
#  internal macros of the ArabTeX package, copyright Klaus Lagally)
PROVIDE MULTILINE
\gdef \charettesubbreve#1{\oalign{#1\crcr\hidewidth% BREVE BELOW U+032E
   \vbox to.2ex{\hbox{\ifnum\fontdimen1\font=0%
     \kern-0.0em\else\kern-0.40em\fi\u{}}\vss}\hidewidth}}%
END

PACKAGE		pstricks
COMBINECHAR	postscript/U+25CC
U+032E \charettesubbreve{#1}     	# [◌̮]
}
