
# Here glyphs for control characters can be found. They are to be used
# in contexts where an visually recognisible glyph is needed even for
# control characters (e.g. in characters charts)

OPTION	ctrlglyphs

PROVIDE \gdef\uc@controlbox#1{{\fboxsep=1pt\fbox{\tabcolsep=0pt\ttfamily\tiny\begin{tabular}{c}#1\end{tabular}}}}
PACKAGE         amsmath

{
ENVELOPE \uc@controlbox{@@@}
U+0020	SP
U+2000	NQ\\SP
U+2001	MQ\\SP
U+2002	EN\\SP
U+2003	EM\\SP
U+2004	3/M\\SP
U+2005	4/M\\SP
U+2006	6/M\\SP
U+2009	TH\\SP
U+200B	ZW\\SP
U+200C	ZW\\NJ
U+200E	LRM
U+200F	RLM
U+2028	L\\SEP
U+2029	P\\SEP
U+202A	LRE
U+202B	RLE
U+202C	PDF
U+202D	LRO
U+202E	RLO
U+FEFF	BOM
U+FFFE	N/A
U+FFFF	N/A
}

{ # Tags (see tags.ucf)
ENVELOPE	\uc@controlbox{@@@\\\ding{"2D}}
PACKAGE		amsmath;pifont

U+E0001	\ding{"D9}
U+E0020	\textvisiblespace
U+E0021	!
U+E0022	"
U+E0023	\#
U+E0024	\$
U+E0025	\%
U+E0026	\&
U+E0027	\textquoteright
U+E0028	(
U+E0029	)
U+E002A	*
U+E002B	+
U+E002C	,
U+E002D	-
U+E002E	.
U+E002F	/
U+E0030	0
U+E0031	1
U+E0032	2
U+E0033	3
U+E0034	4
U+E0035	5
U+E0036	6
U+E0037	7
U+E0038	8
U+E0039	9
U+E003A	:
U+E003B	;
U+E003C	<
U+E003D	=
U+E003E	>
U+E003F	?
U+E0040	@
U+E0041	A
U+E0042	B
U+E0043	C
U+E0044	D
U+E0045	E
U+E0046	F
U+E0047	G
U+E0048	H
U+E0049	I
U+E004A	J
U+E004B	K
U+E004C	L
U+E004D	M
U+E004E	N
U+E004F	O
U+E0050	P
U+E0051	Q
U+E0052	R
U+E0053	S
U+E0054	T
U+E0055	U
U+E0056	V
U+E0057	W
U+E0058	X
U+E0059	Y
U+E005A	Z
U+E005B	[
U+E005C	\textbackslash
U+E005D	]
U+E005E	\textasciicircum
U+E005F	\textunderscore
U+E0060	`
U+E0061	a
U+E0062	b
U+E0063	c
U+E0064	d
U+E0065	e
U+E0066	f
U+E0067	g
U+E0068	h
U+E0069	i
U+E006A	j
U+E006B	k
U+E006C	l
U+E006D	m
U+E006E	n
U+E006F	o
U+E0070	p
U+E0071	q
U+E0072	r
U+E0073	s
U+E0074	t
U+E0075	u
U+E0076	v
U+E0077	w
U+E0078	x
U+E0079	y
U+E007A	z
U+E007B	\{
U+E007C	|
U+E007D	\}
U+E007E	\textasciitilde
U+E007F	\ding{"36}
}
