# -*-coding: utf-8; tab-width: 8;-*-

FONTENC	TS1

U+0E3F	\textbaht		# [฿]
U+20A1	\textcolonmonetary	# [₡]
U+20A4	\textlira		# [₤]
U+20A6	\textnaira		# [₦]
U+20A9	\textwon		# [₩]
U+20AB	\textdong		# [₫]

U+20AC	\ifx\euro\undefined\texteuro\else\euro\fi		# [€]
