# -*-coding: utf-8; tab-width: 8;-*-

# Thanks to Karsten Tinnefeld <karsten@tinnefeld.com> for
# many of the glyph macros

FONTENC T2A

U+0400	\@tabacckludge`\CYRE	# [Ѐ]
U+0401	\CYRYO			# [Ё]
U+0402	\CYRDJE			# [Ђ]
U+0403	\@tabacckludge'\CYRG	# [Ѓ] should be \CYRGJE
U+0404	\CYRIE			# [Є]
U+0405	\CYRDZE			# [Ѕ]
U+0406	\CYRII			# [І]
U+0407	\CYRYI			# [Ї]
U+0408	\CYRJE			# [Ј]
U+0409	\CYRLJE			# [Љ]
U+040A	\CYRNJE			# [Њ]
U+040B	\CYRTSHE		# [Ћ]
U+040C	\@tabacckludge'\CYRK	# [Ќ] should be \CYRKJE
U+040D	\@tabacckludge`\CYRI	# [Ѝ]
U+040E	\CYRUSHRT		# [Ў]
U+040F	\CYRDZHE		# [Џ]
U+0410	\CYRA			# [А]
U+0411	\CYRB			# [Б]
U+0412	\CYRV			# [В]
U+0413	\CYRG			# [Г]
U+0414	\CYRD			# [Д]
U+0415	\CYRE			# [Е]
U+0416	\CYRZH			# [Ж]
U+0417	\CYRZ			# [З]
U+0418	\CYRI			# [И]
U+0419	\CYRISHRT		# [Й]
U+041A	\CYRK			# [К]
U+041B	\CYRL			# [Л]
U+041C	\CYRM			# [М]
U+041D	\CYRN			# [Н]
U+041E	\CYRO			# [О]
U+041F	\CYRP			# [П]
U+0420	\CYRR			# [Р]
U+0421	\CYRS			# [С]
U+0422	\CYRT			# [Т]
U+0423	\CYRU			# [У]
U+0424	\CYRF			# [Ф]
U+0425	\CYRH			# [Х]
U+0426	\CYRC			# [Ц]
U+0427	\CYRCH			# [Ч]
U+0428	\CYRSH			# [Ш]
U+0429	\CYRSHCH		# [Щ]
U+042A	\CYRHRDSN		# [Ъ]
U+042B	\CYRERY			# [Ы]
U+042C	\CYRSFTSN		# [Ь]
U+042D	\CYREREV		# [Э]
U+042E	\CYRYU			# [Ю]
U+042F	\CYRYA			# [Я]
U+0430	\cyra			# [а]
U+0431	\cyrb			# [б]
U+0432	\cyrv			# [в]
U+0433	\cyrg			# [г]
U+0434	\cyrd			# [д]
U+0435	\cyre			# [е]
U+0436	\cyrzh			# [ж]
U+0437	\cyrz			# [з]
U+0438	\cyri			# [и]
U+0439	\cyrishrt		# [й]
U+043A	\cyrk			# [к]
U+043B	\cyrl			# [л]
U+043C	\cyrm			# [м]
U+043D	\cyrn			# [н]
U+043E	\cyro			# [о]
U+043F	\cyrp			# [п]
U+0440	\cyrr			# [р]
U+0441	\cyrs			# [с]
U+0442	\cyrt			# [т]
U+0443	\cyru			# [у]
U+0444	\cyrf			# [ф]
U+0445	\cyrh			# [х]
U+0446	\cyrc			# [ц]
U+0447	\cyrch			# [ч]
U+0448	\cyrsh			# [ш]
U+0449	\cyrshch		# [щ]
U+044A	\cyrhrdsn		# [ъ]
U+044B	\cyrery			# [ы]
U+044C	\cyrsftsn		# [ь]
U+044D	\cyrerev		# [э]
U+044E	\cyryu			# [ю]
U+044F	\cyrya			# [я]
U+0450	\@tabacckludge`\cyre	# [ѐ]
U+0451	\cyryo			# [ё]
U+0452	\cyrdje			# [ђ]
U+0453	\@tabacckludge'\cyrg	# [ѓ] should be \cyrgje
U+0454	\cyrie			# [є]
U+0455	\cyrdze			# [ѕ]
U+0456	\cyrii			# [і]
U+0457	\cyryi			# [ї]
U+0458	\cyrje			# [ј]
U+0459	\cyrlje			# [љ]
U+045A	\cyrnje			# [њ]
U+045B	\cyrtshe		# [ћ]
U+045C	\@tabacckludge'\cyrk	# [ќ] should be \cyrkje
U+045D	\@tabacckludge`\cyri	# [ѝ]
U+045E	\cyrushrt		# [ў]
U+045F	\cyrdzhe		# [џ]
U+0490	\CYRGUP			# [Ґ]
U+0491	\cyrgup			# [ґ]
U+0492	\CYRGHCRS		# [Ғ]
U+0493	\cyrghcrs		# [ғ]
U+0496	\CYRZHDSC		# [Җ]
U+0497	\cyrzhdsc		# [җ]
U+0498	\CYRZDSC		# [Ҙ]
U+0499	\cyrzdsc		# [ҙ]
U+049A	\CYRKDSC		# [Қ]
U+049B	\cyrkdsc		# [қ]
U+049C	\CYRKVCRS		# [Ҝ]
U+049D	\cyrkvcrs		# [ҝ]
U+04A0	\CYRKBEAK		# [Ҡ]
U+04A1	\cyrkbeak		# [ҡ]
U+04A2	\CYRNDSC		# [Ң]
U+04A3	\cyrndsc		# [ң]
U+04A4	\CYRNG			# [Ҥ]
U+04A5	\cyrng			# [ҥ]
U+04AA	\CYRSDSC		# [Ҫ]
U+04AB	\cyrsdsc		# [ҫ]
U+04AE	\CYRY			# [Ү]
U+04AF	\cyry			# [ү]
U+04B0	\CYRYHCRS		# [Ұ]
U+04B1	\cyryhcrs		# [ұ]
U+04B2	\CYRHDSC		# [Ҳ]
U+04B3	\cyrhdsc		# [ҳ]
U+04B6	\CYRCHRDSC		# [Ҷ]
U+04B7	\cyrchrdsc		# [ҷ]
U+04B8	\CYRCHVCRS		# [Ҹ]
U+04B9	\cyrchvcrs		# [ҹ]
U+04BA	\CYRSHHA		# [Һ]
U+04BB	\cyrshha		# [һ]
U+04C0	\CYRpalochka		# [Ӏ]
U+04C1	\U\CYRZH		# [Ӂ]
U+04C2	\U\cyrzh		# [ӂ]
U+04D0	\U\CYRA			# [Ӑ]
U+04D1	\U\cyra			# [ӑ]
U+04D2	\"\CYRA			# [Ӓ]
U+04D3	\"\cyra			# [ӓ]
U+04D4	\CYRAE			# [Ӕ]
U+04D5	\cyrae			# [ӕ]
U+04D6	\U\CYRE			# [Ӗ]
U+04D7	\U\cyre			# [ӗ]
U+04D8	\CYRSCHWA		# [Ә]
U+04D9	\cyrschwa		# [ә]
U+04DA	\"\CYRSCHWA		# [Ӛ]
U+04DB	\"\cyrschwa		# [ӛ]
U+04DC	\"\CYRZH		# [Ӝ]
U+04DD	\"\cyrzh		# [ӝ]
U+04DE	\"\CYRZ			# [Ӟ]
U+04DF	\"\cyrz			# [ӟ]
U+04E2	\@tabacckludge=\CYRI	# [Ӣ]
U+04E3	\@tabacckludge=\cyri	# [ӣ]
U+04E4	\"\CYRI			# [Ӥ]
U+04E5	\"\cyri			# [ӥ]
U+04E6	\"\CYRO			# [Ӧ]
U+04E7	\"\cyro			# [ӧ]
U+04E8	\CYROTLD		# [Ө]
U+04E9	\cyrotld		# [ө]
U+04EA	\"\CYROTLD		# [Ӫ]
U+04EB	\"\cyrotld		# [ӫ]
U+04EC	\"\CYREREV		# [Ӭ]
U+04ED	\"\cyrerev		# [ӭ]
U+04EE	\@tabacckludge=\CYRU	# [Ӯ]
U+04EF	\@tabacckludge=\cyru	# [ӯ]
U+04F0	\"\CYRU			# [Ӱ]
U+04F1	\"\cyru			# [ӱ]
U+04F2	\H\CYRU			# [Ӳ]
U+04F3	\H\cyru			# [ӳ]
U+04F4	\"\CYRCH		# [Ӵ]
U+04F5	\"\cyrch		# [ӵ]
U+04F8	\"\CYRERY		# [Ӹ]
U+04F9	\"\cyrery		# [ӹ]

FONTENC X2

U+0462	\CYRYAT			# [Ѣ]
U+0463	\cyryat			# [ѣ]
U+046A	\CYRBYUS		# [Ѫ]
U+046B	\cyrbyus		# [ѫ]
U+0474	\CYRIZH			# [Ѵ]
U+0475	\cyrizh			# [ѵ]
U+0476	\C\CYRIZH		# [Ѷ]
U+0477	\C\cyrizh		# [ѷ]
U+0494	\CYRGHK			# [Ҕ]
U+0495	\cyrghk			# [ҕ]
U+049E	\CYRKHCRS		# [Ҟ]
U+049F	\cyrkhcrs		# [ҟ]
U+04A6	\CYRPHK			# [Ҧ]
U+04A7	\cyrphk			# [ҧ]
U+04A8	\CYRABHHA		# [Ҩ]
U+04A9	\cyrabhha		# [ҩ]
U+04AC	\CYRTDSC		# [Ҭ]
U+04AD	\cyrtdsc		# [ҭ]
U+04B4	\CYRTETSE		# [Ҵ]
U+04B5	\cyrtetse		# [ҵ]
U+04BC	\CYRABHCH		# [Ҽ]
U+04BD	\cyrabhch		# [ҽ]
U+04BE	\CYRABHCHDSC		# [Ҿ]
U+04BF	\cyrabhchdsc		# [ҿ]
U+04C3	\CYRKHK			# [Ӄ]
U+04C4	\cyrkhk			# [ӄ]
U+04C7	\CYRNHK			# [Ӈ]
U+04C8	\cyrnhk			# [ӈ]
U+04CB	\CYRCHLDSC		# [Ӌ]
U+04CC	\cyrchldsc		# [ӌ]
U+04E0	\CYRABHDZE		# [Ӡ]
U+04E1	\cyrabhdze		# [ӡ]

FONTENC T2C

U+048C	\CYRSEMISFTSN		# [Ҍ]
U+048D	\cyrsemisftsn		# [ҍ]
U+048E	\CYRRTICK		# [Ҏ]
U+048F	\cyrrtick		# [ҏ]

FONTENC OT2

U+0472	\CYRFITA		# [Ѳ]
U+0473	\cyrfita		# [ѳ]

FONTENC	T2D

U+0460	\CYROMGA		# [Ѡ]
U+0461	\cyromga		# [ѡ]
U+0464	\CYRIOTEST		# [Ѥ]
U+0465	\cyriotest		# [ѥ]
U+0466	\CYRLYUS		# [Ѧ]
U+0467	\cyrlyus		# [ѧ]
U+0468	\CYRIOTLYUS		# [Ѩ]
U+0469	\cyriotlyus		# [ѩ]
U+046C	\CYRIOTBYUS		# [Ѭ]
U+046D	\cyriotbyus		# [ѭ]
U+046E	\CYRKSI			# [Ѯ]
U+046F	\cyrksi			# [ѯ]
U+0470	\CYRPSI			# [Ѱ]
U+0471	\cyrpsi			# [ѱ]
U+047A	\CYROMRND		# [Ѻ]
U+047B	\cyromrnd		# [ѻ]
U+047C	\CYROMTLO		# [Ѽ]
U+047D	\cyromtlo		# [ѽ]
U+047E	\CYROT			# [Ѿ]
U+047F	\cyrot			# [ѿ]
U+0480	\CYRKOPPA		# [Ҁ]
U+0481	\cyrkoppa		# [ҁ]
U+0483	\CYRtitlo{#1}		# [◌҃]
U+0482	\CYRthousands{\empty}	# [҂]
U+0484	\CYRpalatal{#1}		# [◌҄]
U+0485	\CYRdasia{#1}		# [◌҅]
U+0486	\CYRpsili{#1}		# [◌҆]

FONTENC	XS

U+0478	\CYRVARUK		# [Ѹ] # or \CYRUK
U+0479	\cyrvaruk		# [ѹ] # or \cyruk

{
COMBINECHAR	\cyrie
U+0488	\CYRlegion{#1}		# [◌҈]
U+0489	\CYRleodr{#1}		# [◌҉]
}
