# -*-coding: utf-8; tab-width: 8;-*-

FONTENC	LDV
PACKAGE 	pstricks
COMBINECHAR	postscript/U+25CC

U+0901	\textdevanagaricandrabindu{#1}		# [◌ँ]
U+0902	\textdevanagarianusvara{#1}		# [◌ं]
U+0903	\textdevanagarivisarga{#1}		# [◌ः]
U+0905	\textdevanagaria			# [अ]
U+0906	\textdevanagariaa			# [आ]
U+0907	\textdevanagarii			# [इ]
U+0908	\textdevanagariii			# [ई]
U+0909	\textdevanagariu			# [उ]
U+090A	\textdevanagariuu			# [ऊ]
U+090B	\textdevanagarivocalicr			# [ऋ]
U+090C	\textdevanagarivocalicl			# [ऌ]
U+090D	\textdevanagaricandrae			# [ऍ]
U+090E	\textdevanagarishorte			# [ऎ]
U+090F	\textdevanagarie			# [ए]
U+0910	\textdevanagariai			# [ऐ]
U+0911	\textdevanagaricandrao			# [ऑ]
U+0912	\textdevanagarishorto			# [ऒ]
U+0913	\textdevanagario			# [ओ]
U+0914	\textdevanagariau			# [औ]
U+0915	\textdevanagarika			# [क]
U+0916	\textdevanagarikha			# [ख]
U+0917	\textdevanagariga			# [ग]
U+0918	\textdevanagarigha			# [घ]
U+0919	\textdevanagaringa			# [ङ]
U+091A	\textdevanagarica			# [च]
U+091B	\textdevanagaricha			# [छ]
U+091C	\textdevanagarija			# [ज]
U+091D	\textdevanagarijha			# [झ]
U+091E	\textdevanagarinya			# [ञ]
U+091F	\textdevanagaritta			# [ट]
U+0920	\textdevanagarittha			# [ठ]
U+0921	\textdevanagaridda			# [ड]
U+0922	\textdevanagariddha			# [ढ]
U+0923	\textdevanagarinna			# [ण]
U+0924	\textdevanagarita			# [त]
U+0925	\textdevanagaritha			# [थ]
U+0926	\textdevanagarida			# [द]
U+0927	\textdevanagaridha			# [ध]
U+0928	\textdevanagarina			# [न]
U+0929	\textdevanagarinnna			# [ऩ]
U+092A	\textdevanagaripa			# [प]
U+092B	\textdevanagaripha			# [फ]
U+092C	\textdevanagariba			# [ब]
U+092D	\textdevanagaribha			# [भ]
U+092E	\textdevanagarima			# [म]
U+092F	\textdevanagariya			# [य]
U+0930	\textdevanagarira			# [र]
U+0931	\textdevanagarirra			# [ऱ]
U+0932	\textdevanagarila			# [ल]
U+0933	\textdevanagarilla			# [ळ]
U+0934	\textdevanagarillla			# [ऴ]
U+0935	\textdevanagariva			# [व]
U+0936	\textdevanagarisha			# [श]
U+0937	\textdevanagarissa			# [ष]
U+0938	\textdevanagarisa			# [स]
U+0939	\textdevanagariha			# [ह]
U+093C	\textdevanagarinukta{#1}		# [◌़]
U+093D	\textdevanagariavagraha			# [ऽ]
U+093E	\textdevanagarivowelaa{#1}		# [◌ा]
U+093F	\textdevanagarivoweli{#1}		# [◌ि]
U+0940	\textdevanagarivowelii{#1}		# [◌ी]
U+0941	\textdevanagarivowelu{#1}		# [◌ु]
U+0942	\textdevanagarivoweluu{#1}		# [◌ू]
U+0943	\textdevanagarivowelvocalicr{#1}	# [◌ृ]
U+0944	\textdevanagarivowelvocalicrr{#1}	# [◌ॄ]
U+0945	\textdevanagarivowelcandrae{#1}		# [◌ॅ]
U+0946	\textdevanagarivowelshorte{#1}		# [◌ॆ]
U+0947	\textdevanagarivowele{#1}		# [◌े]
U+0948	\textdevanagarivowelai{#1}		# [◌ै]
U+0949	\textdevanagarivowelcandrao{#1}		# [◌ॉ]
U+094A	\textdevanagarivowelshorto{#1}		# [◌ॊ]
U+094B	\textdevanagarivowelo{#1}		# [◌ो]
U+094C	\textdevanagarivowelau{#1}		# [◌ौ]
U+094D	\textdevanagarivirama{#1}		# [◌्]
U+0950	\textdevanagariom			# [ॐ]
U+0951	\textdevanagariudatta{#1}		# [◌॑]
U+0952	\textdevanagarianudatta{#1}		# [◌॒]
U+0953	\@tabacckludge`{#1}			# [◌॓]
U+0954	\@tabacckludge'{#1}			# [◌॔]
U+0958	\textdevanagariqa			# [क़]
U+0959	\textdevanagarikhha			# [ख़]
U+095A	\textdevanagarighha			# [ग़]
U+095B	\textdevanagariza			# [ज़]
U+095C	\textdevanagaridddha			# [ड़]
U+095D	\textdevanagarirha			# [ढ़]
U+095E	\textdevanagarifa			# [फ़]
U+095F	\textdevanagariyya			# [य़]
U+0960	\textdevanagarivocalicrr		# [ॠ]
U+0961	\textdevanagarivocalicll		# [ॡ]
U+0962	\textdevanagarivowelvocalicl{#1}	# [◌ॢ]
U+0963	\textdevanagarivowelvocalicll{#1}	# [◌ॣ]
U+0964	\textdevanagaridanda			# [।]
U+0965	\textdevanagaridoubledanda		# [॥]
U+0966	\textdevanagarizero			# [०]
U+0967	\textdevanagarione			# [१]
U+0968	\textdevanagaritwo			# [२]
U+0969	\textdevanagarithree			# [३]
U+096A	\textdevanagarifour			# [४]
U+096B	\textdevanagarifive			# [५]
U+096C	\textdevanagarisix			# [६]
U+096D	\textdevanagariseven			# [७]
U+096E	\textdevanagarieight			# [८]
U+096F	\textdevanagarinine			# [९]
U+0970	\textdevanagariabbreviation		# [॰]
