# -*-coding: utf-8; tab-width: 8;-*-

#FONTENC	LE1

FONTENC		LET

U+1200	\textethiopicha			# [ሀ]
U+1201	\textethiopichu			# [ሁ]
U+1202	\textethiopichi			# [ሂ]
U+1203	\textethiopichaa		# [ሃ]
U+1204	\textethiopichee		# [ሄ]
U+1205	\textethiopiche			# [ህ]
U+1206	\textethiopicho			# [ሆ]
U+1208	\textethiopicla			# [ለ]
U+1209	\textethiopiclu			# [ሉ]
U+120A	\textethiopicli			# [ሊ]
U+120B	\textethiopiclaa		# [ላ]
U+120C	\textethiopiclee		# [ሌ]
U+120D	\textethiopicle			# [ል]
U+120E	\textethiopiclo			# [ሎ]
U+120F	\textethiopiclwa		# [ሏ]
U+1210	\textethiopichha		# [ሐ]
U+1211	\textethiopichhu		# [ሑ]
U+1212	\textethiopichhi		# [ሒ]
U+1213	\textethiopichhaa		# [ሓ]
U+1214	\textethiopichhee		# [ሔ]
U+1215	\textethiopichhe		# [ሕ]
U+1216	\textethiopichho		# [ሖ]
U+1217	\textethiopichhwa		# [ሗ]
U+1218	\textethiopicma			# [መ]
U+1219	\textethiopicmu			# [ሙ]
U+121A	\textethiopicmi			# [ሚ]
U+121B	\textethiopicmaa		# [ማ]
U+121C	\textethiopicmee		# [ሜ]
U+121D	\textethiopicme			# [ም]
U+121E	\textethiopicmo			# [ሞ]
U+121F	\textethiopicmwa		# [ሟ]
U+1220	\textethiopicsza		# [ሠ]
U+1221	\textethiopicszu		# [ሡ]
U+1222	\textethiopicszi		# [ሢ]
U+1223	\textethiopicszaa		# [ሣ]
U+1224	\textethiopicszee		# [ሤ]
U+1225	\textethiopicsze		# [ሥ]
U+1226	\textethiopicszo		# [ሦ]
U+1227	\textethiopicszwa		# [ሧ]
U+1228	\textethiopicra			# [ረ]
U+1229	\textethiopicru			# [ሩ]
U+122A	\textethiopicri			# [ሪ]
U+122B	\textethiopicraa		# [ራ]
U+122C	\textethiopicree		# [ሬ]
U+122D	\textethiopicre			# [ር]
U+122E	\textethiopicro			# [ሮ]
U+122F	\textethiopicrwa		# [ሯ]
U+1230	\textethiopicsa			# [ሰ]
U+1231	\textethiopicsu			# [ሱ]
U+1232	\textethiopicsi			# [ሲ]
U+1233	\textethiopicsaa		# [ሳ]
U+1234	\textethiopicsee		# [ሴ]
U+1235	\textethiopicse			# [ስ]
U+1236	\textethiopicso			# [ሶ]
U+1237	\textethiopicswa		# [ሷ]
U+1238	\textethiopicsha		# [ሸ]
U+1239	\textethiopicshu		# [ሹ]
U+123A	\textethiopicshi		# [ሺ]
U+123B	\textethiopicshaa		# [ሻ]
U+123C	\textethiopicshee		# [ሼ]
U+123D	\textethiopicshe		# [ሽ]
U+123E	\textethiopicsho		# [ሾ]
U+123F	\textethiopicshwa		# [ሿ]
U+1240	\textethiopicqa			# [ቀ]
U+1241	\textethiopicqu			# [ቁ]
U+1242	\textethiopicqi			# [ቂ]
U+1243	\textethiopicqaa		# [ቃ]
U+1244	\textethiopicqee		# [ቄ]
U+1245	\textethiopicqe			# [ቅ]
U+1246	\textethiopicqo			# [ቆ]
U+1248	\textethiopicqwa		# [ቈ]
U+124A	\textethiopicqwi		# [ቊ]
U+124B	\textethiopicqwaa		# [ቋ]
U+124C	\textethiopicqwee		# [ቌ]
U+124D	\textethiopicqwe		# [ቍ]
U+1250	\textethiopicqha		# [ቐ]
U+1251	\textethiopicqhu		# [ቑ]
U+1252	\textethiopicqhi		# [ቒ]
U+1253	\textethiopicqhaa		# [ቓ]
U+1254	\textethiopicqhee		# [ቔ]
U+1255	\textethiopicqhe		# [ቕ]
U+1256	\textethiopicqho		# [ቖ]
U+1258	\textethiopicqhwa		# [ቘ]
U+125A	\textethiopicqhwi		# [ቚ]
U+125B	\textethiopicqhwaa		# [ቛ]
U+125C	\textethiopicqhwee		# [ቜ]
U+125D	\textethiopicqhwe		# [ቝ]
U+1260	\textethiopicba			# [በ]
U+1261	\textethiopicbu			# [ቡ]
U+1262	\textethiopicbi			# [ቢ]
U+1263	\textethiopicbaa		# [ባ]
U+1264	\textethiopicbee		# [ቤ]
U+1265	\textethiopicbe			# [ብ]
U+1266	\textethiopicbo			# [ቦ]
U+1267	\textethiopicbwa		# [ቧ]
U+1268	\textethiopicva			# [ቨ]
U+1269	\textethiopicvu			# [ቩ]
U+126A	\textethiopicvi			# [ቪ]
U+126B	\textethiopicvaa		# [ቫ]
U+126C	\textethiopicvee		# [ቬ]
U+126D	\textethiopicve			# [ቭ]
U+126E	\textethiopicvo			# [ቮ]
U+126F	\textethiopicvwa		# [ቯ]
U+1270	\textethiopicta			# [ተ]
U+1271	\textethiopictu			# [ቱ]
U+1272	\textethiopicti			# [ቲ]
U+1273	\textethiopictaa		# [ታ]
U+1274	\textethiopictee		# [ቴ]
U+1275	\textethiopicte			# [ት]
U+1276	\textethiopicto			# [ቶ]
U+1277	\textethiopictwa		# [ቷ]
U+1278	\textethiopicca			# [ቸ]
U+1279	\textethiopiccu			# [ቹ]
U+127A	\textethiopicci			# [ቺ]
U+127B	\textethiopiccaa		# [ቻ]
U+127C	\textethiopiccee		# [ቼ]
U+127D	\textethiopicce			# [ች]
U+127E	\textethiopicco			# [ቾ]
U+127F	\textethiopiccwa		# [ቿ]
U+1280	\textethiopicxa			# [ኀ]
U+1281	\textethiopicxu			# [ኁ]
U+1282	\textethiopicxi			# [ኂ]
U+1283	\textethiopicxaa		# [ኃ]
U+1284	\textethiopicxee		# [ኄ]
U+1285	\textethiopicxe			# [ኅ]
U+1286	\textethiopicxo			# [ኆ]
U+1288	\textethiopicxwa		# [ኈ]
U+128A	\textethiopicxwi		# [ኊ]
U+128B	\textethiopicxwaa		# [ኋ]
U+128C	\textethiopicxwee		# [ኌ]
U+128D	\textethiopicxwe		# [ኍ]
U+1290	\textethiopicna			# [ነ]
U+1291	\textethiopicnu			# [ኑ]
U+1292	\textethiopicni			# [ኒ]
U+1293	\textethiopicnaa		# [ና]
U+1294	\textethiopicnee		# [ኔ]
U+1295	\textethiopicne			# [ን]
U+1296	\textethiopicno			# [ኖ]
U+1297	\textethiopicnwa		# [ኗ]
U+1298	\textethiopicnya		# [ኘ]
U+1299	\textethiopicnyu		# [ኙ]
U+129A	\textethiopicnyi		# [ኚ]
U+129B	\textethiopicnyaa		# [ኛ]
U+129C	\textethiopicnyee		# [ኜ]
U+129D	\textethiopicnye		# [ኝ]
U+129E	\textethiopicnyo		# [ኞ]
U+129F	\textethiopicnywa		# [ኟ]
U+12A0	\textethiopicglottala		# [አ]
U+12A1	\textethiopicglottalu		# [ኡ]
U+12A2	\textethiopicglottali		# [ኢ]
U+12A3	\textethiopicglottalaa		# [ኣ]
U+12A4	\textethiopicglottalee		# [ኤ]
U+12A5	\textethiopicglottale		# [እ]
U+12A6	\textethiopicglottalo		# [ኦ]
U+12A7	\textethiopicglottalwa		# [ኧ]
U+12A8	\textethiopicka			# [ከ]
U+12A9	\textethiopicku			# [ኩ]
U+12AA	\textethiopicki			# [ኪ]
U+12AB	\textethiopickaa		# [ካ]
U+12AC	\textethiopickee		# [ኬ]
U+12AD	\textethiopicke			# [ክ]
U+12AE	\textethiopicko			# [ኮ]
U+12B0	\textethiopickwa		# [ኰ]
U+12B2	\textethiopickwi		# [ኲ]
U+12B3	\textethiopickwaa		# [ኳ]
U+12B4	\textethiopickwee		# [ኴ]
U+12B5	\textethiopickwe		# [ኵ]
U+12B8	\textethiopickxa		# [ኸ]
U+12B9	\textethiopickxu		# [ኹ]
U+12BA	\textethiopickxi		# [ኺ]
U+12BB	\textethiopickxaa		# [ኻ]
U+12BC	\textethiopickxee		# [ኼ]
U+12BD	\textethiopickxe		# [ኽ]
U+12BE	\textethiopickxo		# [ኾ]
U+12C0	\textethiopickxwa		# [ዀ]
U+12C2	\textethiopickxwi		# [ዂ]
U+12C3	\textethiopickxwaa		# [ዃ]
U+12C4	\textethiopickxwee		# [ዄ]
U+12C5	\textethiopickxwe		# [ዅ]
U+12C8	\textethiopicwa			# [ወ]
U+12C9	\textethiopicwu			# [ዉ]
U+12CA	\textethiopicwi			# [ዊ]
U+12CB	\textethiopicwaa		# [ዋ]
U+12CC	\textethiopicwee		# [ዌ]
U+12CD	\textethiopicwe			# [ው]
U+12CE	\textethiopicwo			# [ዎ]
U+12D0	\textethiopicpharyngeala	# [ዐ]
U+12D1	\textethiopicpharyngealu	# [ዑ]
U+12D2	\textethiopicpharyngeali	# [ዒ]
U+12D3	\textethiopicpharyngealaa	# [ዓ]
U+12D4	\textethiopicpharyngealee	# [ዔ]
U+12D5	\textethiopicpharyngeale	# [ዕ]
U+12D6	\textethiopicpharyngealo	# [ዖ]
U+12D8	\textethiopicza			# [ዘ]
U+12D9	\textethiopiczu			# [ዙ]
U+12DA	\textethiopiczi			# [ዚ]
U+12DB	\textethiopiczaa		# [ዛ]
U+12DC	\textethiopiczee		# [ዜ]
U+12DD	\textethiopicze			# [ዝ]
U+12DE	\textethiopiczo			# [ዞ]
U+12DF	\textethiopiczwa		# [ዟ]
U+12E0	\textethiopiczha		# [ዠ]
U+12E1	\textethiopiczhu		# [ዡ]
U+12E2	\textethiopiczhi		# [ዢ]
U+12E3	\textethiopiczhaa		# [ዣ]
U+12E4	\textethiopiczhee		# [ዤ]
U+12E5	\textethiopiczhe		# [ዥ]
U+12E6	\textethiopiczho		# [ዦ]
U+12E7	\textethiopiczhwa		# [ዧ]
U+12E8	\textethiopicya			# [የ]
U+12E9	\textethiopicyu			# [ዩ]
U+12EA	\textethiopicyi			# [ዪ]
U+12EB	\textethiopicyaa		# [ያ]
U+12EC	\textethiopicyee		# [ዬ]
U+12ED	\textethiopicye			# [ይ]
U+12EE	\textethiopicyo			# [ዮ]
U+12F0	\textethiopicda			# [ደ]
U+12F1	\textethiopicdu			# [ዱ]
U+12F2	\textethiopicdi			# [ዲ]
U+12F3	\textethiopicdaa		# [ዳ]
U+12F4	\textethiopicdee		# [ዴ]
U+12F5	\textethiopicde			# [ድ]
U+12F6	\textethiopicdo			# [ዶ]
U+12F7	\textethiopicdwa		# [ዷ]
U+12F8	\textethiopicdda		# [ዸ]
U+12F9	\textethiopicddu		# [ዹ]
U+12FA	\textethiopicddi		# [ዺ]
U+12FB	\textethiopicddaa		# [ዻ]
U+12FC	\textethiopicddee		# [ዼ]
U+12FD	\textethiopicdde		# [ዽ]
U+12FE	\textethiopicddo		# [ዾ]
U+12FF	\textethiopicddwa		# [ዿ]

#FONTENC	LE2

U+1300	\textethiopicja			# [ጀ]
U+1301	\textethiopicju			# [ጁ]
U+1302	\textethiopicji			# [ጂ]
U+1303	\textethiopicjaa		# [ጃ]
U+1304	\textethiopicjee		# [ጄ]
U+1305	\textethiopicje			# [ጅ]
U+1306	\textethiopicjo			# [ጆ]
U+1307	\textethiopicjwa		# [ጇ]
U+1308	\textethiopicga			# [ገ]
U+1309	\textethiopicgu			# [ጉ]
U+130A	\textethiopicgi			# [ጊ]
U+130B	\textethiopicgaa		# [ጋ]
U+130C	\textethiopicgee		# [ጌ]
U+130D	\textethiopicge			# [ግ]
U+130E	\textethiopicgo			# [ጎ]
U+1310	\textethiopicgwa		# [ጐ]
U+1312	\textethiopicgwi		# [ጒ]
U+1313	\textethiopicgwaa		# [ጓ]
U+1314	\textethiopicgwee		# [ጔ]
U+1315	\textethiopicgwe		# [ጕ]
U+1318	\textethiopicgga		# [ጘ]
U+1319	\textethiopicggu		# [ጙ]
U+131A	\textethiopicggi		# [ጚ]
U+131B	\textethiopicggaa		# [ጛ]
U+131C	\textethiopicggee		# [ጜ]
U+131D	\textethiopicgge		# [ጝ]
U+131E	\textethiopicggo		# [ጞ]
U+1320	\textethiopictha		# [ጠ]
U+1321	\textethiopicthu		# [ጡ]
U+1322	\textethiopicthi		# [ጢ]
U+1323	\textethiopicthaa		# [ጣ]
U+1324	\textethiopicthee		# [ጤ]
U+1325	\textethiopicthe		# [ጥ]
U+1326	\textethiopictho		# [ጦ]
U+1327	\textethiopicthwa		# [ጧ]
U+1328	\textethiopiccha		# [ጨ]
U+1329	\textethiopicchu		# [ጩ]
U+132A	\textethiopicchi		# [ጪ]
U+132B	\textethiopicchaa		# [ጫ]
U+132C	\textethiopicchee		# [ጬ]
U+132D	\textethiopicche		# [ጭ]
U+132E	\textethiopiccho		# [ጮ]
U+132F	\textethiopicchwa		# [ጯ]
U+1330	\textethiopicpha		# [ጰ]
U+1331	\textethiopicphu		# [ጱ]
U+1332	\textethiopicphi		# [ጲ]
U+1333	\textethiopicphaa		# [ጳ]
U+1334	\textethiopicphee		# [ጴ]
U+1335	\textethiopicphe		# [ጵ]
U+1336	\textethiopicpho		# [ጶ]
U+1337	\textethiopicphwa		# [ጷ]
U+1338	\textethiopictsa		# [ጸ]
U+1339	\textethiopictsu		# [ጹ]
U+133A	\textethiopictsi		# [ጺ]
U+133B	\textethiopictsaa		# [ጻ]
U+133C	\textethiopictsee		# [ጼ]
U+133D	\textethiopictse		# [ጽ]
U+133E	\textethiopictso		# [ጾ]
U+133F	\textethiopictswa		# [ጿ]
U+1340	\textethiopictza		# [ፀ]
U+1341	\textethiopictzu		# [ፁ]
U+1342	\textethiopictzi		# [ፂ]
U+1343	\textethiopictzaa		# [ፃ]
U+1344	\textethiopictzee		# [ፄ]
U+1345	\textethiopictze		# [ፅ]
U+1346	\textethiopictzo		# [ፆ]
U+1348	\textethiopicfa			# [ፈ]
U+1349	\textethiopicfu			# [ፉ]
U+134A	\textethiopicfi			# [ፊ]
U+134B	\textethiopicfaa		# [ፋ]
U+134C	\textethiopicfee		# [ፌ]
U+134D	\textethiopicfe			# [ፍ]
U+134E	\textethiopicfo			# [ፎ]
U+134F	\textethiopicfwa		# [ፏ]
U+1350	\textethiopicpa			# [ፐ]
U+1351	\textethiopicpu			# [ፑ]
U+1352	\textethiopicpi			# [ፒ]
U+1353	\textethiopicpaa		# [ፓ]
U+1354	\textethiopicpee		# [ፔ]
U+1355	\textethiopicpe			# [ፕ]
U+1356	\textethiopicpo			# [ፖ]
U+1357	\textethiopicpwa		# [ፗ]
U+1358	\textethiopicrya		# [ፘ]
U+1359	\textethiopicmya		# [ፙ]
U+135A	\textethiopicfya		# [ፚ]
U+1361	\textethiopicwordspace		# [፡]
U+1362	\textethiopicfullstop		# [።]
U+1363	\textethiopiccomma		# [፣]
U+1364	\textethiopicsemicolon		# [፤]
U+1365	\textethiopiccolon		# [፥]
U+1366	\textethiopicprefacecolon	# [፦]
U+1367	\textethiopicquestionmark	# [፧]
U+1368	\textethiopicparagraph		# [፨]
U+1369	\textethiopicone		# [፩]
U+136A	\textethiopictwo		# [፪]
U+136B	\textethiopicthree		# [፫]
U+136C	\textethiopicfour		# [፬]
U+136D	\textethiopicfive		# [፭]
U+136E	\textethiopicsix		# [፮]
U+136F	\textethiopicseven		# [፯]
U+1370	\textethiopiceight		# [፰]
U+1371	\textethiopicnine		# [፱]
U+1372	\textethiopicten		# [፲]
U+1373	\textethiopictwenty		# [፳]
U+1374	\textethiopicthirty		# [፴]
U+1375	\textethiopicforty		# [፵]
U+1376	\textethiopicfifty		# [፶]
U+1377	\textethiopicsixty		# [፷]
U+1378	\textethiopicseventy		# [፸]
U+1379	\textethiopiceighty		# [፹]
U+137A	\textethiopicninety		# [፺]
U+137B	\textethiopichundred		# [፻]
U+137C	\textethiopictenthousand	# [፼]
