# -*-coding: utf-8; tab-width: 8;-*-

# Geometric Shapes (U+25A0..U+25FF)

{
PACKAGE	pstricks
OPTION	postscript
0x25cc \begin{pspicture}(-.7ex,-.5ex)(.7ex,.7ex)\SpecialCoor\degrees[10]\psdots[dotstyle=*,dotsize=.1ex](.5ex;0)(.5ex;1)(.5ex;2)(.5ex;3)(.5ex;4)(.5ex;5)(.5ex;6)(.5ex;7)(.5ex;8)(.5ex;9)\end{pspicture}
}
