# -*-coding: utf-8; tab-width: 8;-*-
{
FONTENC LGR

U+0374	\textdexiakeraia		# [ʹ]
U+0375	\textaristerikeraia		# [͵]
U+037E	\textquestion			# [;]

U+0387	\textanoteleia			# [·]

U+0391	\textAlpha			# [Α]
U+0392	\textBeta			# [Β]
U+0393	\textGamma			# [Γ]
U+0394	\textDelta			# [Δ]
U+0395	\textEpsilon			# [Ε]
U+0396	\textZeta			# [Ζ]
U+0397	\textEta			# [Η]
U+0398	\textTheta			# [Θ]
U+0399	\textIota			# [Ι]
U+039A	\textKappa			# [Κ]
U+039B	\textLambda			# [Λ]
U+039C	\textMu				# [Μ]
U+039D	\textNu				# [Ν]
U+039E	\textXi				# [Ξ]
U+039F	\textOmicron			# [Ο]
U+03A0	\textPi				# [Π]
U+03A1	\textRho			# [Ρ]
# character U+03A2 unassigned in Unicode 3.1
U+03A3	\textSigma			# [Σ]
U+03A4	\textTau			# [Τ]
U+03A5	\textUpsilon			# [Υ]
U+03A6	\textPhi			# [Φ]
U+03A7	\textChi			# [Χ]
U+03A8	\textPsi			# [Ψ]
U+03A9	\textOmega			# [Ω]

U+03B1	\textalpha			# [α]
U+03B2	\textbeta			# [β]
U+03B3	\textgamma			# [γ]
U+03B4	\textdelta			# [δ]
U+03B5	\textepsilon			# [ε]
U+03B6	\textzeta			# [ζ]
U+03B7	\texteta			# [η]
U+03B8	\texttheta			# [θ]
U+03B9	\textiota			# [ι]
U+03BA	\textkappa			# [κ]
U+03BB	\textlambda			# [λ]
U+03BC	\textmu				# [μ]
U+03BD	\textnu				# [ν]
U+03BE	\textxi				# [ξ]
U+03BF	\textomicron			# [ο]
U+03C0	\textpi				# [π]
U+03C1	\textrho			# [ρ]
U+03C2	\textvarsigma			# [ς]
U+03C3	\textsigma			# [σ]
U+03C4	\texttau			# [τ]
U+03C5	\textupsilon			# [υ]
U+03C6	\textphi			# [φ]
U+03C7	\textchi			# [χ]
U+03C8	\textpsi			# [ψ]
U+03C9	\textomega			# [ω]

U+03DB	\textstigma			# [ϛ]
U+03DC	\textDigamma			# [Ϝ]
U+03DD	\textdigamma			# [ϝ]
U+03DF	\textqoppa			# [ϟ]
U+03E1	\textsanpi			# [ϡ]

U+037A	\textsubiota{\empty}			# [ͺ]
U+0385	\textdialytikatonos{\empty}		# [΅]
U+0390	\textdialytikatonos\textiota	# [ΐ]
U+03B0	\textdialytikatonos\textupsilon # [ΰ]

U+1F00	\textpsili\textalpha		# [ἀ]
U+1F01	\textdasia\textalpha		# [ἁ]
U+1F02	\textpsilivaria\textalpha	# [ἂ]
U+1F03	\textdasiavaria\textalpha	# [ἃ]
U+1F04	\textpsilioxia\textalpha	# [ἄ]
U+1F05	\textdasiaoxia\textalpha	# [ἅ]
U+1F06	\textpsiliperispomeni\textalpha # [ἆ]
U+1F07	\textdasiaperispomeni\textalpha # [ἇ]
U+1F08	\textpsili\textAlpha		# [Ἀ]
U+1F09	\textdasia\textAlpha		# [Ἁ]
U+1F0A	\textpsilivaria\textAlpha	# [Ἂ]
U+1F0B	\textdasiavaria\textAlpha	# [Ἃ]
U+1F0C	\textpsilioxia\textAlpha	# [Ἄ]
U+1F0D	\textdasiaoxia\textAlpha	# [Ἅ]
U+1F0E	\textpsiliperispomeni\textAlpha # [Ἆ]
U+1F0F	\textdasiaperispomeni\textAlpha # [Ἇ]
U+1F10	\textpsili\textepsilon		# [ἐ]
U+1F11	\textdasia\textepsilon		# [ἑ]
U+1F12	\textpsilivaria\textepsilon	# [ἒ]
U+1F13	\textdasiavaria\textepsilon	# [ἓ]
U+1F14	\textpsilioxia\textepsilon	# [ἔ]
U+1F15	\textdasiaoxia\textepsilon	# [ἕ]
U+1F18	\textpsili\textEpsilon		# [Ἐ]
U+1F19	\textdasia\textEpsilon		# [Ἑ]
U+1F1A	\textpsilivaria\textEpsilon	# [Ἒ]
U+1F1B	\textdasiavaria\textEpsilon	# [Ἓ]
U+1F1C	\textpsilioxia\textEpsilon	# [Ἔ]
U+1F1D	\textdasiaoxia\textEpsilon	# [Ἕ]
U+1F20	\textpsili\texteta		# [ἠ]
U+1F21	\textdasia\texteta		# [ἡ]
U+1F22	\textpsilivaria\texteta		# [ἢ]
U+1F23	\textdasiavaria\texteta		# [ἣ]
U+1F24	\textpsilioxia\texteta		# [ἤ]
U+1F25	\textdasiaoxia\texteta		# [ἥ]
U+1F26	\textpsiliperispomeni\texteta	# [ἦ]
U+1F27	\textdasiaperispomeni\texteta	# [ἧ]
U+1F28	\textpsili\textEta		# [Ἠ]
U+1F29	\textdasia\textEta		# [Ἡ]
U+1F2A	\textpsilivaria\textEta		# [Ἢ]
U+1F2B	\textdasiavaria\textEta		# [Ἣ]
U+1F2C	\textpsilioxia\textEta		# [Ἤ]
U+1F2D	\textdasiaoxia\textEta		# [Ἥ]
U+1F2E	\textpsiliperispomeni\textEta	# [Ἦ]
U+1F2F	\textdasiaperispomeni\textEta	# [Ἧ]
U+1F30	\textpsili\textiota		# [ἰ]
U+1F31	\textdasia\textiota		# [ἱ]
U+1F32	\textpsilivaria\textiota	# [ἲ]
U+1F33	\textdasiavaria\textiota	# [ἳ]
U+1F34	\textpsilioxia\textiota		# [ἴ]
U+1F35	\textdasiaoxia\textiota		# [ἵ]
U+1F36	\textpsiliperispomeni\textiota	# [ἶ]
U+1F37	\textdasiaperispomeni\textiota	# [ἷ]
U+1F38	\textpsili\textIota		# [Ἰ]
U+1F39	\textdasia\textIota		# [Ἱ]
U+1F3A	\textpsilivaria\textIota	# [Ἲ]
U+1F3B	\textdasiavaria\textIota	# [Ἳ]
U+1F3C	\textpsilioxia\textIota		# [Ἴ]
U+1F3D	\textdasiaoxia\textIota		# [Ἵ]
U+1F3E	\textpsiliperispomeni\textIota	# [Ἶ]
U+1F3F	\textdasiaperispomeni\textIota	# [Ἷ]
U+1F40	\textpsili\textomicron		# [ὀ]
U+1F41	\textdasia\textomicron		# [ὁ]
U+1F42	\textpsilivaria\textomicron	# [ὂ]
U+1F43	\textdasiavaria\textomicron	# [ὃ]
U+1F44	\textpsilioxia\textomicron	# [ὄ]
U+1F45	\textdasiaoxia\textomicron	# [ὅ]
U+1F48	\textpsili\textOmicron		# [Ὀ]
U+1F49	\textdasia\textOmicron		# [Ὁ]
U+1F4A	\textpsilivaria\textOmicron	# [Ὂ]
U+1F4B	\textdasiavaria\textOmicron	# [Ὃ]
U+1F4C	\textpsilioxia\textOmicron	# [Ὄ]
U+1F4D	\textdasiaoxia\textOmicron	# [Ὅ]
U+1F50	\textpsili\textupsilon		# [ὐ]
U+1F51	\textdasia\textupsilon		# [ὑ]
U+1F52	\textpsilivaria\textupsilon	# [ὒ]
U+1F53	\textdasiavaria\textupsilon	# [ὓ]
U+1F54	\textpsilioxia\textupsilon	# [ὔ]
U+1F55	\textdasiaoxia\textupsilon	# [ὕ]
U+1F56	\textpsiliperispomeni\textupsilon # [ὖ]
U+1F57	\textdasiaperispomeni\textupsilon # [ὗ]
U+1F59	\textdasia\textUpsilon		# [Ὑ]
U+1F5B	\textdasiavaria\textUpsilon	# [Ὓ]
U+1F5D	\textdasiaoxia\textUpsilon	# [Ὕ]
U+1F5F	\textdasiaperispomeni\textUpsilon # [Ὗ]
U+1F60	\textpsili\textomega		# [ὠ]
U+1F61	\textdasia\textomega		# [ὡ]
U+1F62	\textpsilivaria\textomega	# [ὢ]
U+1F63	\textdasiavaria\textomega	# [ὣ]
U+1F64	\textpsilioxia\textomega	# [ὤ]
U+1F65	\textdasiaoxia\textomega	# [ὥ]
U+1F66	\textpsiliperispomeni\textomega # [ὦ]
U+1F67	\textdasiaperispomeni\textomega # [ὧ]
U+1F68	\textpsili\textOmega		# [Ὠ]
U+1F69	\textdasia\textOmega		# [Ὡ]
U+1F6A	\textpsilivaria\textOmega	# [Ὢ]
U+1F6B	\textdasiavaria\textOmega	# [Ὣ]
U+1F6C	\textpsilioxia\textOmega	# [Ὤ]
U+1F6D	\textdasiaoxia\textOmega	# [Ὥ]
U+1F6E	\textpsiliperispomeni\textOmega # [Ὦ]
U+1F6F	\textdasiaperispomeni\textOmega # [Ὧ]
U+1F71	\textoxia\textalpha		# [ά]
U+1F73	\textoxia\textepsilon		# [έ]
U+1F75	\textoxia\texteta		# [ή]
U+1F77	\textoxia\textiota		# [ί]
U+1F79	\textoxia\textomicron		# [ό]
U+1F7B	\textoxia\textupsilon		# [ύ]
U+1F7D	\textoxia\textomega		# [ώ]
U+1F80	\textpsiliiota\textalpha	# [ᾀ]
U+1F81	\textdasiaiota\textalpha	# [ᾁ]
U+1F82	\textpsilivariaiota\textalpha	# [ᾂ]
U+1F83	\textdasiavariaiota\textalpha	# [ᾃ]
U+1F84	\textpsilioxiaiota\textalpha	# [ᾄ]
U+1F85	\textdasiaoxiaiota\textalpha	# [ᾅ]
U+1F86	\textpsiliperispomeniiota\textalpha # [ᾆ]
U+1F87	\textdasiaperispomeniiota\textalpha # [ᾇ]
U+1F88	\textpsiliiota\textAlpha	# [ᾈ]
U+1F89	\textdasiaiota\textAlpha	# [ᾉ]
U+1F8A	\textpsilivariaiota\textAlpha	# [ᾊ]
U+1F8B	\textdasiavariaiota\textAlpha	# [ᾋ]
U+1F8C	\textpsilioxiaiota\textAlpha	# [ᾌ]
U+1F8D	\textdasiaoxiaiota\textAlpha	# [ᾍ]
U+1F8E	\textpsiliperispomeniiota\textAlpha # [ᾎ]
U+1F8F	\textdasiaperispomeniiota\textAlpha # [ᾏ]
U+1F90	\textpsiliiota\texteta		# [ᾐ]
U+1F91	\textdasiaiota\texteta		# [ᾑ]
U+1F92	\textpsilivariaiota\texteta	# [ᾒ]
U+1F93	\textdasiavariaiota\texteta	# [ᾓ]
U+1F94	\textpsilioxiaiota\texteta	# [ᾔ]
U+1F95	\textdasiaoxiaiota\texteta	# [ᾕ]
U+1F96	\textpsiliperispomeniiota\texteta # [ᾖ]
U+1F97	\textdasiaperispomeniiota\texteta # [ᾗ]
U+1F98	\textpsiliiota\textEta		# [ᾘ]
U+1F99	\textdasiaiota\textEta		# [ᾙ]
U+1F9A	\textpsilivariaiota\textEta	# [ᾚ]
U+1F9B	\textdasiavariaiota\textEta	# [ᾛ]
U+1F9C	\textpsilioxiaiota\textEta	# [ᾜ]
U+1F9D	\textdasiaoxiaiota\textEta	# [ᾝ]
U+1F9E	\textpsiliperispomeniiota\textEta # [ᾞ]
U+1F9F	\textdasiaperispomeniiota\textEta # [ᾟ]
U+1FA0	\textpsiliiota\textomega	# [ᾠ]
U+1FA1	\textdasiaiota\textomega	# [ᾡ]
U+1FA2	\textpsilivariaiota\textomega	# [ᾢ]
U+1FA3	\textdasiavariaiota\textomega	# [ᾣ]
U+1FA4	\textpsilioxiaiota\textomega	# [ᾤ]
U+1FA5	\textdasiaoxiaiota\textomega	# [ᾥ]
U+1FA6	\textpsiliperispomeniiota\textomega # [ᾦ]
U+1FA7	\textdasiaperispomeniiota\textomega # [ᾧ]
U+1FA8	\textpsiliiota\textOmega	# [ᾨ]
U+1FA9	\textdasiaiota\textOmega	# [ᾩ]
U+1FAA	\textpsilivariaiota\textOmega	# [ᾪ]
U+1FAB	\textdasiavariaiota\textOmega	# [ᾫ]
U+1FAC	\textpsilioxiaiota\textOmega	# [ᾬ]
U+1FAD	\textdasiaoxiaiota\textOmega	# [ᾭ]
U+1FAE	\textpsiliperispomeniiota\textOmega # [ᾮ]
U+1FAF	\textdasiaperispomeniiota\textOmega # [ᾯ]
U+1FB2	\textvariaiota\textalpha	# [ᾲ]
U+1FB3	\textsubiota\textalpha		# [ᾳ]
U+1FB4	\textoxiaiota\textalpha		# [ᾴ]
U+1FB7	\textperispomeniiota\textalpha	# [ᾷ]
U+1FBB	\textoxia\textAlpha		# [Ά]
U+1FBC	\textsubiota\textAlpha		# [ᾼ]
U+1FBD	\textpsili{\empty}		# [᾽]
U+1FBE	\textsubiota{\empty}		# [ι]
U+1FBF	\textpsili{\empty}		# [᾿]
U+1FC1	\textdialytikaperispomeni{\empty} # [῁]
U+1FC2	\textvariaiota\texteta		# [ῂ]
U+1FC3	\textsubiota\texteta		# [ῃ]
U+1FC4	\textoxiaiota\texteta		# [ῄ]
U+1FC7	\textperispomeniiota\texteta	# [ῇ]
U+1FC9	\textoxia\textEpsilon		# [Έ]
U+1FCB	\textoxia\textEta		# [Ή]
U+1FCC	\textsubiota\textEta		# [ῌ]
U+1FCD	\textpsilivaria{\empty}		# [῍]
U+1FCE	\textpsilioxia{\empty}		# [῎]
U+1FCF	\textpsiliperispomeni{\empty}	# [῏]
U+1FD2	\textdialytikavaria\textiota	# [ῒ]
U+1FD3	\textdialytikaoxia\textiota	# [ΐ]
U+1FD7	\textdialytikaperispomeni\textiota # [ῗ]
U+1FDB	\textoxia\textIota		# [Ί]
U+1FDD	\textdasiavaria{\empty}		# [῝]
U+1FDE	\textdasiaoxia{\empty}		# [῞]
U+1FDF	\textdasiaperispomeni{\empty}	# [῟]
U+1FE2	\textdialytikavaria\textupsilon	# [ῢ]
U+1FE3	\textdialytikaoxia\textupsilon	# [ΰ]
U+1FE4	\textpsili\textrho		# [ῤ]
U+1FE5	\textdasia\textrho		# [ῥ]
U+1FE7	\textdialytikaperispomeni\textupsilon # [ῧ]
U+1FEB	\textoxia\textUpsilon		# [Ύ]
U+1FEC	\textdasia\textRho		# [Ῥ]
U+1FED	\textdialytikavaria{\empty}	# [῭]
U+1FEE	\textdialytikaoxia{\empty}	# [΅]
U+1FF2	\textvariaiota\textomega	# [ῲ]
U+1FF3	\textsubiota\textomega		# [ῳ]
U+1FF4	\textoxiaiota\textomega		# [ῴ]
U+1FF7	\textperispomeniiota\textomega	# [ῷ]
U+1FF9	\textoxia\textOmicron		# [Ό]
U+1FFB	\textoxia\textOmega		# [Ώ]
U+1FFC	\textsubiota\textOmega		# [ῼ]
U+1FFD	\textoxia{\empty}		# [´]
U+1FFE	\textdasia{\empty}		# [῾]

U+03AA	\"\textIota			# [Ϊ]
U+03AB	\"\textUpsilon			# [Ϋ]
U+03CA	\"\textiota			# [ϊ]
U+03CB	\"\textupsilon			# [ϋ]
U+1FB0	\u\textalpha			# [ᾰ]
U+1FB6	\~\textalpha			# [ᾶ]
U+1FB8	\u\textAlpha			# [Ᾰ]
U+1FC6	\~\texteta			# [ῆ]
U+1FD0	\u\textiota			# [ῐ]
U+1FD6	\~\textiota			# [ῖ]
U+1FD8	\u\textIota			# [Ῐ]
U+1FE0	\u\textupsilon			# [ῠ]
U+1FE6	\~\textupsilon			# [ῦ]
U+1FE8	\u\textUpsilon			# [Ῠ]
U+1FF6	\~\textomega			# [ῶ]

U+0386	\@tabacckludge'\textAlpha	# [Ά]
U+0388	\@tabacckludge'\textEpsilon	# [Έ]
U+0389	\@tabacckludge'\textEta		# [Ή]
U+038A	\@tabacckludge'\textIota	# [Ί]
U+038C	\@tabacckludge'\textOmicron	# [Ό]
U+038E	\@tabacckludge'\textUpsilon	# [Ύ]
U+038F	\@tabacckludge'\textOmega	# [Ώ]
U+03AC	\@tabacckludge'\textalpha	# [ά]
U+03AD	\@tabacckludge'\textepsilon	# [έ]
U+03AE	\@tabacckludge'\texteta		# [ή]
U+03AF	\@tabacckludge'\textiota	# [ί]
U+03CC	\@tabacckludge'\textomicron	# [ό]
U+03CD	\@tabacckludge'\textupsilon	# [ύ]
U+03CE	\@tabacckludge'\textomega	# [ώ]
U+1F70	\@tabacckludge`\textalpha	# [ὰ]
U+1F72	\@tabacckludge`\textepsilon	# [ὲ]
U+1F74	\@tabacckludge`\texteta		# [ὴ]
U+1F76	\@tabacckludge`\textiota	# [ὶ]
U+1F78	\@tabacckludge`\textomicron	# [ὸ]
U+1F7A	\@tabacckludge`\textupsilon	# [ὺ]
U+1F7C	\@tabacckludge`\textomega	# [ὼ]
U+1FB1	\@tabacckludge=\textalpha	# [ᾱ]
U+1FB9	\@tabacckludge=\textAlpha	# [Ᾱ]
U+1FBA	\@tabacckludge`\textAlpha	# [Ὰ]
U+1FC8	\@tabacckludge`\textEpsilon	# [Ὲ]
U+1FCA	\@tabacckludge`\textEta		# [Ὴ]
U+1FD1	\@tabacckludge=\textiota	# [ῑ]
U+1FD9	\@tabacckludge=\textIota	# [Ῑ]
U+1FDA	\@tabacckludge`\textIota	# [Ὶ]
U+1FE1	\@tabacckludge=\textupsilon	# [ῡ]
U+1FE9	\@tabacckludge=\textUpsilon	# [Ῡ]
U+1FEA	\@tabacckludge`\textUpsilon	# [Ὺ]
U+1FF8	\@tabacckludge`\textOmicron	# [Ὸ]
U+1FFA	\@tabacckludge`\textOmega	# [Ὼ]

U+0384	\@tabacckludge'{\empty}		# [΄]
U+1FC0	\~{\empty}			# [῀]
U+1FEF	\@tabacckludge`{\empty}		# [`]
}


