# -*-coding: utf-8; tab-width: 8;-*-

COMBINECHAR \hebresh

RIGHTLEFT

{
FONTENC LHE

U+05D0	\hebalef		# [א]
U+05D1	\hebbet			# [ב]
U+05D2	\hebgimel		# [ג]
U+05D3	\hebdalet		# [ד]
U+05D4	\hebhe			# [ה]
U+05D5	\hebvav			# [ו]
U+05D6	\hebzayin		# [ז]
U+05D7	\hebhet			# [ח]
U+05D8	\hebtet			# [ט]
U+05D9	\hebyod			# [י]
U+05DA	\hebfinalkaf		# [ך]
U+05DB	\hebkaf			# [כ]
U+05DC	\heblamed		# [ל]
U+05DD	\hebfinalmem		# [ם]
U+05DE	\hebmem			# [מ]
U+05DF	\hebfinalnun		# [ן]
U+05E0	\hebnun			# [נ]
U+05E1	\hebsamekh		# [ס]
U+05E2	\hebayin		# [ע]
U+05E3	\hebfinalpe		# [ף]
U+05E4	\hebpe			# [פ]
U+05E5	\hebfinaltsadi		# [ץ]
U+05E6	\hebtsadi		# [צ]
U+05E7	\hebqof			# [ק]
U+05E8	\hebresh		# [ר]
U+05E9	\hebshin		# [ש]
U+05EA	\hebtav			# [ת]
}

{
FONTENC	HE8
U+FB1D	\hiriq\hebyod		# [יִ]
U+FB1F	\patah\doubleyod	# [ײַ]
U+FB2A	\shindot\hebshin	# [שׁ]
U+FB2B	\sindot\hebshin		# [שׂ]
U+FB2C	\shindot{\dagesh\hebshin}	# [שּׁ]
U+FB2D	\sindot{\dagesh\hebshin}	# [שּׂ]
U+FB2E	\patah\hebalef		# [אַ]
U+FB2F	\qamats\hebalef		# [אָ]
U+FB30	\dagesh\hebalef		# [אּ] (is a mapiq)
U+FB31	\dagesh\hebbet		# [בּ]
U+FB32	\dagesh\hebgimel	# [גּ]
U+FB33	\dagesh\hebdalet	# [דּ]
U+FB34	\dagesh\hebhe		# [הּ] (is a mapiq)
U+FB35	\dagesh\hebvav		# [וּ]
U+FB36	\dagesh\hebzayin	# [זּ]
#U+FB37	<reserved>		# [﬷]
U+FB38	\dagesh\hebtet		# [טּ]
U+FB39	\dagesh\hebyod		# [יּ]
U+FB3A	\dagesh\hebfinalkaf 	# [ךּ]
U+FB3B	\dagesh\hebkaf		# [כּ]
U+FB3C	\dagesh\heblamed	# [לּ]
#U+FB3D	<reserved>		# [﬽]
U+FB3E	\dagesh\hebmem		# [מּ]
#U+FB3F	<reserved>		# [﬿]
U+FB40	\dagesh\hebnun		# [נּ]
U+FB41	\dagesh\hebsamekh	# [סּ]
#U+FB42	<reserved>		# [﭂]
U+FB43	\dagesh\hebfinalpe	# [ףּ]
U+FB44	\dagesh\hebpe		# [פּ]
#U+FB45	<reserved>		# [﭅]
U+FB46	\dagesh\hebtsadi	# [צּ]
U+FB47	\dagesh\hebqof		# [קּ]
U+FB48	\dagesh\hebresh		# [רּ]
U+FB49	\dagesh\hebshin		# [שּ]
U+FB4A	\dagesh\hebtav		# [תּ]
U+FB4B	\holam\hebvav		# [וֹ]
U+FB4C	\rafe\hebbet		# [בֿ]
U+FB4D	\rafe\hebkaf		# [כֿ]
U+FB4E	\rafe\hebpe		# [פֿ]

#U+FB4F	\hebaleflamed		# [ﭏ]

U+05F0	\doublevav		# [װ]
U+05F1	\vavyod			# [ױ]
U+05F2	\doubleyod		# [ײ]
U+05BE	\maqaf			# [־]
U+05C3	\sofpasuq		# [׃]
#U+05F3	\geresh			# [׳]
#U+05F4	\gershayim		# [״]
}

{
FONTENC	    HE8
ENVELOPE	@@@{#1}

U+05B0	\sheva		# [ְ]
U+05B1	\hatafsegol	# [ֱ]
U+05B2	\hatafpatah	# [ֲ]
U+05B3	\hatafqamats	# [ֳ]
U+05B4	\hiriq		# [ִ]
U+05B5	\tsere		# [ֵ]
U+05B6	\segol		# [ֶ]
U+05B7	\patah		# [ַ]
U+05B8	\qamats		# [ָ]
U+05BB	\qubuts		# [ֻ]
U+05BC	\dagesh		# [ּ]
U+05BD	\meteg		# [ֽ]

COMBINECHAR \hebvav
U+05B9	\holam		# [ֹ]

COMBINECHAR \hebshin
U+05C1  \shindot	# [ׁ]
U+05C2	\sindot		# [ׂ]
}
