# -*-coding: utf-8;-*-

{
FONTENC T4
U+0253	\textbhook		# [ɓ]
U+0254	\textoopen		# [ɔ]
U+0256	\textdtail		# [ɖ]
U+0257	\textdhook		# [ɗ]
U+0259	\textschwa		# [ə]
U+025B	\texteopen		# [ɛ]
U+0263  \textgammalatinsmall	# [ɣ]
U+0269	\textiotalatin		# [ɩ]
U+0272	\textnhookleft		# [ɲ]
U+0283	\textesh		# [ʃ]
U+0288	\texttretroflexhook	# [ʈ]
U+028B	\textvhook		# [ʋ]
U+0292	\textezh		# [ʒ]
U+02A7	\texttesh		# [ʧ]
}

# Macro provided by by Francois Charette (various macros based on
#  internal macros of the ArabTeX package, copyright Klaus Lagally)
U+02BE \ifnum\fontdimen1\font=0\protect\raisebox{0.4ex}{$\rhook$}\else\protect\raisebox{0.4ex}{\kern.05em$\rhook$\kern-.1em}\fi    	# [ʿ]
U+02BF \ifnum\fontdimen1\font=0\protect\raisebox{0.4ex}{$\lhook$}\else\protect\raisebox{0.4ex}{\kern.05em$\lhook$\kern-.1em}\fi   	# [ʾ]

# These are for use with the tipa package:

OPTION	tipa
FONTENC	T3
COMBINECHAR o

U+0067	\textg			# [g]
U+0127	\textcrh		# [ħ]
U+0250	\textturna		# [ɐ]
U+0251	\textscripta		# [ɑ]
U+0252	\textturnscripta	# [ɒ]
U+0253	\texthtb		# [ɓ]
U+0254	\textopeno		# [ɔ]
U+0255	\textctc		# [ɕ]
U+0256	\textrtaild		# [ɖ]
U+0257	\texthtd		# [ɗ]
U+0258	\textreve		# [ɘ]
U+025A	\textrhookschwa		# [ɚ]
U+025B	\textepsilon		# [ɛ]
U+025C	\textrevepsilon		# [ɜ]
U+025D	\textrhookrevepsilon	# [ɝ]
U+025E	\textcloserevepsilon	# [ɞ]
U+025F	\textbardotlessj	# [ɟ]
U+0260	\texthtg		# [ɠ]
U+0261	\textscriptg		# [ɡ]
U+0262	\textscg		# [ɢ]
U+0263	\textgamma		# [ɣ]
U+0264	\textramshorns		# [ɤ]
U+0265	\textturnh		# [ɥ]
U+0266	\texthth		# [ɦ]
U+0267	\texththeng		# [ɧ]
U+0268	\textbari		# [ɨ]
U+0269	\textiota		# [ɩ]
U+026A	\textsci		# [ɪ]
U+026B	\textltilde		# [ɫ]
U+026C	\textbeltl		# [ɬ]
U+026D	\textrtaill		# [ɭ]
U+026E	\textlyoghlig		# [ɮ]
U+026F	\textturnm		# [ɯ]
U+0270	\textturnmrleg		# [ɰ]
U+0271	\textltailm		# [ɱ]
U+0272	\textltailn		# [ɲ]
U+0273	\textrtailn		# [ɳ]
U+0274	\textscn		# [ɴ]
U+0275	\textbaro		# [ɵ]
U+0276	\textscoelig		# [ɶ]
U+0277	\textcloseomega		# [ɷ]
U+0278	\textphi		# [ɸ]
U+0279	\textturnr		# [ɹ]
U+027A	\textturnlonglegr	# [ɺ]
U+027B	\textturnrrtail		# [ɻ]
U+027C	\textlonglegr		# [ɼ]
U+027D	\textrtailr		# [ɽ]
U+027E	\textfishhookr		# [ɾ]
{
FONTENC TS3
U+027F	\textlhti		# [ɿ] (?)
}
U+0280	\textscr		# [ʀ]
U+0281	\textinvscr		# [ʁ]
U+0282	\textrtails		# [ʂ]
U+0284	\texthtbardotlessj	# [ʄ]
U+0285	\textraisevibyi		# [ʅ] (?)
U+0286	\textctesh		# [ʆ]
U+0287	\textturnt		# [ʇ]
U+0288	\textrtailt		# [ʈ]
U+0289	\textbaru		# [ʉ]
U+028A	\textupsilon		# [ʊ]
U+028B	\textscriptv		# [ʋ]
U+028C	\textturnv		# [ʌ]
U+028D	\textturnw		# [ʍ]
U+028E	\textturny		# [ʎ]
U+028F	\textscy		# [ʏ]
U+0290	\textrtailz		# [ʐ]
U+0291	\textctz		# [ʑ]
U+0292	\textyogh		# [ʒ]
U+0293	\textctyogh		# [ʓ]
U+0294	\textglotstop		# [ʔ]
U+0295	\textrevglotstop	# [ʕ]
U+0296	\textinvglotstop	# [ʖ]
U+0297	\textstretchc		# [ʗ]
U+0298	\textbullseye		# [ʘ]
U+0299	\textscb		# [ʙ]
U+029A	\textcloseepsilon	# [ʚ]
U+029B	\texthtscg		# [ʛ]
U+029C	\textsch		# [ʜ]
U+029D	\textctj		# [ʝ]
U+029E	\textturnk		# [ʞ]
U+029F	\textscl		# [ʟ]
U+02A0	\texthtq		# [ʠ]
U+02A1	\textbarglotstop	# [ʡ]
U+02A2	\textbarrevglotstop	# [ʢ]
U+02A3	\textdzlig		# [ʣ]
U+02A4	\textdyoghlig		# [ʤ]
U+02A5	\textdctzlig		# [ʥ]
U+02A6	\texttslig		# [ʦ]
U+02A7	\textteshlig		# [ʧ]
U+02A8	\texttctclig		# [ʨ]

U+02C8	\textprimstress		# [ˈ]
U+02D0	\textlengthmark		# [ː]

{
PACKAGE 	pstricks
COMBINECHAR	postscript/U+25CC
U+030D	\textvbaraccent{#1}	# [̍]
U+030E	\textdoublevbaraccent{#1} # [̎]
U+030F	\textdoublegrave{#1}	# [̏]
U+0310	\textdotbreve{#1}	# [̐]
U+0311	\textroundcap{#1}	# [̑]
U+0318	\textadvancing{#1}	# [̘]
U+0319	\textretracting{#1}	# [̙]
U+031C	\textsublhalfring{#1}	# [̜]
U+031D	\textraising{#1}	# [̝]
U+031E	\textlowering{#1}	# [̞]
U+031F	\textsubplus{#1}	# [̟]
U+0320	\textsubbar{#1}		# [̠]
U+0323	\textsubdot{#1}		# [̣]
U+0324	\textsubumlaut{#1}	# [̤]
U+0325	\textsubring{#1}	# [̥]
U+0328	\textpolhook{#1}	# [̨]
U+0329	\textsyllabic{#1}	# [̩]
U+032A	\textsubbridge{#1}	# [̪]
U+032B	\textsubw{#1}		# [̫]
U+032C	\textsubwedge{#1}	# [̬]
U+032F	\textsubarch{#1}	# [̯]
U+0330	\textsubtilde{#1}	# [̰]
U+0334	\textsuperimposetilde{#1}	# [̴]
U+0339	\textsubrhalfring{#1}	# [̹]
U+033A	\textinvsubbridge{#1}	# [̺]
U+033B	\textsubsquare{#1}	# [̻]
U+033C	\textseagull{#1}	# [̼]
U+033D	\textovercross{#1}	# [̽]
}
U+0316	\textsubgrave{#1}	# [̖]
U+0317	\textsubacute{#1}	# [̗]

#U+03B2	\textbeta		# [β]
#U+03B8	\texttheta		# [θ]
#U+03BB	\textlambda		# [λ]
#U+03C7	\textchi		# [χ]
#U+03C9	\textomega		# [ω]

U+02B1	\textsuperscript\texthth		# [ʱ]
U+02B4	\textsuperscript\textturnr		# [ʴ]
U+02B5	\textsuperscript\textturnrrtail		# [ʵ]
U+02B6	\textsuperscript\textinvscr		# [ʶ]

{
PACKAGE [noenc,extra]{tipa}
COMBINECHAR postscript/U+25CC

U+0346	\overbridge{#1}		# [͆]
U+0347	\subdoublebar{#1}	# [͇]
U+0348	\subdoublevert{#1}	# [͈]
U+0349	\subcorner{#1}		# [͉]
U+034A	\crtilde{#1}		# [͊]
U+034B	\dottedtilde{#1}	# [͋]
U+034C	\doubletilde{#1}	# [͌]
U+034D	\spreadlips{#1}		# [͍]
U+034E	\whistle{#1}		# [͎]
}

{
PACKAGE [noenc,tone]{tipa}

U+02E5	\tone5		# [˥]
U+02E6	\tone4		# [˦]
U+02E7	\tone3		# [˧]
U+02E8	\tone2		# [˨]
U+02E9	\tone1		# [˩]
}

