# -*-coding: utf-8; tab-width: 8;-*-

# See http://www.evertype.com/standards/csur/
# for the ConScript Unicode Registry

OPTION privatecsur
FONTENC	LKL

U+F8D0  \klingona		# []
U+F8D1  \klingonb		# []
U+F8D2  \klingonch		# []
U+F8D3  \klingonD		# []
U+F8D4  \klingone		# []
U+F8D5  \klingongh		# []
U+F8D6  \klingonH		# []
U+F8D7  \klingonI		# []
U+F8D8  \klingonj		# []
U+F8D9  \klingonl		# []
U+F8DA  \klingonm		# []
U+F8DB  \klingonn		# []
U+F8DC  \klingonng		# []
U+F8DD  \klingono		# []
U+F8DE  \klingonp		# []
U+F8DF  \klingonq		# []
U+F8E0  \klingonQ		# []
U+F8E1  \klingonr		# []
U+F8E2  \klingonS		# []
U+F8E3  \klingont		# []
U+F8E4  \klingontlh		# []
U+F8E5  \klingonu		# []
U+F8E6  \klingonv		# []
U+F8E7  \klingonw		# []
U+F8E8  \klingony		# []
U+F8E9  \klingonglotstop	# []
U+F8F0  \klingonzero		# []
U+F8F1  \klingonone		# []
U+F8F2  \klingontwo		# []
U+F8F3  \klingonthree		# []
U+F8F4  \klingonfour		# []
U+F8F5  \klingonfive		# []
U+F8F6  \klingonsix		# []
U+F8F7  \klingonseven		# []
U+F8F8  \klingoneight		# []
U+F8F9  \klingonnine		# []
#U+F8FF  KLINGON SYMBOL FOR EMPIRE # []

