# -*-coding: utf-8;-*-

# Latin Extended-B (U+0180..U+024F)

{
FONTENC T4
U+0181	\textBhook		# [Ɓ]
U+0186	\textOopen		# [Ɔ]
U+0187	\textChook		# [Ƈ]
U+0188	\textchook		# [ƈ]
U+0189	\textDafrican		# [Ɖ]
U+018A	\textDhook		# [Ɗ]
U+018E	\textEreversed		# [Ǝ]
U+0190	\textEopen		# [Ɛ]
U+0191	\textFhook		# [Ƒ]
U+0192	\textflorin		# [ƒ]
U+0194	\textGammaafrican	# [Ɣ]
U+0196	\textIotaafrican	# [Ɩ]
U+0198	\textKhook		# [Ƙ]
U+0199	\textkhook		# [ƙ]
U+019D	\textNhookleft		# [Ɲ]
}

{
FONTENC	T5
PACKAGE [nodblaccnt]{t5}
U+01A0	\horn O			# [Ơ]
U+01A1	\horn o			# [ơ]
}
{
FONTENC T4
U+01A4	\textPhook		# [Ƥ]
U+01A5	\textphook		# [ƥ]
U+01A9	\textEsh		# [Ʃ]
U+01AC	\textThook		# [Ƭ]
U+01AD	\textthook		# [ƭ]
U+01AE	\textTretroflexhook	# [Ʈ]
}
{
FONTENC	T5
PACKAGE [nodblaccnt]{t5}
U+01AF	\horn U			# [Ư]
U+01B0	\horn u			# [ư]
}
{
FONTENC T4
U+01B2	\textVhook		# [Ʋ]
U+01B3	\textYhook		# [Ƴ]
U+01B4	\textyhook		# [ƴ]
U+01B7	\textEzh		# [Ʒ]
} 
U+01CD	\v A			# [Ǎ]
U+01CE	\v a			# [ǎ]
U+01CF	\v I			# [Ǐ]
U+01D0	\v\i			# [ǐ]
U+01D1	\v O			# [Ǒ]
U+01D2	\v o			# [ǒ]
U+01D3	\v U			# [Ǔ]
U+01D4	\v u			# [ǔ]
U+01D5	\@tabacckludge={\"U}	# [Ǖ]
U+01D6	\@tabacckludge={\"u}	# [ǖ]
U+01D7	\@tabacckludge'{\"U}	# [Ǘ]
U+01D8	\@tabacckludge'{\"u}	# [ǘ]
U+01D9	\v{\"U}			# [Ǚ]
U+01DA	\v{\"u}			# [ǚ]
U+01DB	\@tabacckludge`{\"U}	# [Ǜ]
U+01DC	\@tabacckludge`{\"u}	# [ǜ]
{
FONTENC T4
U+01DD	\texteturned		# [ǝ]
}
U+01DE	\@tabacckludge={\"A}	# [Ǟ]
U+01DF	\@tabacckludge={\"a}	# [ǟ]
#U+01E0	\@tabacckludge={\.A}	# [Ǡ]
#U+01E1	\@tabacckludge={\.a}	# [ǡ]
U+01E2	\@tabacckludge=\AE	# [Ǣ]
U+01E3	\@tabacckludge=\ae	# [ǣ]
U+01E6	\v G			# [Ǧ]
U+01E7	\v g			# [ǧ]
U+01E8	\v K			# [Ǩ]
U+01E9	\v k			# [ǩ]
U+01EA	\k O			# [Ǫ]
U+01EB	\k o			# [ǫ]
{
FONTENC T4
U+01EE	\v\textEzh	# [Ǯ]
U+01EF	\v\textezh	# [ǯ]
}
U+01F0	\v\j			# [ǰ]
U+01F4	\@tabacckludge'G	# [Ǵ]
U+01F5	\@tabacckludge'g	# [ǵ]
U+01F8	\@tabacckludge`N	# [Ǹ]
U+01F9	\@tabacckludge`n	# [ǹ]
U+01FA	\@tabacckludge'{\r A}	# [Ǻ]
U+01FB	\@tabacckludge'{\r a}	# [ǻ]
U+01FC	\@tabacckludge'\AE	# [Ǽ]
U+01FD	\@tabacckludge'\ae	# [ǽ]
U+01FE	\@tabacckludge'\O	# [Ǿ]
U+01FF	\@tabacckludge'\o	# [ǿ]
{
FONTENC T4
U+0200	\textdblgravecmb A	# [Ȁ]
U+0201	\textdblgravecmb a	# [ȁ]
U+0204	\textdblgravecmb E	# [Ȅ]
U+0205	\textdblgravecmb e	# [ȅ]
U+0208	\textdblgravecmb I	# [Ȉ]
U+0209	\textdblgravecmb i	# [ȉ]
U+020C	\textdblgravecmb O	# [Ȍ]
U+020D	\textdblgravecmb o	# [ȍ]
U+0210	\textdblgravecmb R	# [Ȑ]
U+0211	\textdblgravecmb r	# [ȑ]
U+0214	\textdblgravecmb U	# [Ȕ]
U+0215	\textdblgravecmb u	# [ȕ]
}

{
# From latin10.def
GLOBAL MULTILINE
\makeatletter
\ProvideTextCommandDefault\textcommabelow[1]
  {\hmode@bgroup\ooalign{\null#1\crcr\hidewidth\raise-.31ex
   \hbox{\check@mathfonts\fontsize\ssf@size\z@
   \math@fontsfalse\selectfont,}\hidewidth}\egroup}
END

U+0218  {\textcommabelow S}
U+0219  {\textcommabelow s}
U+021A  {\textcommabelow T}
U+021B  {\textcommabelow t}
}

U+021E	\v H			# [Ȟ]
U+021F	\v h			# [ȟ]
U+0226	\.A			# [Ȧ]
U+0227	\.a			# [ȧ]
U+0228	\c E			# [Ȩ]
U+0229	\c e			# [ȩ]
U+022A	\@tabacckludge={\"O}	# [Ȫ]
U+022B	\@tabacckludge={\"o}	# [ȫ]
U+022C	\@tabacckludge={\~O}	# [Ȭ]
U+022D	\@tabacckludge={\~o}	# [ȭ]
U+022E	\.O			# [Ȯ]
U+022F	\.o			# [ȯ]
#U+0230	\@tabacckludge={\.O}	# [Ȱ]
#U+0231	\@tabacckludge={\.o}	# [ȱ]
U+0232	\@tabacckludge=Y	# [Ȳ]
U+0233	\@tabacckludge=y	# [ȳ]
