# -*-coding: utf-8;-*-

# Latin Extended-A (U+0100..U+017F)

U+0100	\@tabacckludge=A	# [Ā]
U+0101	\@tabacckludge=a	# [ā]
U+0102	\u A			# [Ă]
U+0103	\u a			# [ă]
U+0104	\k A			# [Ą]
U+0105	\k a			# [ą]
U+0106	\@tabacckludge'C	# [Ć]
U+0107	\@tabacckludge'c	# [ć]
U+0108	\^C			# [Ĉ]
U+0109	\^c			# [ĉ]
U+010A	\.C			# [Ċ]
U+010B	\.c			# [ċ]
U+010C	\v C			# [Č]
U+010D	\v c			# [č]
U+010E	\v D			# [Ď]
U+010F	\v d			# [ď]
U+0110	\DJ			# [Đ]
U+0111	\dj			# [đ]
U+0112	\@tabacckludge=E	# [Ē]
U+0113	\@tabacckludge=e	# [ē]
U+0114	\u E			# [Ĕ]
U+0115	\u e			# [ĕ]
U+0116	\.E			# [Ė]
U+0117	\.e			# [ė]
U+0118	\k E			# [Ę]
U+0119	\k e			# [ę]
U+011A	\v E			# [Ě]
U+011B	\v e			# [ě]
U+011C	\^G			# [Ĝ]
U+011D	\^g			# [ĝ]
U+011E	\u G			# [Ğ]
U+011F	\u g			# [ğ]
U+0120	\.G			# [Ġ]
U+0121	\.g			# [ġ]
U+0122	\c G			# [Ģ]
{
OPTION dirty
U+0123	\leavevmode\vbox{\baselineskip\z@skip\ialign{\hss##\hss\crcr\vbox to.65ex{\hbox{\char"60}\vss}\crcr g\crcr}}	# [ģ]
}
U+0124	\^H			# [Ĥ]
U+0125	\^h			# [ĥ]
{
FONTENC T4
U+0126	\textHbar	# [Ħ]
U+0127	\texthbar	# [ħ]
}
{
OPTION dirty
U+0126	\leavevmode\rlap{\={\empty}}H\llap{\={\empty}}	# [Ħ]
U+0127	\leavevmode\rlap{\={\empty}}h	# [ħ]
}
U+0128	\~I			# [Ĩ]
U+0129	\~\i			# [ĩ]
U+012A	\@tabacckludge=I	# [Ī]
U+012B	\@tabacckludge=\i	# [ī]
U+012C	\u I			# [Ĭ]
U+012D	\u\i			# [ĭ]
U+012E	\k I			# [Į]
U+012F	\k i			# [į]
U+0130	\.I			# [İ]
U+0131	\i			# [ı]
U+0134	\^J			# [Ĵ]
U+0135	\^\j			# [ĵ]
U+0136	\c K			# [Ķ]
U+0137	\c k			# [ķ]
U+0139	\@tabacckludge'L	# [Ĺ]
U+013A	\@tabacckludge'l	# [ĺ]
U+013B	\c L			# [Ļ]
U+013C	\c l			# [ļ]
U+013D  \v L    		# [Ľ] # Radovan Garabik
U+013E  \v l    		# [ľ] # Radovan Garabik
U+0141	\L			# [Ł]
U+0142	\l			# [ł]
U+0143	\@tabacckludge'N	# [Ń]
U+0144	\@tabacckludge'n	# [ń]
U+0145	\c N			# [Ņ]
U+0146	\c n			# [ņ]
U+0147	\v N			# [Ň]
U+0148	\v n			# [ň]
U+014A	\NG			# [Ŋ]
U+014B	\ng			# [ŋ]
U+014C	\@tabacckludge=O	# [Ō]
U+014D	\@tabacckludge=o	# [ō]
U+014E	\u O			# [Ŏ]
U+014F	\u o			# [ŏ]
U+0150	\H O			# [Ő]
U+0151	\H o			# [ő]
U+0152	\OE			# [Œ]
U+0153	\oe			# [œ]
U+0154	\@tabacckludge'R	# [Ŕ]
U+0155	\@tabacckludge'r	# [ŕ]
U+0156	\c R			# [Ŗ]
U+0157	\c r			# [ŗ]
U+0158	\v R			# [Ř]
U+0159	\v r			# [ř]
U+015A	\@tabacckludge'S	# [Ś]
U+015B	\@tabacckludge's	# [ś]
U+015C	\^S			# [Ŝ]
U+015D	\^s			# [ŝ]
U+015E	\c S			# [Ş]
U+015F	\c s			# [ş]
U+0160	\v S			# [Š]
U+0161	\v s			# [š]
U+0162	\c T			# [Ţ]
U+0163	\c t			# [ţ]
U+0164	\v T			# [Ť]
U+0165	\v t			# [ť]
{
FONTENC T4
U+0166	\textTbar		# [Ŧ]
U+0167	\texttbar		# [ŧ]
}
U+0168	\~U			# [Ũ]
U+0169	\~u			# [ũ]
U+016A	\@tabacckludge=U	# [Ū]
U+016B	\@tabacckludge=u	# [ū]
U+016C	\u U			# [Ŭ]
U+016D	\u u			# [ŭ]
U+016E	\r U			# [Ů]
U+016F	\r u			# [ů]
U+0170	\H U			# [Ű]
U+0171	\H u			# [ű]
U+0172	\k U			# [Ų]
U+0173	\k u			# [ų]
U+0174	\^W			# [Ŵ]
U+0175	\^w			# [ŵ]
U+0176	\^Y			# [Ŷ]
U+0177	\^y			# [ŷ]
U+0178	\"Y			# [Ÿ]
U+0179	\@tabacckludge'Z	# [Ź]
U+017A	\@tabacckludge'z	# [ź]
U+017B	\.Z			# [Ż]
U+017C	\.z			# [ż]
U+017D	\v Z			# [Ž]
U+017E	\v z			# [ž]
