# -*-coding: utf-8;-*-

# Written by MG, modified by DniQ

# Latin Extended-Additional (U+1E00..U+1EFF)

# Macro \charettesubbreve provided by by Francois Charette (various
# macros based on internal macros of the ArabTeX package, copyright
# Klaus Lagally)
PROVIDE MULTILINE
\gdef \charettesubbreve#1{\oalign{#1\crcr\hidewidth% BREVE BELOW U+032E
   \vbox to.2ex{\hbox{\ifnum\fontdimen1\font=0%
     \kern-0.0em\else\kern-0.40em\fi\u{}}\vss}\hidewidth}}%
END

U+1E02	\.B				# [Ḃ]
U+1E03	\.b				# [ḃ]
U+1E04	\d B				# [Ḅ]
U+1E05	\d b				# [ḅ]
U+1E06	\b B				# [Ḇ]
U+1E07	\b b				# [ḇ]
#U+1E08	\@tabacckludge'\CCEDILLA	# [Ḉ]
#U+1E09	\@tabacckludge'\ccedilla	# [ḉ]
U+1E0A	\.D				# [Ḋ]
U+1E0B	\.d				# [ḋ]
U+1E0C	\d D				# [Ḍ]
U+1E0D	\d d				# [ḍ]
U+1E0E	\b D				# [Ḏ]
U+1E0F	\b d				# [ḏ]
U+1E10	\c D				# [Ḑ]
U+1E11	\c d				# [ḑ]
#U+1E12	\textsubcircumflex D		# [Ḓ]
#U+1E13	\textsubcircumflex d		# [ḓ]
#U+1E14	\@tabacckludge`\EMACRON		# [Ḕ]
#U+1E15	\@tabacckludge`\emacron		# [ḕ]
#U+1E16	\@tabacckludge'\EMACRON		# [Ḗ]
#U+1E17	\@tabacckludge'\emacron		# [ḗ]
#U+1E18	\textsubcircumflex E		# [Ḙ]
#U+1E19	\textsubcircumflex e		# [ḙ]
#U+1E1A	\textsubtilde E			# [Ḛ]
#U+1E1B	\textsubtilde e			# [ḛ]
#U+1E1C	\u\ECEDILLA			# [Ḝ]
#U+1E1D	\u\ecedilla			# [ḝ]
U+1E1E	\.F				# [Ḟ]
U+1E1F	\.f				# [ḟ]
U+1E20	\@tabacckludge=G		# [Ḡ]
U+1E21	\@tabacckludge=g		# [ḡ]
U+1E22	\.H				# [Ḣ]
U+1E23	\.h				# [ḣ]
U+1E24	\d H				# [Ḥ]
U+1E25	\d h				# [ḥ]
U+1E26	\"H				# [Ḧ]
U+1E27	\"h				# [ḧ]
U+1E28	\c H				# [Ḩ]
U+1E29	\c h				# [ḩ]
U+1E2A	\charettesubbreve H		# [Ḫ]
U+1E2B	\charettesubbreve h		# [ḫ]
#U+1E2C	\textsubtilde I			# [Ḭ]
#U+1E2D	\textsubtilde i			# [ḭ]
#U+1E2E	\@tabacckludge'\IDIAERESIS	# [Ḯ]
#U+1E2F	\@tabacckludge'\idiaeresis	# [ḯ]
U+1E30	\@tabacckludge'K		# [Ḱ]
U+1E31	\@tabacckludge'k		# [ḱ]
U+1E32	\d K				# [Ḳ]
U+1E33	\d k				# [ḳ]
U+1E34	\b K				# [Ḵ]
U+1E35	\b k				# [ḵ]
U+1E36	\d L				# [Ḷ]
U+1E37	\d l				# [ḷ]
#U+1E38	\d\LMACRON			# [Ḹ]
#U+1E39	\d\lmacron			# [ḹ]
U+1E3A	\b L				# [Ḻ]
U+1E3B	\b l				# [ḻ]
#U+1E3C	\textsubcircumflex L		# [Ḽ]
#U+1E3D	\textsubcircumflex l		# [ḽ]
U+1E3E	\@tabacckludge'M		# [Ḿ]
U+1E3F	\@tabacckludge'm		# [ḿ]
U+1E40	\.M				# [Ṁ]
U+1E41	\.m				# [ṁ]
U+1E42	\d M				# [Ṃ]
U+1E43	\d m				# [ṃ]
U+1E44	\.N				# [Ṅ]
U+1E45	\.n				# [ṅ]
U+1E46	\d N				# [Ṇ]
U+1E47	\d n				# [ṇ]
U+1E48	\b N				# [Ṉ]
U+1E49	\b n				# [ṉ]
#U+1E4A	\textsubcircumflex N		# [Ṋ]
#U+1E4B	\textsubcircumflex n		# [ṋ]
#U+1E4C	\@tabacckludge'\OTILDE		# [Ṍ]
#U+1E4D	\@tabacckludge'\OTILDE		# [ṍ]
#U+1E4E	\"\OTILDE			# [Ṏ]
#U+1E4F	\"\otilde			# [ṏ]
#U+1E50	\@tabacckludge`\OMACRON		# [Ṑ]
#U+1E51	\@tabacckludge`\omacron		# [ṑ]
#U+1E52	\@tabacckludge'\OMACRON		# [Ṓ]
#U+1E53	\@tabacckludge'\omacron		# [ṓ]
U+1E54	\@tabacckludge'P		# [Ṕ]
U+1E55	\@tabacckludge'p		# [ṕ]
U+1E56	\.P				# [Ṗ]
U+1E57	\.p				# [ṗ]
U+1E58	\.R				# [Ṙ]
U+1E59	\.r				# [ṙ]
U+1E5A	\d R				# [Ṛ]
U+1E5B	\d r				# [ṛ]
#U+1E5C	\d\RMACRON			# [Ṝ]
#U+1E5D	\d\rmacron			# [ṝ]
U+1E5E	\b R				# [Ṟ]
U+1E5F	\b r				# [ṟ]
U+1E60	\.S				# [Ṡ]
U+1E61	\.s				# [ṡ]
U+1E62	\d S				# [Ṣ]
U+1E63	\d s				# [ṣ]
#U+1E64	\.\SACUTE			# [Ṥ]
#U+1E65	\.\sacute			# [ṥ]
#U+1E66	\.\SCARON			# [Ṧ]
#U+1E67	\.\scaron			# [ṧ]
#U+1E68	\.\SSUBDOT			# [Ṩ]
#U+1E69	\.\ssubdot			# [ṩ]
U+1E6A	\.T				# [Ṫ]
U+1E6B	\.t				# [ṫ]
U+1E6C	\d T				# [Ṭ]
U+1E6D	\d t				# [ṭ]
U+1E6E	\b T				# [Ṯ]
U+1E6F	\b t				# [ṯ]
#U+1E70	\textsubcircumflex T		# [Ṱ]
#U+1E71	\textsubcircumflex t		# [ṱ]
#U+1E72	\textsubumlaut U		# [Ṳ]
#U+1E73	\textsubumlaut u		# [ṳ]
#U+1E74	\textsubtilde U			# [Ṵ]
#U+1E75	\textsubtilde u			# [ṵ]
#U+1E76	\textsubcircumflex U		# [Ṷ]
#U+1E77	\textsubcircumflex u		# [ṷ]
#U+1E78	\@tabacckludge'\UTILDE		# [Ṹ]
#U+1E79	\@tabacckludge'\utilde		# [ṹ]
#U+1E7A	\"\UMACRON			# [Ṻ]
#U+1E7B	\"\umacron			# [ṻ]
U+1E7C	\~V				# [Ṽ]
U+1E7D	\~v				# [ṽ]
U+1E7E	\d V				# [Ṿ]
U+1E7F	\d v				# [ṿ]
U+1E80	\@tabacckludge`W		# [Ẁ]
U+1E81	\@tabacckludge`w		# [ẁ]
U+1E82	\@tabacckludge'W		# [Ẃ]
U+1E83	\@tabacckludge'w		# [ẃ]
U+1E84	\"W				# [Ẅ]
U+1E85	\"w				# [ẅ]
U+1E86	\.W				# [Ẇ]
U+1E87	\.w				# [ẇ]
U+1E88	\d W				# [Ẉ]
U+1E89	\d w				# [ẉ]
U+1E8A	\.X				# [Ẋ]
U+1E8B	\.x				# [ẋ]
U+1E8C	\"X				# [Ẍ]
U+1E8D	\"x				# [ẍ]
U+1E8E	\.Y				# [Ẏ]
U+1E8F	\.y				# [ẏ]
U+1E90	\^Z				# [Ẑ]
U+1E91	\^z				# [ẑ]
U+1E92	\d Z				# [Ẓ]
U+1E93	\d z				# [ẓ]
U+1E94	\b Z				# [Ẕ]
U+1E95	\b z				# [ẕ]
U+1E96	\b h				# [ẖ]
U+1E97	\"t				# [ẗ]
U+1E98	\r w				# [ẘ]
U+1E99	\r y				# [ẙ]
#U+1E9A	LATIN SMALL LETTER A WITH RIGHT HALF RING # [ẚ]
#U+1E9B	LATIN SMALL LETTER LONG S WITH DOT ABOVE # [ẛ]
# U+1E9B..U+1E9F not assigned in Unicode 3.1

FONTENC T5
PACKAGE [nodblaccnt]{t5}

U+1EA0	\d A				# [Ạ]
U+1EA1	\d a				# [ạ]
U+1EA2	\h A				# [Ả]
U+1EA3	\h a				# [ả]
U+1EA4	\@tabacckludge'\ACIRCUMFLEX	# [Ấ]
U+1EA5	\@tabacckludge'\acircumflex	# [ấ]
U+1EA6	\@tabacckludge`\ACIRCUMFLEX	# [Ầ]
U+1EA7	\@tabacckludge`\acircumflex	# [ầ]
U+1EA8	\h\ACIRCUMFLEX			# [Ẩ]
U+1EA9	\h\acircumflex			# [ẩ]
U+1EAA	\~\ACIRCUMFLEX			# [Ẫ]
U+1EAB	\~\acircumflex			# [ẫ]
U+1EAC	\d\ACIRCUMFLEX			# [Ậ]
U+1EAD	\d\acircumflex			# [ậ]
U+1EAE	\@tabacckludge'\ABREVE		# [Ắ]
U+1EAF	\@tabacckludge'\abreve		# [ắ]
U+1EB0	\@tabacckludge`\ABREVE		# [Ằ]
U+1EB1	\@tabacckludge`\abreve		# [ằ]
U+1EB2	\h\ABREVE			# [Ẳ]
U+1EB3	\h\abreve			# [ẳ]
U+1EB4	\~\ABREVE			# [Ẵ]
U+1EB5	\~\abreve			# [ẵ]
U+1EB6	\d\ABREVE			# [Ặ]
U+1EB7	\d\abreve			# [ặ]
U+1EB8	\d E				# [Ẹ]
U+1EB9	\d e				# [ẹ]
U+1EBA	\h E				# [Ẻ]
U+1EBB	\h e				# [ẻ]
U+1EBC	\~E				# [Ẽ]
U+1EBD	\~e				# [ẽ]
U+1EBE	\@tabacckludge'\ECIRCUMFLEX	# [Ế]
U+1EBF	\@tabacckludge'\ecircumflex	# [ế]
U+1EC0	\@tabacckludge`\ECIRCUMFLEX	# [Ề]
U+1EC1	\@tabacckludge`\ecircumflex	# [ề]
U+1EC2	\h\ECIRCUMFLEX			# [Ể]
U+1EC3	\h\ecircumflex			# [ể]
U+1EC4	\~\ECIRCUMFLEX			# [Ễ]
U+1EC5	\~\ecircumflex			# [ễ]
U+1EC6	\d\ECIRCUMFLEX			# [Ệ]
U+1EC7	\d\ecircumflex			# [ệ]
U+1EC8	\h I				# [Ỉ]
U+1EC9	\h i				# [ỉ]
U+1ECA	\d I				# [Ị]
U+1ECB	\d i				# [ị]
U+1ECC	\d O				# [Ọ]
U+1ECD	\d o				# [ọ]
U+1ECE	\h O				# [Ỏ]
U+1ECF	\h o				# [ỏ]
U+1ED0	\@tabacckludge'\OCIRCUMFLEX	# [Ố]
U+1ED1	\@tabacckludge'\ocircumflex	# [ố]
U+1ED2	\@tabacckludge`\OCIRCUMFLEX	# [Ồ]
U+1ED3	\@tabacckludge`\ocircumflex	# [ồ]
U+1ED4	\h\OCIRCUMFLEX			# [Ổ]
U+1ED5	\h\ocircumflex			# [ổ]
U+1ED6	\~\OCIRCUMFLEX			# [Ỗ]
U+1ED7	\~\ocircumflex			# [ỗ]
U+1ED8	\d\OCIRCUMFLEX			# [Ộ]
U+1ED9	\d\ocircumflex			# [ộ]
U+1EDA	\@tabacckludge'\OHORN		# [Ớ]
U+1EDB	\@tabacckludge'\ohorn		# [ớ]
U+1EDC	\@tabacckludge`\OHORN		# [Ờ]
U+1EDD	\@tabacckludge`\ohorn		# [ờ]
U+1EDE	\h\OHORN			# [Ở]
U+1EDF	\h\ohorn			# [ở]
U+1EE0	\~\OHORN			# [Ỡ]
U+1EE1	\~\ohorn			# [ỡ]
U+1EE2	\d\OHORN			# [Ợ]
U+1EE3	\d\ohorn			# [ợ]
U+1EE4	\d U				# [Ụ]
U+1EE5	\d u				# [ụ]
U+1EE6	\h U				# [Ủ]
U+1EE7	\h u				# [ủ]
U+1EE8	\@tabacckludge'\UHORN		# [Ứ]
U+1EE9	\@tabacckludge'\uhorn		# [ứ]
U+1EEA	\@tabacckludge`\UHORN		# [Ừ]
U+1EEB	\@tabacckludge`\uhorn		# [ừ]
U+1EEC	\h\UHORN			# [Ử]
U+1EED	\h\uhorn			# [ử]
U+1EEE	\~\UHORN			# [Ữ]
U+1EEF	\~\uhorn			# [ữ]
U+1EF0	\d\UHORN			# [Ự]
U+1EF1	\d\uhorn			# [ự]
U+1EF2	\@tabacckludge`Y		# [Ỳ]
U+1EF3	\@tabacckludge`y		# [ỳ]
U+1EF4	\d Y				# [Ỵ]
U+1EF5	\d y				# [ỵ]
U+1EF6	\h Y				# [Ỷ]
U+1EF7	\h y				# [ỷ]
U+1EF8	\~Y				# [Ỹ]
U+1EF9	\~y				# [ỹ]
# U+1EFA..U+1EFF not assigned in Unicode 3.1



