# -*-coding: utf-8;-*-

# The below macros were copied from latin1.def created by the LaTeX3 project.

GLOBAL MULTILINE
\ifx\ProvideTextCommandDefault\undefined\else
\ProvideTextCommandDefault{\textdegree}{\ensuremath{{^\circ}}}
\ProvideTextCommandDefault{\textonehalf}{\ensuremath{\frac12}}
\ProvideTextCommandDefault{\textonequarter}{\ensuremath{\frac14}}
\ProvideTextCommandDefault{\textthreequarters}{\ensuremath{\frac34}}
\fi
END

# Latin-1 Supplement (U+0080..U+00FF)
U+00A0	\nobreakspace			# [ ]
U+00A1	\textexclamdown			# [¡]
U+00A3	\pounds				# [£]
U+00A7	\S				# [§]
U+00A8	\"{\empty}				# [¨]
U+00A9	\copyright			# [©]
U+00AA	\textordfeminine		# [ª]
U+00AB	\guillemotleft			# [«]
U+00AD	\-				# [­]
U+00AE	\textregistered			# [®]
U+00AF	\@tabacckludge={\empty}		# [¯]
U+00B0	\textdegree			# [°]
U+00B4	\@tabacckludge'{\empty}		# [´]
U+00B6	\P				# [¶]
U+00B7	\textperiodcentered		# [·]
U+00B8	\c\space			# [¸]
U+00BA	\textordmasculine		# [º]
U+00BB	\guillemotright			# [»]
U+00BC	\textonequarter			# [¼]  # Ugly, but as in latin1.def
U+00BD	\textonehalf			# [½]  # Ugly, but as in latin1.def
U+00BE	\textthreequarters		# [¾]  # Ugly, but as in latin1.def
U+00BF	\textquestiondown		# [¿]
U+00C0	\@tabacckludge`A		# [À]
U+00C1	\@tabacckludge'A		# [Á]
U+00C2	\^A				# [Â]
U+00C3	\~A				# [Ã]
U+00C4	\"A				# [Ä]
U+00C5	\r A				# [Å]
U+00C6	\AE				# [Æ]
U+00C7	\c C				# [Ç]
U+00C8	\@tabacckludge`E		# [È]
U+00C9	\@tabacckludge'E		# [É]
U+00CA	\^E				# [Ê]
U+00CB	\"E				# [Ë]
U+00CC	\@tabacckludge`I		# [Ì]
U+00CD	\@tabacckludge'I		# [Í]
U+00CE	\^I				# [Î]
U+00CF	\"I				# [Ï]
U+00D0	\DH				# [Ð]
U+00D1	\~N				# [Ñ]
U+00D2	\@tabacckludge`O		# [Ò]
U+00D3	\@tabacckludge'O		# [Ó]
U+00D4	\^O				# [Ô]
U+00D5	\~O				# [Õ]
U+00D6	\"O				# [Ö]
U+00D8	\O				# [Ø]
U+00D9	\@tabacckludge`U		# [Ù]
U+00DA	\@tabacckludge'U		# [Ú]
U+00DB	\^U				# [Û]
U+00DC	\"U				# [Ü]
U+00DD	\@tabacckludge'Y		# [Ý]
U+00DE	\TH				# [Þ]
U+00DF	\ss				# [ß]
U+00E0	\@tabacckludge`a		# [à]
U+00E1	\@tabacckludge'a		# [á]
U+00E2	\^a				# [â]
U+00E3	\~a				# [ã]
U+00E4	\"a				# [ä]
U+00E5	\r a				# [å]
U+00E6	\ae				# [æ]
U+00E7	\c c				# [ç]
U+00E8	\@tabacckludge`e		# [è]
U+00E9	\@tabacckludge'e		# [é]
U+00EA	\^e				# [ê]
U+00EB	\"e				# [ë]
U+00EC	\@tabacckludge`\i		# [ì]
U+00ED	\@tabacckludge'\i		# [í]
U+00EE	\^\i				# [î]
U+00EF	\"\i				# [ï]
U+00F0	\dh				# [ð]
U+00F1	\~n				# [ñ]
U+00F2	\@tabacckludge`o		# [ò]
U+00F3	\@tabacckludge'o		# [ó]
U+00F4	\^o				# [ô]
U+00F5	\~o				# [õ]
U+00F6	\"o				# [ö]
U+00F8	\o				# [ø]
U+00F9	\@tabacckludge`u		# [ù]
U+00FA	\@tabacckludge'u		# [ú]
U+00FB	\^u				# [û]
U+00FC	\"u				# [ü]
U+00FD	\@tabacckludge'y		# [ý]
U+00FE	\th				# [þ]
U+00FF	\"y				# [ÿ]

U+00B1	\ensuremath{\pm}		# [±]
#U+00B9	see supersub.ucf		# [¹]
#U+00B2	see supersub.ucf		# [²]
#U+00B3	see supersub.ucf		# [³]
U+00B5	\ensuremath{\mu}		# [µ]
U+00AC	\ensuremath{\lnot}		# [¬]
U+00D7	\ensuremath{\times}		# [×]
U+00F7	\ensuremath{\div}		# [÷]

{
FONTENC TS1
U+00A2	\textcent			# [¢]
U+00A4	\textcurrency			# [¤]
U+00A5	\textyen			# [¥]
U+00A6	\textbrokenbar			# [¦]
}
