# -*-coding: mule-utf-8; tab-width: 8;-*-
# Mathematical Alphanumerical Symbols



{
OPTION mathletters
ENVELOPE \ensuremath{@@@}

U+0391	\mathrm A		# [Α]
U+0392	\mathrm B		# [Β]
U+0393	\Gamma			# [Γ]
U+0394	\Delta			# [Δ]
U+0395	\mathrm E		# [Ε]
U+0396	\mathrm Z		# [Ζ]
U+0397	\mathrm H		# [Η]
U+0398	\Theta			# [Θ]
U+0399	\mathrm I		# [Ι]
U+039A	\mathrm K		# [Κ]
U+039B	\Lambda			# [Λ]
U+039C	\mathrm M		# [Μ]
U+039D	\mathrm N		# [Ν]
U+039E	\Xi			# [Ξ]
U+039F	\mathrm O		# [Ο]
U+03A0	\Pi			# [Π]
U+03A1	\mathrm P		# [Ρ]
# character U+03A2 unassigned in Unicode 3.1
U+03A3	\Sigma			# [Σ]
U+03A4	\mathrm T		# [Τ]
U+03A5	\Upsilon		# [Υ]
U+03A6	\Phi			# [Φ]
U+03A7	\mathrm X		# [Χ]
U+03A8	\Psi			# [Ψ]
U+03A9	\Omega			# [Ω]

U+03B1	\alpha			# [α]
U+03B2	\beta			# [β]
U+03B3	\gamma			# [γ]
U+03B4	\delta			# [δ]
U+03B5	\varepsilon		# [ε]
U+03B6	\zeta			# [ζ]
U+03B7	\eta			# [η]
U+03B8	\theta			# [θ]
U+03B9	\iota			# [ι]
U+03BA	\kappa			# [κ]
U+03BB	\lambda			# [λ]
U+03BC	\mu			# [μ]
U+03BD	\nu			# [ν]
U+03BE	\xi			# [ξ]
U+03BF	o			# [ο]
U+03C0	\pi			# [π]
U+03C1	\rho			# [ρ]
U+03C2	\varsigma		# [ς]
U+03C3	\sigma			# [σ]
U+03C4	\tau			# [τ]
U+03C5	\upsilon		# [υ]
U+03C6	\varphi			# [φ]
U+03C7	\chi			# [χ]
U+03C8	\psi			# [ψ]
U+03C9	\omega			# [ω]

U+03D1	\vartheta		# [ϑ]
U+03D5	\phi			# [ϕ]
U+03D6	\varpi			# [ϖ]
{
PACKAGE amssymb
U+03F0	\varkappa		# [ϰ]
}
U+03F1	\varrho			# [ϱ]
U+03F5	\epsilon		# [ϵ]
}

{
ENVELOPE \ensuremath{@@@}

U+210F	\hbar	# [ℏ]
U+2113	\ell	# [ℓ]
U+2118	\wp	# [℘]
U+2126	\Omega	# [Ω]
U+2127	\mho	# [℧]
U+211C	\Re	# [ℜ]
U+2111	\Im	# [ℑ]
U+2134	o	# [ℴ]
U+212A	\mathrm K	# [K]
}

{
ENVELOPE \ensuremath@@@

OPTION mathletters
U+05D0	\aleph		# [א]

OPTION default
U+2135	\aleph	# [ℵ]

ENVELOPE \ensuremath@@@
PACKAGE amssymb

OPTION mathletters
U+05D1	\beth		# [ב], needs amssymb
U+05D2	\gimel		# [ג], needs amssymb
U+05D3	\daleth		# [ד], needs amssymb

OPTION default
U+2136	\beth		# [ℶ]
U+2137	\gimel		# [ℷ]
U+2138	\daleth		# [ℸ]
}


{
ENVELOPE	\ensuremath{\mathbf @@@}

U+1D400	A	# [𝐀]
U+1D401	B	# [𝐁]
U+1D402	C	# [𝐂]
U+1D403	D	# [𝐃]
U+1D404	E	# [𝐄]
U+1D405	F	# [𝐅]
U+1D406	G	# [𝐆]
U+1D407	H	# [𝐇]
U+1D408	I	# [𝐈]
U+1D409	J	# [𝐉]
U+1D40A	K	# [𝐊]
U+1D40B	L	# [𝐋]
U+1D40C	M	# [𝐌]
U+1D40D	N	# [𝐍]
U+1D40E	O	# [𝐎]
U+1D40F	P	# [𝐏]
U+1D410	Q	# [𝐐]
U+1D411	R	# [𝐑]
U+1D412	S	# [𝐒]
U+1D413	T	# [𝐓]
U+1D414	U	# [𝐔]
U+1D415	V	# [𝐕]
U+1D416	W	# [𝐖]
U+1D417	X	# [𝐗]
U+1D418	Y	# [𝐘]
U+1D419	Z	# [𝐙]
U+1D41A	a	# [𝐚]
U+1D41B	b	# [𝐛]
U+1D41C	c	# [𝐜]
U+1D41D	d	# [𝐝]
U+1D41E	e	# [𝐞]
U+1D41F	f	# [𝐟]
U+1D420	g	# [𝐠]
U+1D421	h	# [𝐡]
U+1D422	i	# [𝐢]
U+1D423	j	# [𝐣]
U+1D424	k	# [𝐤]
U+1D425	l	# [𝐥]
U+1D426	m	# [𝐦]
U+1D427	n	# [𝐧]
U+1D428	o	# [𝐨]
U+1D429	p	# [𝐩]
U+1D42A	q	# [𝐪]
U+1D42B	r	# [𝐫]
U+1D42C	s	# [𝐬]
U+1D42D	t	# [𝐭]
U+1D42E	u	# [𝐮]
U+1D42F	v	# [𝐯]
U+1D430	w	# [𝐰]
U+1D431	x	# [𝐱]
U+1D432	y	# [𝐲]
U+1D433	z	# [𝐳]
}

{
ENVELOPE	\ensuremath{\mathit @@@}

U+1D434	A	# [𝐴]
U+1D435	B	# [𝐵]
U+1D436	C	# [𝐶]
U+1D437	D	# [𝐷]
U+1D438	E	# [𝐸]
U+1D439	F	# [𝐹]
U+1D43A	G	# [𝐺]
U+1D43B	H	# [𝐻]
U+1D43C	I	# [𝐼]
U+1D43D	J	# [𝐽]
U+1D43E	K	# [𝐾]
U+1D43F	L	# [𝐿]
U+1D440	M	# [𝑀]
U+1D441	N	# [𝑁]
U+1D442	O	# [𝑂]
U+1D443	P	# [𝑃]
U+1D444	Q	# [𝑄]
U+1D445	R	# [𝑅]
U+1D446	S	# [𝑆]
U+1D447	T	# [𝑇]
U+1D448	U	# [𝑈]
U+1D449	V	# [𝑉]
U+1D44A	W	# [𝑊]
U+1D44B	X	# [𝑋]
U+1D44C	Y	# [𝑌]
U+1D44D	Z	# [𝑍]
U+1D44E	a	# [𝑎]
U+1D44F	b	# [𝑏]
U+1D450	c	# [𝑐]
U+1D451	d	# [𝑑]
U+1D452	e	# [𝑒]
U+1D453	f	# [𝑓]
U+1D454	g	# [𝑔]
# char U+1D455 reserved in Unicode 3.1
U+210E	h	# [ℎ]
U+1D456	i	# [𝑖]
U+1D457	j	# [𝑗]
U+1D458	k	# [𝑘]
U+1D459	l	# [𝑙]
U+1D45A	m	# [𝑚]
U+1D45B	n	# [𝑛]
U+1D45C	o	# [𝑜]
U+1D45D	p	# [𝑝]
U+1D45E	q	# [𝑞]
U+1D45F	r	# [𝑟]
U+1D460	s	# [𝑠]
U+1D461	t	# [𝑡]
U+1D462	u	# [𝑢]
U+1D463	v	# [𝑣]
U+1D464	w	# [𝑤]
U+1D465	x	# [𝑥]
U+1D466	y	# [𝑦]
U+1D467	z	# [𝑧]
}

# {
# ENVELOPE	\ensuremath{\mathbfit @@@}  # Bold + Italic
# U+1D468	A	# [𝑨]
# U+1D469	B	# [𝑩]
# U+1D46A	C	# [𝑪]
# U+1D46B	D	# [𝑫]
# U+1D46C	E	# [𝑬]
# U+1D46D	F	# [𝑭]
# U+1D46E	G	# [𝑮]
# U+1D46F	H	# [𝑯]
# U+1D470	I	# [𝑰]
# U+1D471	J	# [𝑱]
# U+1D472	K	# [𝑲]
# U+1D473	L	# [𝑳]
# U+1D474	M	# [𝑴]
# U+1D475	N	# [𝑵]
# U+1D476	O	# [𝑶]
# U+1D477	P	# [𝑷]
# U+1D478	Q	# [𝑸]
# U+1D479	R	# [𝑹]
# U+1D47A	S	# [𝑺]
# U+1D47B	T	# [𝑻]
# U+1D47C	U	# [𝑼]
# U+1D47D	V	# [𝑽]
# U+1D47E	W	# [𝑾]
# U+1D47F	X	# [𝑿]
# U+1D480	Y	# [𝒀]
# U+1D481	Z	# [𝒁]
# U+1D482	a	# [𝒂]
# U+1D483	b	# [𝒃]
# U+1D484	c	# [𝒄]
# U+1D485	d	# [𝒅]
# U+1D486	e	# [𝒆]
# U+1D487	f	# [𝒇]
# U+1D488	g	# [𝒈]
# U+1D489	h	# [𝒉]
# U+1D48A	i	# [𝒊]
# U+1D48B	j	# [𝒋]
# U+1D48C	k	# [𝒌]
# U+1D48D	l	# [𝒍]
# U+1D48E	m	# [𝒎]
# U+1D48F	n	# [𝒏]
# U+1D490	o	# [𝒐]
# U+1D491	p	# [𝒑]
# U+1D492	q	# [𝒒]
# U+1D493	r	# [𝒓]
# U+1D494	s	# [𝒔]
# U+1D495	t	# [𝒕]
# U+1D496	u	# [𝒖]
# U+1D497	v	# [𝒗]
# U+1D498	w	# [𝒘]
# U+1D499	x	# [𝒙]
# U+1D49A	y	# [𝒚]
# U+1D49B	z	# [𝒛]
# }

{
ENVELOPE	\ensuremath{\mathscr @@@}   # Double-struck
PACKAGE		[mathscr]{euscript}

U+1D49C		A	# [𝒜]
# position U+1D49D reserved in Unicode 3.1
U+212C		B	# [ℬ]
U+1D49E		C	# [𝒞]
U+1D49F		D	# [𝒟]
# position U+1D4A0 reserved in Unicode 3.1
U+2130		E	# [ℰ]
# position U+1D4A1 reserved in Unicode 3.1
U+2131		F	# [ℱ]
U+1D4A2		G	# [𝒢]
# position U+1D4A3 reserved in Unicode 3.1
U+210B		H	# [ℋ]
# position U+1D4A4 reserved in Unicode 3.1
U+2110		I	# [ℐ]
U+1D4A5		J	# [𝒥]
U+1D4A6		K	# [𝒦]
# position U+1D4A7 reserved in Unicode 3.1
U+2112		L	# [ℒ]
# position U+1D4A8 reserved in Unicode 3.1
U+2133		M	# [ℳ]
U+1D4A9		N	# [𝒩]
U+1D4AA		O	# [𝒪]
U+1D4AB		P	# [𝒫]
U+1D4AC		Q	# [𝒬]
# position U+1D4AD reserved in Unicode 3.1
U+211B		R	# [ℛ]
U+1D4AE		S	# [𝒮]
U+1D4AF		T	# [𝒯]
U+1D4B0		U	# [𝒰]
U+1D4B1		V	# [𝒱]
U+1D4B2		W	# [𝒲]
U+1D4B3		X	# [𝒳]
U+1D4B4		Y	# [𝒴]
U+1D4B5		Z	# [𝒵]
}

# {
# ENVELOPE	\ensuremath{\mathscrsmall @@@}   # Script small letters
# PACKAGE		[mathscr]{euscript}
# U+1D4B6	a	# [𝒶]
# U+1D4B7	b	# [𝒷]
# U+1D4B8	c	# [𝒸]
# U+1D4B9	d	# [𝒹]
# # position U+1D4BA reserved in Unicode 3.1
# U+212F	e	# [ℯ]
# U+1D4BB	f	# [𝒻]
# # position U+1D4BC reserved in Unicode 3.1
# U+210A	g	# [ℊ]
# U+1D4BD	h	# [𝒽]
# U+1D4BE	i	# [𝒾]
# U+1D4BF	j	# [𝒿]
# U+1D4C0	k	# [𝓀]
# # position U+1D4C1 reserved in Unicode 3.1
# U+2113	l	# [ℓ]
# U+1D4C2	m	# [𝓂]
# U+1D4C3	n	# [𝓃]
# # position U+1D4C4 reserved in Unicode 3.1
# U+2134	o	# [ℴ]
# U+1D4C5	p	# [𝓅]
# U+1D4C6	q	# [𝓆]
# U+1D4C7	r	# [𝓇]
# U+1D4C8	s	# [𝓈]
# U+1D4C9	t	# [𝓉]
# U+1D4CA	u	# [𝓊]
# U+1D4CB	v	# [𝓋]
# U+1D4CC	w	# [𝓌]
# U+1D4CD	x	# [𝓍]
# U+1D4CE	y	# [𝓎]
# U+1D4CF	z	# [𝓏]
# }

# {
# ENVELOPE	\ensuremath{\mathbfcal @@@} # Script + Bold
# U+1D4D0	A	# [𝓐]
# U+1D4D1	B	# [𝓑]
# U+1D4D2	C	# [𝓒]
# U+1D4D3	D	# [𝓓]
# U+1D4D4	E	# [𝓔]
# U+1D4D5	F	# [𝓕]
# U+1D4D6	G	# [𝓖]
# U+1D4D7	H	# [𝓗]
# U+1D4D8	I	# [𝓘]
# U+1D4D9	J	# [𝓙]
# U+1D4DA	K	# [𝓚]
# U+1D4DB	L	# [𝓛]
# U+1D4DC	M	# [𝓜]
# U+1D4DD	N	# [𝓝]
# U+1D4DE	O	# [𝓞]
# U+1D4DF	P	# [𝓟]
# U+1D4E0	Q	# [𝓠]
# U+1D4E1	R	# [𝓡]
# U+1D4E2	S	# [𝓢]
# U+1D4E3	T	# [𝓣]
# U+1D4E4	U	# [𝓤]
# U+1D4E5	V	# [𝓥]
# U+1D4E6	W	# [𝓦]
# U+1D4E7	X	# [𝓧]
# U+1D4E8	Y	# [𝓨]
# U+1D4E9	Z	# [𝓩]
# }

# {
# ENVELOPE    \ensuremath{\mathbfcalsmall @@@}   # Script small letters + Bold
# U+1D4EA	a	# [𝓪]
# U+1D4EB	b	# [𝓫]
# U+1D4EC	c	# [𝓬]
# U+1D4ED	d	# [𝓭]
# U+1D4EE	e	# [𝓮]
# U+1D4EF	f	# [𝓯]
# U+1D4F0	g	# [𝓰]
# U+1D4F1	h	# [𝓱]
# U+1D4F2	i	# [𝓲]
# U+1D4F3	j	# [𝓳]
# U+1D4F4	k	# [𝓴]
# U+1D4F5	l	# [𝓵]
# U+1D4F6	m	# [𝓶]
# U+1D4F7	n	# [𝓷]
# U+1D4F8	o	# [𝓸]
# U+1D4F9	p	# [𝓹]
# U+1D4FA	q	# [𝓺]
# U+1D4FB	r	# [𝓻]
# U+1D4FC	s	# [𝓼]
# U+1D4FD	t	# [𝓽]
# U+1D4FE	u	# [𝓾]
# U+1D4FF	v	# [𝓿]
# U+1D500	w	# [𝔀]
# U+1D501	x	# [𝔁]
# U+1D502	y	# [𝔂]
# U+1D503	z	# [𝔃]
# }

{
ENVELOPE	\ensuremath{\mathfrak @@@}  # Fraktur
PACKAGE		amsfonts

U+1D504		A	# [𝔄]
U+1D505		B	# [𝔅]
# position U+1D506 reserved in Unicode 3.1
U+212D	   	C	# [ℭ]
U+1D507		D	# [𝔇]
U+1D508		E	# [𝔈]
U+1D509		F	# [𝔉]
U+1D50A		G	# [𝔊]
# position U+1D50B reserved in Unicode 3.1
U+210C		H	# [ℌ]
# position U+1D50C reserved in Unicode 3.1
# U+2111 see math.ucf	# [ℑ]
U+1D50D		J	# [𝔍]
U+1D50E		K	# [𝔎]
U+1D50F		L	# [𝔏]
U+1D510		M	# [𝔐]
U+1D511		N	# [𝔑]
U+1D512		O	# [𝔒]
U+1D513		P	# [𝔓]
U+1D514		Q	# [𝔔]
# position U+1D515 reserved in Unicode 3.1
# U+211C see math.ucf	# [ℜ]
U+1D516		S	# [𝔖]
U+1D517		T	# [𝔗]
U+1D518		U	# [𝔘]
U+1D519		V	# [𝔙]
U+1D51A		W	# [𝔚]
U+1D51B		X	# [𝔛]
U+1D51C		Y	# [𝔜]
# position U+1D51D reserved in Unicode 3.1
U+2128		Z	# [ℨ]
U+1D51E		a	# [𝔞]
U+1D51F		b	# [𝔟]
U+1D520		c	# [𝔠]
U+1D521		d	# [𝔡]
U+1D522		e	# [𝔢]
U+1D523		f	# [𝔣]
U+1D524		g	# [𝔤]
U+1D525		h	# [𝔥]
U+1D526		i	# [𝔦]
U+1D527		j	# [𝔧]
U+1D528		k	# [𝔨]
U+1D529		l	# [𝔩]
U+1D52A		m	# [𝔪]
U+1D52B		n	# [𝔫]
U+1D52C		o	# [𝔬]
U+1D52D		p	# [𝔭]
U+1D52E		q	# [𝔮]
U+1D52F		r	# [𝔯]
U+1D530		s	# [𝔰]
U+1D531		t	# [𝔱]
U+1D532		u	# [𝔲]
U+1D533		v	# [𝔳]
U+1D534		w	# [𝔴]
U+1D535		x	# [𝔵]
U+1D536		y	# [𝔶]
U+1D537		z	# [𝔷]
}

{
ENVELOPE	\ensuremath{\mathbb @@@}   # Double-struck
PACKAGE		amssymb

U+1D538		A	# [𝔸]
U+1D539		B	# [𝔹]
# position U+1D53A reserved in Unicode 3.1
U+2102		C	# [ℂ]
U+1D53B		D	# [𝔻]
U+1D53C		E	# [𝔼]
U+1D53D		F	# [𝔽]
U+1D53E		G	# [𝔾]
# position U+1D53F reserved in Unicode 3.1
U+210D		H	# [ℍ]
U+1D540		I	# [𝕀]
U+1D541		J	# [𝕁]
U+1D542		K	# [𝕂]
U+1D543		L	# [𝕃]
U+1D544		M	# [𝕄]
# position U+1D545 reserved in Unicode 3.1
U+2115		N	# [ℕ]
U+1D546		O	# [𝕆]
# position U+1D547 reserved in Unicode 3.1
U+2119		P	# [ℙ]
# position U+1D548 reserved in Unicode 3.1
U+211A		Q	# [ℚ]
# position U+1D549 reserved in Unicode 3.1
U+211D		R	# [ℝ]
U+1D54A		S	# [𝕊]
U+1D54B		T	# [𝕋]
U+1D54C		U	# [𝕌]
U+1D54D		V	# [𝕍]
U+1D54E		W	# [𝕎]
U+1D54F		X	# [𝕏]
U+1D550		Y	# [𝕐]
# position U+1D551 reserved in Unicode 3.1
U+2124		Z	# [ℤ]

# U+1D552	a	# [𝕒]
# U+1D553	b	# [𝕓]
# U+1D554	c	# [𝕔]
# U+1D555	d	# [𝕕]
# U+1D556	e	# [𝕖]
# U+1D557	f	# [𝕗]
# U+1D558	g	# [𝕘]
# U+1D559	h	# [𝕙]
# U+1D55A	i	# [𝕚]
# U+1D55B	j	# [𝕛]
# U+1D55C	k	# [𝕜]
# U+1D55D	l	# [𝕝]
# U+1D55E	m	# [𝕞]
# U+1D55F	n	# [𝕟]
# U+1D560	o	# [𝕠]
# U+1D561	p	# [𝕡]
# U+1D562	q	# [𝕢]
# U+1D563	r	# [𝕣]
# U+1D564	s	# [𝕤]
# U+1D565	t	# [𝕥]
# U+1D566	u	# [𝕦]
# U+1D567	v	# [𝕧]
# U+1D568	w	# [𝕨]
# U+1D569	x	# [𝕩]
# U+1D56A	y	# [𝕪]
# U+1D56B	z	# [𝕫]

# U+1D7D8	0	# [𝟘]
# U+1D7D9	1	# [𝟙]
# U+1D7DA	2	# [𝟚]
# U+1D7DB	3	# [𝟛]
# U+1D7DC	4	# [𝟜]
# U+1D7DD	5	# [𝟝]
# U+1D7DE	6	# [𝟞]
# U+1D7DF	7	# [𝟟]
# U+1D7E0	8	# [𝟠]
# U+1D7E1	9	# [𝟡]
}

# {
# ENVELOPE	\ensuremath{\mathbffrak @@@} # Fraktur + Bold
# PACKAGE	amsfonts
# U+1D56C	A	# [𝕬]
# U+1D56D	B	# [𝕭]
# U+1D56E	C	# [𝕮]
# U+1D56F	D	# [𝕯]
# U+1D570	E	# [𝕰]
# U+1D571	F	# [𝕱]
# U+1D572	G	# [𝕲]
# U+1D573	H	# [𝕳]
# U+1D574	I	# [𝕴]
# U+1D575	J	# [𝕵]
# U+1D576	K	# [𝕶]
# U+1D577	L	# [𝕷]
# U+1D578	M	# [𝕸]
# U+1D579	N	# [𝕹]
# U+1D57A	O	# [𝕺]
# U+1D57B	P	# [𝕻]
# U+1D57C	Q	# [𝕼]
# U+1D57D	R	# [𝕽]
# U+1D57E	S	# [𝕾]
# U+1D57F	T	# [𝕿]
# U+1D580	U	# [𝖀]
# U+1D581	V	# [𝖁]
# U+1D582	W	# [𝖂]
# U+1D583	X	# [𝖃]
# U+1D584	Y	# [𝖄]
# U+1D585	Z	# [𝖅]
# U+1D586	a	# [𝖆]
# U+1D587	b	# [𝖇]
# U+1D588	c	# [𝖈]
# U+1D589	d	# [𝖉]
# U+1D58A	e	# [𝖊]
# U+1D58B	f	# [𝖋]
# U+1D58C	g	# [𝖌]
# U+1D58D	h	# [𝖍]
# U+1D58E	i	# [𝖎]
# U+1D58F	j	# [𝖏]
# U+1D590	k	# [𝖐]
# U+1D591	l	# [𝖑]
# U+1D592	m	# [𝖒]
# U+1D593	n	# [𝖓]
# U+1D594	o	# [𝖔]
# U+1D595	p	# [𝖕]
# U+1D596	q	# [𝖖]
# U+1D597	r	# [𝖗]
# U+1D598	s	# [𝖘]
# U+1D599	t	# [𝖙]
# U+1D59A	u	# [𝖚]
# U+1D59B	v	# [𝖛]
# U+1D59C	w	# [𝖜]
# U+1D59D	x	# [𝖝]
# U+1D59E	y	# [𝖞]
# U+1D59F	z	# [𝖟]
# }

{
ENVELOPE	\ensuremath{\mathsf @@@} # Sans-Serif

U+1D5A0	A	# [𝖠]
U+1D5A1	B	# [𝖡]
U+1D5A2	C	# [𝖢]
U+1D5A3	D	# [𝖣]
U+1D5A4	E	# [𝖤]
U+1D5A5	F	# [𝖥]
U+1D5A6	G	# [𝖦]
U+1D5A7	H	# [𝖧]
U+1D5A8	I	# [𝖨]
U+1D5A9	J	# [𝖩]
U+1D5AA	K	# [𝖪]
U+1D5AB	L	# [𝖫]
U+1D5AC	M	# [𝖬]
U+1D5AD	N	# [𝖭]
U+1D5AE	O	# [𝖮]
U+1D5AF	P	# [𝖯]
U+1D5B0	Q	# [𝖰]
U+1D5B1	R	# [𝖱]
U+1D5B2	S	# [𝖲]
U+1D5B3	T	# [𝖳]
U+1D5B4	U	# [𝖴]
U+1D5B5	V	# [𝖵]
U+1D5B6	W	# [𝖶]
U+1D5B7	X	# [𝖷]
U+1D5B8	Y	# [𝖸]
U+1D5B9	Z	# [𝖹]
U+1D5BA	a	# [𝖺]
U+1D5BB	b	# [𝖻]
U+1D5BC	c	# [𝖼]
U+1D5BD	d	# [𝖽]
U+1D5BE	e	# [𝖾]
U+1D5BF	f	# [𝖿]
U+1D5C0	g	# [𝗀]
U+1D5C1	h	# [𝗁]
U+1D5C2	i	# [𝗂]
U+1D5C3	j	# [𝗃]
U+1D5C4	k	# [𝗄]
U+1D5C5	l	# [𝗅]
U+1D5C6	m	# [𝗆]
U+1D5C7	n	# [𝗇]
U+1D5C8	o	# [𝗈]
U+1D5C9	p	# [𝗉]
U+1D5CA	q	# [𝗊]
U+1D5CB	r	# [𝗋]
U+1D5CC	s	# [𝗌]
U+1D5CD	t	# [𝗍]
U+1D5CE	u	# [𝗎]
U+1D5CF	v	# [𝗏]
U+1D5D0	w	# [𝗐]
U+1D5D1	x	# [𝗑]
U+1D5D2	y	# [𝗒]
U+1D5D3	z	# [𝗓]
}

# {
# ENVELOPE	\ensuremath{\mathsfbf @@@} # Sans-Serif + Bold
# U+1D5D4	A	# [𝗔]
# U+1D5D5	B	# [𝗕]
# U+1D5D6	C	# [𝗖]
# U+1D5D7	D	# [𝗗]
# U+1D5D8	E	# [𝗘]
# U+1D5D9	F	# [𝗙]
# U+1D5DA	G	# [𝗚]
# U+1D5DB	H	# [𝗛]
# U+1D5DC	I	# [𝗜]
# U+1D5DD	J	# [𝗝]
# U+1D5DE	K	# [𝗞]
# U+1D5DF	L	# [𝗟]
# U+1D5E0	M	# [𝗠]
# U+1D5E1	N	# [𝗡]
# U+1D5E2	O	# [𝗢]
# U+1D5E3	P	# [𝗣]
# U+1D5E4	Q	# [𝗤]
# U+1D5E5	R	# [𝗥]
# U+1D5E6	S	# [𝗦]
# U+1D5E7	T	# [𝗧]
# U+1D5E8	U	# [𝗨]
# U+1D5E9	V	# [𝗩]
# U+1D5EA	W	# [𝗪]
# U+1D5EB	X	# [𝗫]
# U+1D5EC	Y	# [𝗬]
# U+1D5ED	Z	# [𝗭]
# U+1D5EE	a	# [𝗮]
# U+1D5EF	b	# [𝗯]
# U+1D5F0	c	# [𝗰]
# U+1D5F1	d	# [𝗱]
# U+1D5F2	e	# [𝗲]
# U+1D5F3	f	# [𝗳]
# U+1D5F4	g	# [𝗴]
# U+1D5F5	h	# [𝗵]
# U+1D5F6	i	# [𝗶]
# U+1D5F7	j	# [𝗷]
# U+1D5F8	k	# [𝗸]
# U+1D5F9	l	# [𝗹]
# U+1D5FA	m	# [𝗺]
# U+1D5FB	n	# [𝗻]
# U+1D5FC	o	# [𝗼]
# U+1D5FD	p	# [𝗽]
# U+1D5FE	q	# [𝗾]
# U+1D5FF	r	# [𝗿]
# U+1D600	s	# [𝘀]
# U+1D601	t	# [𝘁]
# U+1D602	u	# [𝘂]
# U+1D603	v	# [𝘃]
# U+1D604	w	# [𝘄]
# U+1D605	x	# [𝘅]
# U+1D606	y	# [𝘆]
# U+1D607	z	# [𝘇]
# }

# {
# ENVELOPE	\ensuremath{\mathsfit @@@} # Sans-Serif + Italic
# U+1D608	A	# [𝘈]
# U+1D609	B	# [𝘉]
# U+1D60A	C	# [𝘊]
# U+1D60B	D	# [𝘋]
# U+1D60C	E	# [𝘌]
# U+1D60D	F	# [𝘍]
# U+1D60E	G	# [𝘎]
# U+1D60F	H	# [𝘏]
# U+1D610	I	# [𝘐]
# U+1D611	J	# [𝘑]
# U+1D612	K	# [𝘒]
# U+1D613	L	# [𝘓]
# U+1D614	M	# [𝘔]
# U+1D615	N	# [𝘕]
# U+1D616	O	# [𝘖]
# U+1D617	P	# [𝘗]
# U+1D618	Q	# [𝘘]
# U+1D619	R	# [𝘙]
# U+1D61A	S	# [𝘚]
# U+1D61B	T	# [𝘛]
# U+1D61C	U	# [𝘜]
# U+1D61D	V	# [𝘝]
# U+1D61E	W	# [𝘞]
# U+1D61F	X	# [𝘟]
# U+1D620	Y	# [𝘠]
# U+1D621	Z	# [𝘡]
# U+1D622	a	# [𝘢]
# U+1D623	b	# [𝘣]
# U+1D624	c	# [𝘤]
# U+1D625	d	# [𝘥]
# U+1D626	e	# [𝘦]
# U+1D627	f	# [𝘧]
# U+1D628	g	# [𝘨]
# U+1D629	h	# [𝘩]
# U+1D62A	i	# [𝘪]
# U+1D62B	j	# [𝘫]
# U+1D62C	k	# [𝘬]
# U+1D62D	l	# [𝘭]
# U+1D62E	m	# [𝘮]
# U+1D62F	n	# [𝘯]
# U+1D630	o	# [𝘰]
# U+1D631	p	# [𝘱]
# U+1D632	q	# [𝘲]
# U+1D633	r	# [𝘳]
# U+1D634	s	# [𝘴]
# U+1D635	t	# [𝘵]
# U+1D636	u	# [𝘶]
# U+1D637	v	# [𝘷]
# U+1D638	w	# [𝘸]
# U+1D639	x	# [𝘹]
# U+1D63A	y	# [𝘺]
# U+1D63B	z	# [𝘻]
# }

# {
# ENVELOPE	\ensuremath{\mathsfbfit @@@} # Sans-Serif + Bold + Italic
# U+1D63C	A	# [𝘼]
# U+1D63D	B	# [𝘽]
# U+1D63E	C	# [𝘾]
# U+1D63F	D	# [𝘿]
# U+1D640	E	# [𝙀]
# U+1D641	F	# [𝙁]
# U+1D642	G	# [𝙂]
# U+1D643	H	# [𝙃]
# U+1D644	I	# [𝙄]
# U+1D645	J	# [𝙅]
# U+1D646	K	# [𝙆]
# U+1D647	L	# [𝙇]
# U+1D648	M	# [𝙈]
# U+1D649	N	# [𝙉]
# U+1D64A	O	# [𝙊]
# U+1D64B	P	# [𝙋]
# U+1D64C	Q	# [𝙌]
# U+1D64D	R	# [𝙍]
# U+1D64E	S	# [𝙎]
# U+1D64F	T	# [𝙏]
# U+1D650	U	# [𝙐]
# U+1D651	V	# [𝙑]
# U+1D652	W	# [𝙒]
# U+1D653	X	# [𝙓]
# U+1D654	Y	# [𝙔]
# U+1D655	Z	# [𝙕]
# U+1D656	a	# [𝙖]
# U+1D657	b	# [𝙗]
# U+1D658	c	# [𝙘]
# U+1D659	d	# [𝙙]
# U+1D65A	e	# [𝙚]
# U+1D65B	f	# [𝙛]
# U+1D65C	g	# [𝙜]
# U+1D65D	h	# [𝙝]
# U+1D65E	i	# [𝙞]
# U+1D65F	j	# [𝙟]
# U+1D660	k	# [𝙠]
# U+1D661	l	# [𝙡]
# U+1D662	m	# [𝙢]
# U+1D663	n	# [𝙣]
# U+1D664	o	# [𝙤]
# U+1D665	p	# [𝙥]
# U+1D666	q	# [𝙦]
# U+1D667	r	# [𝙧]
# U+1D668	s	# [𝙨]
# U+1D669	t	# [𝙩]
# U+1D66A	u	# [𝙪]
# U+1D66B	v	# [𝙫]
# U+1D66C	w	# [𝙬]
# U+1D66D	x	# [𝙭]
# U+1D66E	y	# [𝙮]
# U+1D66F	z	# [𝙯]
# }

{
ENVELOPE	\ensuremath{\mathtt @@@} # Monospace

U+1D670		A	# [𝙰]
U+1D671		B	# [𝙱]
U+1D672		C	# [𝙲]
U+1D673		D	# [𝙳]
U+1D674		E	# [𝙴]
U+1D675		F	# [𝙵]
U+1D676		G	# [𝙶]
U+1D677		H	# [𝙷]
U+1D678		I	# [𝙸]
U+1D679		J	# [𝙹]
U+1D67A		K	# [𝙺]
U+1D67B		L	# [𝙻]
U+1D67C		M	# [𝙼]
U+1D67D		N	# [𝙽]
U+1D67E		O	# [𝙾]
U+1D67F		P	# [𝙿]
U+1D680		Q	# [𝚀]
U+1D681		R	# [𝚁]
U+1D682		S	# [𝚂]
U+1D683		T	# [𝚃]
U+1D684		U	# [𝚄]
U+1D685		V	# [𝚅]
U+1D686		W	# [𝚆]
U+1D687		X	# [𝚇]
U+1D688		Y	# [𝚈]
U+1D689		Z	# [𝚉]
U+1D68A		a	# [𝚊]
U+1D68B		b	# [𝚋]
U+1D68C		c	# [𝚌]
U+1D68D		d	# [𝚍]
U+1D68E		e	# [𝚎]
U+1D68F		f	# [𝚏]
U+1D690		g	# [𝚐]
U+1D691		h	# [𝚑]
U+1D692		i	# [𝚒]
U+1D693		j	# [𝚓]
U+1D694		k	# [𝚔]
U+1D695		l	# [𝚕]
U+1D696		m	# [𝚖]
U+1D697		n	# [𝚗]
U+1D698		o	# [𝚘]
U+1D699		p	# [𝚙]
U+1D69A		q	# [𝚚]
U+1D69B		r	# [𝚛]
U+1D69C		s	# [𝚜]
U+1D69D		t	# [𝚝]
U+1D69E		u	# [𝚞]
U+1D69F		v	# [𝚟]
U+1D6A0		w	# [𝚠]
U+1D6A1		x	# [𝚡]
U+1D6A2		y	# [𝚢]
U+1D6A3		z	# [𝚣]
}

{
ENVELOPE	\ensuremath{\mathbf@@@}	# Bold

U+1D7CE		0	# [𝟎]
U+1D7CF		1	# [𝟏]
U+1D7D0		2	# [𝟐]
U+1D7D1		3	# [𝟑]
U+1D7D2		4	# [𝟒]
U+1D7D3		5	# [𝟓]
U+1D7D4		6	# [𝟔]
U+1D7D5		7	# [𝟕]
U+1D7D6		8	# [𝟖]
U+1D7D7		9	# [𝟗]
}

{
ENVELOPE	\ensuremath{\mathsf@@@}	# Sans-serif
U+1D7E2		0	# [𝟢]
U+1D7E3		1	# [𝟣]
U+1D7E4		2	# [𝟤]
U+1D7E5		3	# [𝟥]
U+1D7E6		4	# [𝟦]
U+1D7E7		5	# [𝟧]
U+1D7E8		6	# [𝟨]
U+1D7E9		7	# [𝟩]
U+1D7EA		8	# [𝟪]
U+1D7EB		9	# [𝟫]
}

# {
# ENVELOPE	\ensuremath{\mathsfbf@@@} # Sans-serif + Bold
# U+1D7EC	0	# [𝟬]
# U+1D7ED	1	# [𝟭]
# U+1D7EE	2	# [𝟮]
# U+1D7EF	3	# [𝟯]
# U+1D7F0	4	# [𝟰]
# U+1D7F1	5	# [𝟱]
# U+1D7F2	6	# [𝟲]
# U+1D7F3	7	# [𝟳]
# U+1D7F4	8	# [𝟴]
# U+1D7F5	9	# [𝟵]
# }

{
ENVELOPE	\ensuremath{\mathtt@@@}	# Monospace
U+1D7F6		0	# [𝟶]
U+1D7F7		1	# [𝟷]
U+1D7F8		2	# [𝟸]
U+1D7F9		3	# [𝟹]
U+1D7FA		4	# [𝟺]
U+1D7FB		5	# [𝟻]
U+1D7FC		6	# [𝟼]
U+1D7FD		7	# [𝟽]
U+1D7FE		8	# [𝟾]
U+1D7FF		9	# [𝟿]
}
