# -*-coding: utf-8; tab-width: 8;-*-

U+2026	\dots			# […]

ENVELOPE \ensuremath{@@@}

{
OPTION mathletters

U+2070  ^0			# [⁰]
U+00B9	^1			# [¹]
U+00B2	^2			# [²]
U+00B3	^3			# [³]
U+2071	^i			# [ⁱ]
U+2074  ^4			# [⁴]
U+2075  ^5			# [⁵]
U+2076  ^6			# [⁶]
U+2077  ^7			# [⁷]
U+2078  ^8			# [⁸]
U+2079  ^9			# [⁹]
U+207A  ^+			# [⁺]
U+207B  ^-			# [⁻]
U+207C  ^=			# [⁼]
U+207D  ^(			# [⁽]
U+207E  ^)			# [⁾]
U+207F  ^n			# [ⁿ]
}

U+2032	^\prime			# [′]
U+2033	^{\prime\prime}		# [″]
U+2034	^{\prime\prime\prime}	# [‴]

U+2080	_0			# [₀]
U+2081	_1			# [₁]
U+2082	_2			# [₂]
U+2083	_3			# [₃]
U+2084	_4			# [₄]
U+2085	_5			# [₅]
U+2086	_6			# [₆]
U+2087	_7			# [₇]
U+2088	_8			# [₈]
U+2089	_9			# [₉]
U+208A	_+ 			# [₊]
U+208B	_-			# [₋]
U+208C	_=			# [₌]
U+208D	_(			# [₍]
U+208E	_)			# [₎]

U+2190  \leftarrow		# [←]
U+2191	\uparrow		# [↑]
U+2192	\rightarrow		# [→]
U+2193	\downarrow		# [↓]
U+2194	\leftrightarrow		# [↔]
U+2195 	\updownarrow		# [↕]
U+21A6  \mapsto			# [↦]
U+21A9	\hookleftarrow		# [↩]
U+21AA	\hookrightarrow		# [↪]
U+21BC	\leftharpoonup		# [↼]
U+21BD	\leftharpoondown	# [↽]
U+21C0	\rightharpoonup		# [⇀]
U+21C1	\rightharpoondown	# [⇁]
U+21CC	\rightleftharpoons	# [⇌]
# AMS redefines \rightleftharpoons. The new version and the additional
# harpoons from AMS have smaller barbs.
U+21D0	\Leftarrow		# [⇐]
U+21D1	\Uparrow		# [⇑]
U+21D2	\Rightarrow		# [⇒]
U+21D3	\Downarrow		# [⇓]
U+21D4	\Leftrightarrow		# [⇔]
U+21D5	\Updownarrow		# [⇕]



# Mathematical operators (U+2200..U+22FF)

U+2200	\forall			# [∀]
U+2202	\partial		# [∂]
U+2203	\exists			# [∃]
# variant: \varnothing
U+2205	\emptyset		# [∅]
U+2206	\Delta			# [∆]
U+2207	\nabla			# [∇]
U+2208	\in			# [∈]
U+2209	\notin			# [∉]
#U+220A	small \in		# [∊]
U+220B	\ni			# [∋]
U+220C	\not\ni			# [∌]
#U+220D	small \notni		# [∍]
#U+220E	q.e.d.			# [∎]
U+220F	\prod			# [∏]
U+2210	\coprod			# [∐]
U+2211	\sum			# [∑]
U+2212	-			# [−]
U+2213	\mp			# [∓]
U+2215	/			# [∕]
# variant: \smallsetminus
U+2216	\setminus		# [∖]
U+2217	\ast			# [∗]
U+2218	\circ			# [∘]
U+2219	\bullet			# [∙]
U+221A	\surd			# [√]
#U+221B	CUBE ROOT (\sqrt[3]{\vphantom x})	# [∛]
#U+221C	FOURTH ROOT (\sqrt[4]{\vphantom x})	# [∜]
U+221D	\propto			# [∝]
U+221E	\infty			# [∞]
#U+221F	RIGHT ANGLE		# [∟]
U+2220	\angle			# [∠]
U+2223	\mid			# [∣]
U+2225	\parallel		# [∥]
U+2227	\wedge			# [∧]
U+2228	\vee			# [∨]
U+2229	\cap			# [∩]
U+222A	\cup			# [∪]
U+222B	\int			# [∫]
U+222E	\oint			# [∮]
#U+222F	SURFACE INTEGRAL	# [∯]
#U+2230	VOLUME INTEGRAL		# [∰]
#U+2231	CLOCKWISE INTEGRAL	# [∱]
#U+2232	CLOCKWISE CONTOUR INTEGRAL	# [∲]
#U+2233	ANTICLOCKWISE CONTOUR INTEGRAL	# [∳]
U+2236	:			# [∶]
#U+2237	PROPORTION (::)		# [∷]
#U+2238	DOT MINUS		# [∸]
#U+2239	EXCESS			# [∹]
#U+223A	GEOMETRIC PROPORTION	# [∺]
#U+223B	HOMOTHETIC		# [∻]
U+223C	\sim			# [∼]
#U+223E	INVERTED LAZY S		# [∾]
#U+223F	SINE WAVE		# [∿]
U+2240	\wr			# [≀]
#U+2242	MINUS TILDE		# [≂]
U+2243	\simeq			# [≃]
U+2244	\not\simeq		# [≄]
U+2245	\cong			# [≅]
#U+2246	APPROXIMATELY BUT NOT ACTUALLY EQUAL TO	# [≆]
U+2248	\approx			# [≈]
U+2249	\not\approx		# [≉]
#U+224B	TRIPLE TILDE		# [≋]
#U+224C	ALL EQUAL TO		# [≌]
U+224D	\asymp			# [≍]
U+2250	\doteq			# [≐]
#U+2254	COLON EQUALS		# [≔]
#U+2255	EQUALS COLON		# [≕]
#U+2258	CORRESPONDS TO		# [≘]
#U+2259	ESTIMATES		# [≙]
#U+225A	EQUIANGULAR TO		# [≚]
#U+225B	STAR EQUALS		# [≛]
#U+225D	EQUALS TO BY DEFINITION	# [≝]
#U+225E	MEASURED BY		# [≞]
#U+225F	QUESTIONED EQUAL TO	# [≟]
U+2260	\neq			# [≠]
U+2261	\equiv			# [≡]
U+2262	\not\equiv		# [≢]
#U+2263	STRICTLY EQUIVALENT TO	# [≣]
U+2264	\leq			# [≤]
U+2265	\geq			# [≥]
U+226A	\ll			# [≪]
U+226B	\gg			# [≫]
U+226D	\not\asymp		# [≭]
#U+2278	NEITHER LESS-THAN NOR GREATER-THAN	# [≸]
#U+2279	NEITHER GREATER-THAN NOR LESS-THAN	# [≹]
U+227A	\prec			# [≺]
U+227B	\succ			# [≻]
# variant: \preceq
U+2282	\subset			# [⊂]
U+2283	\supset			# [⊃]
U+2284	\not\subset		# [⊄]
U+2285	\not\supset		# [⊅]
U+2286	\subseteq		# [⊆]
U+2287	\supseteq		# [⊇]
#U+228C	MULTISET		# [⊌]
#U+228D	MULTISET MULTIPLICATION	# [⊍]
U+228E	\uplus			# [⊎]
U+2291	\sqsubseteq		# [⊑]
U+2292	\sqsupseteq		# [⊒]
U+2293	\sqcap			# [⊓]
U+2294	\sqcup			# [⊔]
U+2295	\oplus			# [⊕]
U+2296	\ominus			# [⊖]
U+2297	\otimes			# [⊗]
U+2298	\oslash			# [⊘]
U+2299	\odot			# [⊙]
#U+229C	CIRCLED EQUALS	# [⊜]
U+22A2	\vdash			# [⊢]
U+22A3	\dashv			# [⊣]
U+22A4	\top			# [⊤]
U+22A5	\bot			# [⊥]
#U+22A6	ASSERTION (\vdash)	# [⊦]
#U+22A7	MODELS (\vDash)		# [⊧]
#U+22A8	TRUE (\models)		# [⊨]
#U+22AB	DOUBLE VERTICAL BAR DOUBLE RIGHT TURNSTILE (\VDash)	# [⊫]
#U+22AC	DOES NOT PROVE (\nvdash)	# [⊬]
#U+22AD	NOT TRUE		# [⊭]
#U+22AF	NEGATED DOUBLE VERTICAL BAR DOUBLE RIGHT TURNSTILE (\nVDash)	# [⊯]
#U+22B0	PRECEDES UNDER RELATION	# [⊰]
#U+22B1	SUCCEEDS UNDER RELATION	# [⊱]
#U+22B6	ORIGINAL OF		# [⊶]
#U+22B7	IMAGE OF		# [⊷]
#U+22B9	HERMITIAN CONJUGATE MATRIX	# [⊹]
#U+22BD	NOR			# [⊽]
#U+22BE	RIGHT ANGLE WITH ARC	# [⊾]
#U+22BF	RIGHT TRIANGLE		# [⊿]
U+22C0	\bigwedge		# [⋀]
U+22C1	\bigvee			# [⋁]
U+22C2	\bigcap			# [⋂]
U+22C3	\bigcup			# [⋃]
U+22C4	\diamond		# [⋄]
U+22C5	\cdot			# [⋅]
U+22C6	\star			# [⋆]
U+22C8	\bowtie			# [⋈]
#U+22D5	EQUAL AND PARALLEL TO	# [⋕]
#U+22DC	EQUAL TO OR LESS-THAN	# [⋜]
#U+22DD	EQUAL TO OR GREATER-THAN	# [⋝]
U+22E2	\not\sqsubseteq		# [⋢]
U+22E3	\not\sqsupseteq		# [⋣]
#U+22E4	SQUARE IMAGE OF OR NOT EQUAL TO	# [⋤]
#U+22E5	SQUARE ORIGINAL OF OR NOT EQUAL TO	# [⋥]
U+22EE	\vdots			# [⋮]
U+22EF	\cdots			# [⋯]
#U+22F0	UP RIGHT DIAGONAL ELLIPSIS	# [⋰]
U+22F1	\ddots			# [⋱]


U+2308	\lceil			# [⌈]
U+2309	\rceil			# [⌉]
U+230A	\lfloor			# [⌊]
U+230B	\rfloor			# [⌋]
U+27E8	\langle			# [⟨]
U+27E9	\rangle			# [⟩]

U+27F5	\longleftarrow		# [⟵]
U+27F6	\longrightarrow		# [⟶]
U+27F7	\longleftrightarrow	# [⟷]
U+27F8	\Longleftarrow		# [⟸]
U+27F9	\Longrightarrow		# [⟹]
U+27FA	\Longleftrightarrow	# [⟺]
U+27FC	\longmapsto		# [⟼]

{
ENVELOPE \ensuremath@@@
PACKAGE amssymb

U+219D	\leadsto		# [↝]
U+219E	\twoheadleftarrow	# [↞]
U+21A0	\twoheadrightarrow	# [↠]
U+21A2	\leftarrowtail		# [↢]
U+21A3	\rightarrowtail		# [↣]
U+21BE  \upharpoonright		# [↾]
U+21BF  \upharpoonleft		# [↿]
U+21C2  \downharpoonright	# [⇂]
U+21C3  \downharpoonleft	# [⇃]
U+21CB  \leftrightharpoons	# [⇋]
U+2201	\complement		# [∁]
U+2204	\nexists		# [∄]
U+2214	\dotplus		# [∔]
U+2221	\measuredangle		# [∡]
U+2222	\sphericalangle		# [∢]
U+2224	\nmid			# [∤]
U+2226	\nparallel		# [∦]
U+2234	\therefore		# [∴]
U+2235	\because		# [∵]
U+223D	\backsim		# [∽]
U+2241	\nsim			# [≁]
U+2247	\ncong			# [≇]
U+224A	\approxeq		# [≊]
U+224E	\Bumpeq			# [≎]
U+224F	\bumpeq			# [≏]
U+2251	\doteqdot		# [≑]
U+2252	\fallingdotseq		# [≒]
U+2253	\risingdotseq		# [≓]
U+2256	\eqcirc			# [≖]
U+2257	\circeq			# [≗]
U+225C	\triangleq		# [≜]
U+2266	\leqq			# [≦]
U+2267	\geqq			# [≧]
U+2268	\lneqq			# [≨]
U+2269	\gneqq			# [≩]
U+226C	\between		# [≬]
U+226E	\nless			# [≮]
U+226F	\ngtr			# [≯]
U+2270	\nleq			# [≰]
U+2271	\ngeq			# [≱]
U+2272	\lesssim		# [≲]
U+2273	\gtrsim			# [≳]
U+2276	\lessgtr		# [≶]
U+2277	\gtrless		# [≷]
U+227C	\preccurlyeq		# [≼]
# variant: \succeq
U+227D	\succcurlyeq		# [≽]
U+227E	\precsim		# [≾]
U+227F	\succsim		# [≿]
U+2280	\nprec			# [⊀]
U+2281	\nsucc			# [⊁]
U+2288	\nsubseteq		# [⊈]
U+2289	\nsupseteq		# [⊉]
U+228A	\subsetneq		# [⊊]
U+228B	\supsetneq		# [⊋]
U+228F	\sqsubset		# [⊏]
U+2290	\sqsupset		# [⊐]
U+229A	\circledcirc		# [⊚]
U+229B	\circledast		# [⊛]
U+229D	\circleddash		# [⊝]
U+229E	\boxplus		# [⊞]
U+229F	\boxminus		# [⊟]
U+22A0	\boxtimes		# [⊠]
U+22A1	\boxdot			# [⊡]
U+22A9	\Vdash			# [⊩]
U+22AA	\Vvdash			# [⊪]
U+22AE	\nVdash			# [⊮]
U+22B2	\lhd			# [⊲]
U+22B3	\rhd			# [⊳]
U+22B4	\unlhd			# [⊴]
U+22B5	\unrhd			# [⊵]
U+22B8	\multimap		# [⊸]
U+22BA	\intercal		# [⊺]
U+22BB	\veebar			# [⊻]
U+22BC	\barwedge		# [⊼]
U+22C7	\divideontimes		# [⋇]
U+22C9	\ltimes			# [⋉]
U+22CA	\rtimes			# [⋊]
U+22CB	\leftthreetimes		# [⋋]
U+22CC	\rightthreetimes	# [⋌]
U+22CD	\backsimeq		# [⋍]
U+22CE	\curlyvee		# [⋎]
U+22CF	\curlywedge		# [⋏]
U+22D0	\Subset			# [⋐]
U+22D1	\Supset			# [⋑]
U+22D2	\Cap			# [⋒]
U+22D3	\Cup			# [⋓]
U+22D4	\pitchfork		# [⋔]
U+22D6	\lessdot		# [⋖]
U+22D7	\gtrdot			# [⋗]
U+22D8	\lll			# [⋘]
U+22D9	\ggg			# [⋙]
U+22DA	\lesseqgtr		# [⋚]
U+22DB	\gtreqless		# [⋛]
U+22DE	\curlyeqprec		# [⋞]
U+22DF	\curlyeqsucc		# [⋟]
U+22E6	\lnsim			# [⋦]
U+22E7	\gnsim			# [⋧]
U+22E8	\precnsim		# [⋨]
U+22E9	\succnsim		# [⋩]
U+22EA	\ntriangleleft		# [⋪]
U+22EB	\ntriangleright		# [⋫]
U+22EC	\ntrianglelefteq	# [⋬]
U+22ED	\ntrianglerighteq	# [⋭]
U+25A1	\Box			# [□]

ENVELOPE \ensuremath{@@@}
PACKAGE amssymb

U+2274	\not\lesssim		# [≴]
U+2275	\not\gtrsim		# [≵]
U+22E0	\not\preccurlyeq	# [⋠]
U+22E1	\not\succcurlyeq	# [⋡]
}

{
ENVELOPE \ensuremath@@@
PACKAGE amsmath

U+222C	\iint			# [∬]
U+222D	\iiint			# [∭]
}

{
PACKAGE stmaryrd
# works also with txfonts and pxfonts

U+27E6	\llbracket		# [⟦}
U+27E7	\rrbracket		# [⟧}
}

{
PACKAGE cmll
# works also with txfonts and pxfonts

U+214B  \invamp			# [⅋]
}
