# -*-coding: utf-8;-*-

# Miscellaneous Symbols (U+2600..U+267F)

{
FONTENC TS1

U+2116	\textnumero		# [№]
}

U+2120	\textsuperscript{SM}	# [℠]
U+2122	\texttrademark		# [™]
U+2423	\textvisiblespace	# [␣]

{
ENVELOPE \ensuremath{@@@}

U+2660	\spadesuit	# [♠]
U+2661	\heartsuit	# [♡]
U+2662	\diamondsuit	# [♢]
U+2663	\clubsuit	# [♣]

U+266D	\flat		# [♭]
U+266E	\natural	# [♮]
U+266F	\sharp		# [♯]
}

{
PACKAGE wasysym

U+2669	\quarternote	# [♩]
U+266A	\eighthnote	# [♪]
U+266B	\twonotes	# [♫]

U+1D15D	\fullnote	# [𝅝]
U+1D15E	\halfnote	# [𝅗𝅥]
U+1D15F	\quarternote	# [𝅘𝅥]
U+1D160	\eighthnote	# [𝅘𝅥𝅮]
}
