# -*-coding: utf-8;-*-

# Spacing modifier letters (U+02B0..U+02FF)

U+02B0	\textsuperscript h	# [ʰ]
U+02B2	\textsuperscript j	# [ʲ]
U+02B3	\textsuperscript r	# [ʳ]
U+02B7	\textsuperscript w	# [ʷ]
U+02B8	\textsuperscript y	# [ʸ]

U+02C6	\^{\empty}		# [ˆ]
U+02C7	\v{\empty}		# [ˇ]
U+02C9	\@tabacckludge={\empty}	# [ˉ]
U+02CA	\@tabacckludge'{\empty}	# [ˊ]
U+02CB	\@tabacckludge`{\empty}	# [ˋ]
U+02CD	\b{\empty}		# [ˍ]

U+02D8	\u{\empty}		# [˘]
U+02D9	\.{\empty}		# [˙]
U+02DA	\r{\empty}		# [˚]
U+02DB	\k{\empty}		# [˛]
U+02DC	\~{\empty}		# [˜]
U+02DD	\H{\empty}		# [˝]
