# -*-coding: utf-8; tab-width: 8;-*-

# Thanks to Oliver Corff <corff@ZEDAT.FU-Berlin.DE> for
# the glyph macros

FONTENC		    LMA
LOADFONTENC	    LMO

#U+1800	\textmongolianbirga				# [᠀]
U+1801	\textmongolianellipsis				# [᠁]
U+1802	\textmongoliancomma				# [᠂]
U+1803	\textmongolianfullstop				# [᠃]
U+1804	\textmongoliancolon				# [᠄]
U+1805	\textmongolianfourdots				# [᠅]
#U+1806	\textmongoliantodosofthyphen			# [᠆]
#U+1807	\textmongoliansibesyllableboundarymarker	# [᠇]
U+1808	\textmongolianmanchucomma			# [᠈]
U+1809	\textmongolianmanchufullstop			# [᠉]
U+180A	\textmongoliannirugu				# [᠊]
U+180B	\textmongolianfreevariationselectorone		# [᠋]
U+180C	\textmongolianfreevariationselectortwo		# [᠌]
#U+180D	\textmongolianfreevariationselectorthree	# [᠍]
U+180E	\textmongolianvowelseparator			# [᠎]

U+1810	\textmongolianzero				# [᠐]
U+1811	\textmongolianone				# [᠑]
U+1812	\textmongoliantwo				# [᠒]
U+1813	\textmongolianthree				# [᠓]
U+1814	\textmongolianfour				# [᠔]
U+1815	\textmongolianfive				# [᠕]
U+1816	\textmongoliansix				# [᠖]
U+1817	\textmongolianseven				# [᠗]
U+1818	\textmongolianeight				# [᠘]
U+1819	\textmongoliannine				# [᠙]

U+1820	\textmongoliana					# [ᠠ]
U+1821	\textmongoliane					# [ᠡ]
U+1822	\textmongoliani					# [ᠢ]
U+1823	\textmongoliano					# [ᠣ]
U+1824	\textmongolianu					# [ᠤ]
#U+1825	\textmongolianoe				# [ᠥ]
#U+1826	\textmongolianue				# [ᠦ]
#U+1827	\textmongolianee				# [ᠧ]
U+1828	\textmongolianna				# [ᠨ]
U+1829	\textmongolianang				# [ᠩ]
U+182A	\textmongolianba				# [ᠪ]
U+182B	\textmongolianpa				# [ᠫ]
U+182C	\textmongolianqa				# [ᠬ]
U+182D	\textmongolianga				# [ᠭ]
U+182E	\textmongolianma				# [ᠮ]
U+182F	\textmongolianla				# [ᠯ]
U+1830	\textmongoliansa				# [ᠰ]
U+1831	\textmongoliansha				# [ᠱ]
U+1832	\textmongolianta				# [ᠲ]
U+1833	\textmongolianda				# [ᠳ]
U+1834	\textmongoliancha				# [ᠴ]
U+1835	\textmongolianja				# [ᠵ]
U+1836	\textmongolianya				# [ᠶ]
U+1837	\textmongolianra				# [ᠷ]
U+1838	\textmongolianwa				# [ᠸ]
U+1839	\textmongolianfa				# [ᠹ]
U+183A	\textmongolianka				# [ᠺ]
U+183B	\textmongoliankha				# [ᠻ]
U+183C	\textmongoliantsa				# [ᠼ]
U+183D	\textmongolianza				# [ᠽ]
U+183E	\textmongolianhaa				# [ᠾ]
U+183F	\textmongolianzra				# [ᠿ]
U+1840	\textmongolianlha				# [ᡀ]
U+1841	\textmongolianzhi				# [ᡁ]
U+1842	\textmongolianchi				# [ᡂ]
#U+1843	\textmongoliantodolongvowelsign			# [ᡃ]
#U+1844	\textmongoliantodoe				# [ᡄ]
#U+1845	\textmongoliantodoi				# [ᡅ]
#U+1846	\textmongoliantodoo				# [ᡆ]
#U+1847	\textmongoliantodou				# [ᡇ]
#U+1848	\textmongoliantodooe				# [ᡈ]
#U+1849	\textmongoliantodoue				# [ᡉ]
#U+184A	\textmongoliantodoang				# [ᡊ]
#U+184B	\textmongoliantodoba				# [ᡋ]
#U+184C	\textmongoliantodopa				# [ᡌ]
#U+184D	\textmongoliantodoqa				# [ᡍ]
#U+184E	\textmongoliantodoga				# [ᡎ]
#U+184F	\textmongoliantodoma				# [ᡏ]
#U+1850	\textmongoliantodota				# [ᡐ]
#U+1851	\textmongoliantododa				# [ᡑ]
#U+1852	\textmongoliantodocha				# [ᡒ]
#U+1853	\textmongoliantodoja				# [ᡓ]
#U+1854	\textmongoliantodotsa				# [ᡔ]
#U+1855	\textmongoliantodoya				# [ᡕ]
#U+1856	\textmongoliantodowa				# [ᡖ]
#U+1857	\textmongoliantodoka				# [ᡗ]
#U+1858	\textmongoliantodogaa				# [ᡘ]
#U+1859	\textmongoliantodohaa				# [ᡙ]
#U+185A	\textmongoliantodojia				# [ᡚ]
#U+185B	\textmongoliantodonia				# [ᡛ]
#U+185C	\textmongoliantododza				# [ᡜ]
U+185D	\textmongoliansibee				# [ᡝ]
#U+185E	\textmongoliansibei				# [ᡞ]
#U+185F	\textmongoliansibeiy				# [ᡟ]
U+1860	\textmongoliansibeue				# [ᡠ]
U+1861	\textmongoliansibeu				# [ᡡ]
U+1862	\textmongoliansibeang				# [ᡢ]
#U+1863	\textmongoliansibeka				# [ᡣ]
U+1864	\textmongoliansibega				# [ᡤ]
U+1865	\textmongoliansibeha				# [ᡥ]
U+1866	\textmongoliansibepa				# [ᡦ]
U+1867	\textmongoliansibesha				# [ᡧ]
U+1868	\textmongoliansibeta				# [ᡨ]
U+1869	\textmongoliansibeda				# [ᡩ]
#U+186A	\textmongoliansibeja				# [ᡪ]
#U+186B	\textmongoliansibefa				# [ᡫ]
U+186C	\textmongoliansibegaa				# [ᡬ]
U+186D	\textmongoliansibehaa				# [ᡭ]
U+186E	\textmongoliansibetsa				# [ᡮ]
U+186F	\textmongoliansibeza				# [ᡯ]
U+1870	\textmongoliansiberaa				# [ᡰ]
U+1871	\textmongoliansibecha				# [ᡱ]
#U+1872	\textmongoliansibezha				# [ᡲ]
#U+1873	\textmongolianmanchui				# [ᡳ]
U+1874	\textmongolianmanchuka				# [ᡴ]
U+1875	\textmongolianmanchura				# [ᡵ]
U+1876	\textmongolianmanchufa				# [ᡶ]
U+1877	\textmongolianmanchuzha				# [ᡷ]

U+1880	\textmongolianaligalianusvaraone		# [ᢀ]
#U+1881	\textmongolianaligalivisargaone			# [ᢁ]
#U+1882	\textmongolianaligalidamaru			# [ᢂ]
#U+1883	\textmongolianaligaliubadama			# [ᢃ]
#U+1884	\textmongolianaligaliinvertedubadama		# [ᢄ]
#U+1885	\textmongolianaligalibaluda			# [ᢅ]
#U+1886	\textmongolianaligalithreebaluda		# [ᢆ]
#U+1887	\textmongolianaligalia				# [ᢇ]
#U+1888	\textmongolianaligalii				# [ᢈ]
#U+1889	\textmongolianaligalika				# [ᢉ]
#U+188A	\textmongolianaligalinga			# [ᢊ]
#U+188B	\textmongolianaligalica				# [ᢋ]
#U+188C	\textmongolianaligalitta			# [ᢌ]
#U+188D	\textmongolianaligalittha			# [ᢍ]
#U+188E	\textmongolianaligalidda			# [ᢎ]
#U+188F	\textmongolianaligalinna			# [ᢏ]
#U+1890	\textmongolianaligalita				# [ᢐ]
#U+1891	\textmongolianaligalida				# [ᢑ]
#U+1892	\textmongolianaligalipa				# [ᢒ]
#U+1893	\textmongolianaligalipha			# [ᢓ]
#U+1894	\textmongolianaligalissa			# [ᢔ]
#U+1895	\textmongolianaligalizha			# [ᢕ]
#U+1896	\textmongolianaligaliza				# [ᢖ]
#U+1897	\textmongolianaligaliah				# [ᢗ]
#U+1898	\textmongoliantodoaligalita			# [ᢘ]
#U+1899	\textmongoliantodoaligalizha			# [ᢙ]
#U+189A	\textmongolianmanchualigaligha			# [ᢚ]
U+189B	\textmongolianmanchualigalinga			# [ᢛ]
U+189C	\textmongolianmanchualigalica			# [ᢜ]
#U+189D	\textmongolianmanchualigalijha			# [ᢝ]
#U+189E	\textmongolianmanchualigalitta			# [ᢞ]
#U+189F	\textmongolianmanchualigaliddha			# [ᢟ]
#U+18A0	\textmongolianmanchualigalita			# [ᢠ]
#U+18A1	\textmongolianmanchualigalidha			# [ᢡ]
#U+18A2	\textmongolianmanchualigalissa			# [ᢢ]
#U+18A3	\textmongolianmanchualigalicya			# [ᢣ]
U+18A4	\textmongolianmanchualigalizha			# [ᢤ]
U+18A5	\textmongolianmanchualigaliza			# [ᢥ]
#U+18A6	\textmongolianaligalihalfu			# [ᢦ]
#U+18A7	\textmongolianaligalihalfya			# [ᢧ]
#U+18A8	\textmongolianmanchualigalibha			# [ᢨ]
#U+18A9	\textmongolianaligalidagalga			# [ᢩ]
