# -*-coding: utf-8; tab-width: 8;-*-

OPTION postscript
PACKAGE pifont
U+2701	\ding{"21}		# [✁]
U+2702	\ding{"22}		# [✂]
U+2703	\ding{"23}		# [✃]
U+2704	\ding{"24}		# [✄]
U+260E	\ding{"25}		# [☎]
U+2706	\ding{"26}		# [✆]
U+2707	\ding{"27}		# [✇]
U+2708	\ding{"28}		# [✈]
U+2709	\ding{"29}		# [✉]
U+261B	\ding{"2A}		# [☛]
U+261E	\ding{"2B}		# [☞]
U+270C	\ding{"2C}		# [✌]
U+270D	\ding{"2D}		# [✍]
U+270E	\ding{"2E}		# [✎]
U+270F	\ding{"2F}		# [✏]
U+2710	\ding{"30}		# [✐]
U+2711	\ding{"31}		# [✑]
U+2712	\ding{"32}		# [✒]
U+2713	\ding{"33}		# [✓]
U+2714	\ding{"34}		# [✔]
U+2715	\ding{"35}		# [✕]
U+2716	\ding{"36}		# [✖]
U+2717	\ding{"37}		# [✗]
U+2718	\ding{"38}		# [✘]
U+2719	\ding{"39}		# [✙]
U+271A	\ding{"3A}		# [✚]
U+271B	\ding{"3B}		# [✛]
U+271C	\ding{"3C}		# [✜]
U+271D	\ding{"3D}		# [✝]
U+271E	\ding{"3E}		# [✞]
U+271F	\ding{"3F}		# [✟]
U+2720	\ding{"40}		# [✠]
U+2721	\ding{"41}		# [✡]
U+2722	\ding{"42}		# [✢]
U+2723	\ding{"43}		# [✣]
U+2724	\ding{"44}		# [✤]
U+2725	\ding{"45}		# [✥]
U+2726	\ding{"46}		# [✦]
U+2727	\ding{"47}		# [✧]
U+2605	\ding{"48}		# [★]
U+2729	\ding{"49}		# [✩]
U+272A	\ding{"4A}		# [✪]
U+272B	\ding{"4B}		# [✫]
U+272C	\ding{"4C}		# [✬]
U+272D	\ding{"4D}		# [✭]
U+272E	\ding{"4E}		# [✮]
U+272F	\ding{"4F}		# [✯]
U+2730	\ding{"50}		# [✰]
U+2731	\ding{"51}		# [✱]
U+2732	\ding{"52}		# [✲]
U+2733	\ding{"53}		# [✳]
U+2734	\ding{"54}		# [✴]
U+2735	\ding{"55}		# [✵]
U+2736	\ding{"56}		# [✶]
U+2737	\ding{"57}		# [✷]
U+2738	\ding{"58}		# [✸]
U+2739	\ding{"59}		# [✹]
U+273A	\ding{"5A}		# [✺]
U+273B	\ding{"5B}		# [✻]
U+273C	\ding{"5C}		# [✼]
U+273D	\ding{"5D}		# [✽]
U+273E	\ding{"5E}		# [✾]
U+273F	\ding{"5F}		# [✿]
U+2740	\ding{"60}		# [❀]
U+2741	\ding{"61}		# [❁]
U+2742	\ding{"62}		# [❂]
U+2743	\ding{"63}		# [❃]
U+2744	\ding{"64}		# [❄]
U+2745	\ding{"65}		# [❅]
U+2746	\ding{"66}		# [❆]
U+2747	\ding{"67}		# [❇]
U+2748	\ding{"68}		# [❈]
U+2749	\ding{"69}		# [❉]
U+274A	\ding{"6A}		# [❊]
U+274B	\ding{"6B}		# [❋]
U+25CF	\ding{"6C}		# [●]
U+274D	\ding{"6D}		# [❍]
U+25A0	\ding{"6E}		# [■]
U+274F	\ding{"6F}		# [❏]
U+2750	\ding{"70}		# [❐]
U+2751	\ding{"71}		# [❑]
U+2752	\ding{"72}		# [❒]
U+25B2	\ding{"73}		# [▲]
U+25BC	\ding{"74}		# [▼]
U+25C6	\ding{"75}		# [◆]
U+2756	\ding{"76}		# [❖]
U+25D7	\ding{"77}		# [◗]
U+2758	\ding{"78}		# [❘]
U+2759	\ding{"79}		# [❙]
U+275A	\ding{"7A}		# [❚]
U+275B	\ding{"7B}		# [❛]
U+275C	\ding{"7C}		# [❜]
U+275D	\ding{"7D}		# [❝]
U+275E	\ding{"7E}		# [❞]
U+2761	\ding{"A1}		# [❡]
U+2762	\ding{"A2}		# [❢]
U+2763	\ding{"A3}		# [❣]
U+2764	\ding{"A4}		# [❤]
U+2765	\ding{"A5}		# [❥]
U+2766	\ding{"A6}		# [❦]
U+2767	\ding{"A7}		# [❧]
U+2666	\ding{"A9}		# [♦]
U+2665	\ding{"AA}		# [♥]
U+2460	\ding{"AC}		# [①]
U+2461	\ding{"AD}		# [②]
U+2462	\ding{"AE}		# [③]
U+2463	\ding{"AF}		# [④]
U+2464	\ding{"B0}		# [⑤]
U+2465	\ding{"B1}		# [⑥]
U+2466	\ding{"B2}		# [⑦]
U+2467	\ding{"B3}		# [⑧]
U+2468	\ding{"B4}		# [⑨]
U+2469	\ding{"B5}		# [⑩]
U+2776	\ding{"B6}		# [❶]
U+2777	\ding{"B7}		# [❷]
U+2778	\ding{"B8}		# [❸]
U+2779	\ding{"B9}		# [❹]
U+277A	\ding{"BA}		# [❺]
U+277B	\ding{"BB}		# [❻]
U+277C	\ding{"BC}		# [❼]
U+277D	\ding{"BD}		# [❽]
U+277E	\ding{"BE}		# [❾]
U+277F	\ding{"BF}		# [❿]
U+2780	\ding{"C0}		# [➀]
U+2781	\ding{"C1}		# [➁]
U+2782	\ding{"C2}		# [➂]
U+2783	\ding{"C3}		# [➃]
U+2784	\ding{"C4}		# [➄]
U+2785	\ding{"C5}		# [➅]
U+2786	\ding{"C6}		# [➆]
U+2787	\ding{"C7}		# [➇]
U+2788	\ding{"C8}		# [➈]
U+2789	\ding{"C9}		# [➉]
U+278A	\ding{"CA}		# [➊]
U+278B	\ding{"CB}		# [➋]
U+278C	\ding{"CC}		# [➌]
U+278D	\ding{"CD}		# [➍]
U+278E	\ding{"CE}		# [➎]
U+278F	\ding{"CF}		# [➏]
U+2790	\ding{"D0}		# [➐]
U+2791	\ding{"D1}		# [➑]
U+2792	\ding{"D2}		# [➒]
U+2793	\ding{"D3}		# [➓]
U+2794	\ding{"D4}		# [➔]
U+2194	\ding{"D6}		# [↔]
U+2195	\ding{"D7}		# [↕]
U+2798	\ding{"D8}		# [➘]
U+2799	\ding{"D9}		# [➙]
U+279A	\ding{"DA}		# [➚]
U+279B	\ding{"DB}		# [➛]
U+279C	\ding{"DC}		# [➜]
U+279D	\ding{"DD}		# [➝]
U+279E	\ding{"DE}		# [➞]
U+279F	\ding{"DF}		# [➟]
U+27A0	\ding{"E0}		# [➠]
U+27A1	\ding{"E1}		# [➡]
U+27A2	\ding{"E2}		# [➢]
U+27A3	\ding{"E3}		# [➣]
U+27A4	\ding{"E4}		# [➤]
U+27A5	\ding{"E5}		# [➥]
U+27A6	\ding{"E6}		# [➦]
U+27A7	\ding{"E7}		# [➧]
U+27A8	\ding{"E8}		# [➨]
U+27A9	\ding{"E9}		# [➩]
U+27AA	\ding{"EA}		# [➪]
U+27AB	\ding{"EB}		# [➫]
U+27AC	\ding{"EC}		# [➬]
U+27AD	\ding{"ED}		# [➭]
U+27AE	\ding{"EE}		# [➮]
U+27AF	\ding{"EF}		# [➯]
U+27B1	\ding{"F1}		# [➱]
U+27B2	\ding{"F2}		# [➲]
U+27B3	\ding{"F3}		# [➳]
U+27B4	\ding{"F4}		# [➴]
U+27B5	\ding{"F5}		# [➵]
U+27B6	\ding{"F6}		# [➶]
U+27B7	\ding{"F7}		# [➷]
U+27B8	\ding{"F8}		# [➸]
U+27B9	\ding{"F9}		# [➹]
U+27BA	\ding{"FA}		# [➺]
U+27BB	\ding{"FB}		# [➻]
U+27BC	\ding{"FC}		# [➼]
U+27BD	\ding{"FD}		# [➽]
U+27BE	\ding{"FE}		# [➾]

U+00A9	\Pisymbol{psy}{"D3}	# [©]
#U+00A9	\Pisymbol{psy}{"E3}	# [©]
U+00AC	\Pisymbol{psy}{"D8}	# [¬]
U+00AE	\Pisymbol{psy}{"D2}	# [®]
#U+00AE	\Pisymbol{psy}{"E2}	# [®]
U+00D7	\Pisymbol{psy}{"B4}	# [×]
U+00F7	\Pisymbol{psy}{"B8}	# [÷]
U+0192	\Pisymbol{psy}{"A6}	# [ƒ]
U+0391	\Pisymbol{psy}{"41}	# [Α]
U+0392	\Pisymbol{psy}{"42}	# [Β]
U+0393	\Pisymbol{psy}{"47}	# [Γ]
U+0395	\Pisymbol{psy}{"45}	# [Ε]
U+0396	\Pisymbol{psy}{"5A}	# [Ζ]
U+0397	\Pisymbol{psy}{"48}	# [Η]
U+0398	\Pisymbol{psy}{"51}	# [Θ]
U+0399	\Pisymbol{psy}{"49}	# [Ι]
U+039A	\Pisymbol{psy}{"4B}	# [Κ]
U+039B	\Pisymbol{psy}{"4C}	# [Λ]
U+039C	\Pisymbol{psy}{"4D}	# [Μ]
U+039D	\Pisymbol{psy}{"4E}	# [Ν]
U+039E	\Pisymbol{psy}{"58}	# [Ξ]
U+039F	\Pisymbol{psy}{"4F}	# [Ο]
U+03A0	\Pisymbol{psy}{"50}	# [Π]
U+03A1	\Pisymbol{psy}{"52}	# [Ρ]
U+03A3	\Pisymbol{psy}{"53}	# [Σ]
U+03A4	\Pisymbol{psy}{"54}	# [Τ]
U+03A5	\Pisymbol{psy}{"55}	# [Υ]
U+03A6	\Pisymbol{psy}{"46}	# [Φ]
U+03A7	\Pisymbol{psy}{"43}	# [Χ]
U+03A8	\Pisymbol{psy}{"59}	# [Ψ]
U+03A9	\Pisymbol{psy}{"57}	# [Ω]
U+03B1	\Pisymbol{psy}{"61}	# [α]
U+03B2	\Pisymbol{psy}{"62}	# [β]
U+03B3	\Pisymbol{psy}{"67}	# [γ]
U+03B4	\Pisymbol{psy}{"64}	# [δ]
U+03B5	\Pisymbol{psy}{"65}	# [ε]
U+03B6	\Pisymbol{psy}{"7A}	# [ζ]
U+03B7	\Pisymbol{psy}{"68}	# [η]
U+03B8	\Pisymbol{psy}{"71}	# [θ]
U+03B9	\Pisymbol{psy}{"69}	# [ι]
U+03BA	\Pisymbol{psy}{"6B}	# [κ]
U+03BB	\Pisymbol{psy}{"6C}	# [λ]
U+03BC	\Pisymbol{psy}{"6D}	# [μ]
U+03BD	\Pisymbol{psy}{"6E}	# [ν]
U+03BE	\Pisymbol{psy}{"78}	# [ξ]
U+03BF	\Pisymbol{psy}{"6F}	# [ο]
U+03C0	\Pisymbol{psy}{"70}	# [π]
U+03C1	\Pisymbol{psy}{"72}	# [ρ]
U+03C2	\Pisymbol{psy}{"56}	# [ς]
U+03C3	\Pisymbol{psy}{"73}	# [σ]
U+03C4	\Pisymbol{psy}{"74}	# [τ]
U+03C5	\Pisymbol{psy}{"75}	# [υ]
U+03C6	\Pisymbol{psy}{"66}	# [φ]
U+03C7	\Pisymbol{psy}{"63}	# [χ]
U+03C8	\Pisymbol{psy}{"79}	# [ψ]
U+03C9	\Pisymbol{psy}{"77}	# [ω]
U+03D1	\Pisymbol{psy}{"4A}	# [ϑ]
U+03D2	\Pisymbol{psy}{"A1}	# [ϒ]
U+03D5	\Pisymbol{psy}{"6A}	# [ϕ]
U+03D6	\Pisymbol{psy}{"76}	# [ϖ]
U+2022	\Pisymbol{psy}{"B7}	# [•]
U+2026	\Pisymbol{psy}{"BC}	# […]
U+2032	\Pisymbol{psy}{"A2}	# [′]
U+2033	\Pisymbol{psy}{"B2}	# [″]
U+203E	\Pisymbol{psy}{"60}	# [‾]
U+2044	\Pisymbol{psy}{"A4}	# [⁄]
U+2111	\Pisymbol{psy}{"C1}	# [ℑ]
U+2118	\Pisymbol{psy}{"C3}	# [℘]
U+211C	\Pisymbol{psy}{"C2}	# [ℜ]
U+2122	\Pisymbol{psy}{"D4}	# [™]
#U+2122	\Pisymbol{psy}{"E4}	# [™]
U+2135	\Pisymbol{psy}{"C0}	# [ℵ]
U+2190	\Pisymbol{psy}{"AC}	# [←]
U+2191	\Pisymbol{psy}{"AD}	# [↑]
U+2192	\Pisymbol{psy}{"AE}	# [→]
U+2193	\Pisymbol{psy}{"AF}	# [↓]
#U+2194	\Pisymbol{psy}{"AB}	# [↔]
U+21B5	\Pisymbol{psy}{"BF}	# [↵]
U+21D0	\Pisymbol{psy}{"DC}	# [⇐]
U+21D1	\Pisymbol{psy}{"DD}	# [⇑]
U+21D2	\Pisymbol{psy}{"DE}	# [⇒]
U+21D3	\Pisymbol{psy}{"DF}	# [⇓]
U+21D4	\Pisymbol{psy}{"DB}	# [⇔]
U+2200	\Pisymbol{psy}{"22}	# [∀]
U+2202	\Pisymbol{psy}{"B6}	# [∂]
U+2203	\Pisymbol{psy}{"24}	# [∃]
U+2205	\Pisymbol{psy}{"C6}	# [∅]
U+2206	\Pisymbol{psy}{"44}	# [∆]
U+2207	\Pisymbol{psy}{"D1}	# [∇]
U+2208	\Pisymbol{psy}{"CE}	# [∈]
U+2209	\Pisymbol{psy}{"CF}	# [∉]
U+220B	\Pisymbol{psy}{"27}	# [∋]
U+220F	\Pisymbol{psy}{"D5}	# [∏]
U+2211	\Pisymbol{psy}{"E5}	# [∑]
U+2212	\Pisymbol{psy}{"2D}	# [−]
U+2217	\Pisymbol{psy}{"2A}	# [∗]
U+221A	\Pisymbol{psy}{"D6}	# [√]
U+221D	\Pisymbol{psy}{"B5}	# [∝]
U+221E	\Pisymbol{psy}{"A5}	# [∞]
U+2220	\Pisymbol{psy}{"D0}	# [∠]
U+2227	\Pisymbol{psy}{"D9}	# [∧]
U+2228	\Pisymbol{psy}{"DA}	# [∨]
U+2229	\Pisymbol{psy}{"C7}	# [∩]
U+222A	\Pisymbol{psy}{"C8}	# [∪]
U+222B	\Pisymbol{psy}{"F2}	# [∫]
U+2234	\Pisymbol{psy}{"5C}	# [∴]
U+223C	\Pisymbol{psy}{"7E}	# [∼]
U+2245	\Pisymbol{psy}{"40}	# [≅]
U+2248	\Pisymbol{psy}{"BB}	# [≈]
U+2260	\Pisymbol{psy}{"B9}	# [≠]
U+2261	\Pisymbol{psy}{"BA}	# [≡]
U+2264	\Pisymbol{psy}{"A3}	# [≤]
U+2265	\Pisymbol{psy}{"B3}	# [≥]
U+2282	\Pisymbol{psy}{"CC}	# [⊂]
U+2283	\Pisymbol{psy}{"C9}	# [⊃]
U+2284	\Pisymbol{psy}{"CB}	# [⊄]
U+2286	\Pisymbol{psy}{"CD}	# [⊆]
U+2287	\Pisymbol{psy}{"CA}	# [⊇]
U+2295	\Pisymbol{psy}{"C5}	# [⊕]
U+2297	\Pisymbol{psy}{"C4}	# [⊗]
U+22A5	\Pisymbol{psy}{"5E}	# [⊥]
U+22C5	\Pisymbol{psy}{"D7}	# [⋅]
U+2320	\Pisymbol{psy}{"F3}	# [⌠]
U+2321	\Pisymbol{psy}{"F5}	# [⌡]
U+2329	\Pisymbol{psy}{"E1}	# [〈]
U+232A	\Pisymbol{psy}{"F1}	# [〉]
U+25CA	\Pisymbol{psy}{"E0}	# [◊]
U+2660	\Pisymbol{psy}{"AA}	# [♠]
U+2663	\Pisymbol{psy}{"A7}	# [♣]
#U+2665	\Pisymbol{psy}{"A9}	# [♥]
#U+2666	\Pisymbol{psy}{"A8}	# [♦]
