# -*-coding: utf-8; tab-width: 8;-*-

# General Punctuation (U+2000..U+206F)

# for spaces and formatting characters see control.ucf

U+2013	\textendash		# [–]
U+2014	\textemdash		# [—]
U+2018	\textquoteleft		# [‘]
U+2019	\textquoteright		# [’]
U+201A	\quotesinglbase		# [‚]
U+201C	\textquotedblleft	# [“]
U+201D	\textquotedblright	# [”]
U+201E	\quotedblbase		# [„]
U+2020	\dag			# [†]
U+2021	\ddag			# [‡]
U+2022	\textbullet		# [•]
U+2030	\textperthousand	# [‰]
U+2031	\textpertenthousand	# [‱]
U+2039	\guilsinglleft		# [‹]
U+203A	\guilsinglright		# [›]
{
FONTENC	TS1
U+203B	\textreferencemark	# [※]
U+203D	\textinterrobang	# [‽]
}

