# -*-coding: utf-8;-*-

# Superscripts and Subscripts (U+2070..U+209F)

U+2070  \textsuperscript0		# [⁰]
U+00B9	\textsuperscript1		# [¹]
U+00B2	\textsuperscript2		# [²]
U+00B3	\textsuperscript3		# [³]
U+2071	\textsuperscript i		# [ⁱ]
U+2074  \textsuperscript4		# [⁴]
U+2075  \textsuperscript5		# [⁵]
U+2076  \textsuperscript6		# [⁶]
U+2077  \textsuperscript7		# [⁷]
U+2078  \textsuperscript8		# [⁸]
U+2079  \textsuperscript9		# [⁹]
U+207A  \textsuperscript+		# [⁺]
U+207B  \textsuperscript-		# [⁻]
U+207C  \textsuperscript=		# [⁼]
U+207D  \textsuperscript(		# [⁽]
U+207E  \textsuperscript)		# [⁾]
U+207F  \textsuperscript n		# [ⁿ]
