# -*-coding: utf-8; tab-width: 8;-*-

PROVIDE MULTILINE
\global\let\uc@combining@prechar\@ne
\gdef\uc@telugu@prechar#1{%
  \ifnum#1<"C01 \texttelugustop\let\uc@prechar\undefined\fi
  \ifnum#1>"C6F \texttelugustop\let\uc@prechar\undefined\fi}%
\DeclareRobustCommand\uc@telugu[1]{%
  \ifx\uc@prechar\undefined
    \texttelugustart
    \let\uc@prechar\uc@telugu@prechar
  \else\ifx\uc@telugu@prechar\uc@prechar\else
    \PackageError{ucs}{\protect\uc@prechar\space already
      defined.}{Something is already using the \protect\uc@prechar
      mechanism. Telugu characters wont combine properly.}%
  \fi\fi
  #1}%
% make \uc@telugu global
\def\uc@temp@a#1{\global\let#1#1}%
\uc@temp@a\uc@telugu
\expandafter\uc@temp@a\csname uc@telugu \endcsname
%
\gdef\uc@@kill@telugu#1#2\uc@telugu#3#4\@nil{%
  \ifx\@nil#3\@nil\expandafter\@firstoftwo\else\expandafter\@secondoftwo\fi
  {#1{#2}}{#1{#3}}}%
\gdef\uc@kill@telugu#1#2{%
  \uc@@kill@telugu#1#2\uc@telugu{}\@nil}%
END

#FONTENC        LTG
#PACKAGE        pstricks
#COMBINECHAR    postscript/U+25CC

ENVELOPE \uc@telugu{@@@}

FONTENC         LTL
COMBINECHAR     \texttelugublackbox

U+0C01  \uc@kill@telugu\texttelugucandrabindu{#1}      # [◌ఁ]
U+0C02  \uc@kill@telugu\textteluguanusvara{#1} # [◌ం]
U+0C03  \uc@kill@telugu\textteluguvisarga{#1}  # [◌ః]
U+0C05  \texttelugua    # [అ]
U+0C06  \textteluguaa   # [ఆ]
U+0C07  \texttelugui    # [ఇ]
U+0C08  \textteluguii   # [ఈ]
U+0C09  \textteluguu    # [ఉ]
U+0C0A  \textteluguuu   # [ఊ]
U+0C0B  \textteluguvocalicr     # [ఋ]
U+0C0C  \textteluguvocalicl     # [ఌ]
U+0C0E  \texttelugue    # [ఎ]
U+0C0F  \textteluguee   # [ఏ]
U+0C10  \textteluguai   # [ఐ]
U+0C12  \textteluguo    # [ఒ]
U+0C13  \textteluguoo   # [ఓ]
U+0C14  \textteluguau   # [ఔ]
U+0C15  \textteluguka   # [క]
U+0C16  \texttelugukha  # [ఖ]
U+0C17  \textteluguga   # [గ]
U+0C18  \texttelugugha  # [ఘ]
U+0C19  \texttelugunga  # [ఙ]
U+0C1A  \textteluguca   # [చ]
U+0C1B  \texttelugucha  # [ఛ]
U+0C1C  \textteluguja   # [జ]
U+0C1D  \texttelugujha  # [ఝ]
U+0C1E  \texttelugunya  # [ఞ]
U+0C1F  \texttelugutta  # [ట]
U+0C20  \textteluguttha # [ఠ]
U+0C21  \texttelugudda  # [డ]
U+0C22  \textteluguddha # [ఢ]
U+0C23  \texttelugunna  # [ణ]
U+0C24  \textteluguta   # [త]
U+0C25  \texttelugutha  # [థ]
U+0C26  \textteluguda   # [ద]
U+0C27  \texttelugudha  # [ధ]
U+0C28  \textteluguna   # [న]
U+0C2A  \texttelugupa   # [ప]
U+0C2B  \texttelugupha  # [ఫ]
U+0C2C  \textteluguba   # [బ]
U+0C2D  \texttelugubha  # [భ]
U+0C2E  \textteluguma   # [మ]
U+0C2F  \textteluguya   # [య]
U+0C30  \texttelugura   # [ర]
U+0C31  \texttelugurra  # [ఱ]
U+0C32  \texttelugula   # [ల]
U+0C33  \texttelugulla  # [ళ]
U+0C35  \textteluguva   # [వ]
U+0C36  \texttelugusha  # [శ]
U+0C37  \texttelugussa  # [ష]
U+0C38  \texttelugusa   # [స]
U+0C39  \textteluguha   # [హ]
U+0C3E  \uc@kill@telugu\textteluguvowelaa{#1}  # [◌ా]
U+0C3F  \uc@kill@telugu\textteluguvoweli{#1}   # [◌ి]
U+0C40  \uc@kill@telugu\textteluguvowelii{#1}  # [◌ీ]
U+0C41  \uc@kill@telugu\textteluguvowelu{#1}   # [◌ు]
U+0C42  \uc@kill@telugu\textteluguvoweluu{#1}  # [◌ూ]
U+0C43  \uc@kill@telugu\textteluguvowelvocalicr{#1}    # [◌ృ]
U+0C44  \uc@kill@telugu\textteluguvowelvocalicrr{#1}   # [◌ౄ]
U+0C46  \uc@kill@telugu\textteluguvowele{#1}   # [◌ె]
U+0C47  \uc@kill@telugu\textteluguvowelee{#1}  # [◌ే]
U+0C48  \uc@kill@telugu\textteluguvowelai{#1}  # [◌ై]
U+0C4A  \uc@kill@telugu\textteluguvowelo{#1}   # [◌ొ]
U+0C4B  \uc@kill@telugu\textteluguvoweloo{#1}  # [◌ో]
U+0C4C  \uc@kill@telugu\textteluguvowelau{#1}  # [◌ౌ]
U+0C4D  \uc@kill@telugu\textteluguvirama{#1}   # [◌్]
U+0C60  \textteluguvocalicrr    # [ౠ]
U+0C61  \textteluguvocalicll    # [ౡ]
U+0C66  \textteluguzero # [౦]
U+0C67  \textteluguone  # [౧]
U+0C68  \texttelugutwo  # [౨]
U+0C69  \textteluguthree        # [౩]
U+0C6A  \texttelugufour # [౪]
U+0C6B  \texttelugufive # [౫]
U+0C6C  \texttelugusix  # [౬]
U+0C6D  \textteluguseven        # [౭]
U+0C6E  \texttelugueight        # [౮]
U+0C6F  \texttelugunine # [౯]

FONTENC LTG
PACKAGE         pstricks
COMBINECHAR     postscript/U+25CC

U+0C55  \uc@kill@telugu\texttelugulengthmark{#1}       # [◌ౕ]
U+0C56  \uc@kill@telugu\textteluguailengthmark{#1}     # [◌ౖ]
