# -*-coding: utf-8; tab-width: 8;-*-

FONTENC	LTA
#FONTENC		C90
#FONTFAMILY	nrsr
PACKAGE 	pstricks
COMBINECHAR	postscript/U+25CC

U+0E01	\thaiKoKai		# [ก]
U+0E02	\thaiKhoKhai		# [ข]
U+0E03	\thaiKhoKhuat		# [ฃ]
U+0E04	\thaiKhoKhwai		# [ค]
U+0E05	\thaiKhoKhon		# [ฅ]
U+0E06	\thaiKhoRakhang		# [ฆ]
U+0E07	\thaiNgoNgu		# [ง]
U+0E08	\thaiChoChan		# [จ]
U+0E09	\thaiChoChing		# [ฉ]
U+0E0A	\thaiChoChang		# [ช]
U+0E0B	\thaiSoSo		# [ซ]
U+0E0C	\thaiChoChoe		# [ฌ]
U+0E0D	\thaiYoYing		# [ญ]
U+0E0E	\thaiDoChada		# [ฎ]
U+0E0F	\thaiToPatak		# [ฏ]
U+0E10	\thaiThoThan		# [ฐ]
U+0E11	\thaiThoNangmontho	# [ฑ]
U+0E12	\thaiThoPhuthao		# [ฒ]
U+0E13	\thaiNoNen		# [ณ]
U+0E14	\thaiDoDek		# [ด]
U+0E15	\thaiToTao		# [ต]
U+0E16	\thaiThoThung		# [ถ]
U+0E17	\thaiThoThahan		# [ท]
U+0E18	\thaiThoThong		# [ธ]
U+0E19	\thaiNoNu		# [น]
U+0E1A	\thaiBoBaimai		# [บ]
U+0E1B	\thaiPoPla		# [ป]
U+0E1C	\thaiPhoPhung		# [ผ]
U+0E1D	\thaiFoFa		# [ฝ]
U+0E1E	\thaiPhoPhan		# [พ]
U+0E1F	\thaiFoFan		# [ฟ]
U+0E20	\thaiPhoSamphao		# [ภ]
U+0E21	\thaiMoMa		# [ม]
U+0E22	\thaiYoYak		# [ย]
U+0E23	\thaiRoRua		# [ร]
U+0E24	\thaiRu			# [ฤ]
U+0E25	\thaiLoLing		# [ล]
U+0E26	\thaiLu			# [ฦ]
U+0E27	\thaiWoWaen		# [ว]
U+0E28	\thaiSoSala		# [ศ]
U+0E29	\thaiSoRusi		# [ษ]
U+0E2A	\thaiSoSua		# [ส]
U+0E2B	\thaiHoHip		# [ห]
U+0E2C	\thaiLoChula		# [ฬ]
U+0E2D	\thaiOAng		# [อ]
U+0E2E	\thaiHoNokhuk		# [ฮ]
U+0E2F	\thaiPaiyannoi		# [ฯ]
U+0E30	\thaiSaraA		# [ะ]
U+0E31	\thaiMaiHanakat 	# [◌ั]
U+0E32	\thaiSaraAa		# [า]
U+0E33	\thaiSaraAm		# [ำ]
U+0E34	\thaiSaraI		# [◌ิ]
U+0E35	\thaiSaraIi		# [◌ี]
U+0E36	\thaiSaraUe		# [◌ึ]
U+0E37	\thaiSaraUee 		# [◌ื]
U+0E38	\thaiSaraU		# [◌ุ]
U+0E39	\thaiSaraUu		# [◌ู]
U+0E3A	\thaiPhinthu 		# [◌ฺ]
#U+0E3F see currency.ucf	# [฿]
U+0E40	\thaiSaraE		# [เ]
U+0E41	\thaiSaraAe		# [แ]
U+0E42	\thaiSaraO		# [โ]
U+0E43	\thaiSaraAiMaimuan	# [ใ]
U+0E44	\thaiSaraAiMaimalai	# [ไ]
U+0E45	\thaiLakkhangyao	# [ๅ]
U+0E46	\thaiMaiyamok		# [ๆ]
U+0E47	\thaiMaitaikhu 		# [◌็]
U+0E48	\thaiMaiEk		# [◌่]
U+0E49	\thaiMaiTho		# [◌้]
U+0E4A	\thaiMaiTri		# [◌๊]
U+0E4B	\thaiMaiChattawa	# [◌๋]
U+0E4C	\thaiThanthakhat	# [◌์]
U+0E4D	\thaiNikhahit	 	# [◌ํ]
U+0E4E	\thaiYamakkan		# [◌๎]
U+0E4F	\thaiFongman		# [๏]
U+0E50	\thaizero		# [๐]
U+0E51	\thaione		# [๑]
U+0E52	\thaitwo		# [๒]
U+0E53	\thaithree		# [๓]
U+0E54	\thaifour		# [๔]
U+0E55	\thaifive		# [๕]
U+0E56	\thaisix		# [๖]
U+0E57	\thaiseven		# [๗]
U+0E58	\thaieight		# [๘]
U+0E59	\thainine		# [๙]
U+0E5A	\thaiAngkhankhu		# [๚]
U+0E5B	\thaiKhomut		# [๛]
