\makeatletter
\RequirePackage[latin1]{inputenc}
\RequirePackage[T1,T5]{fontenc}
\RequirePackage[margin=3.5cm,top=3cm,bottom=3cm]{geometry}
\marginparwidth3.5cm
\advance\marginparwidth-.5cm
\marginparsep-.5cm
\RequirePackage{ragged2e}
\RequirePackage{textcomp}
\RequirePackage{varioref}
\RequirePackage{varwidth}
\RequirePackage{subfig}
\RequirePackage{forarray}
\RequirePackage{examplep}
\RequirePackage{url}
\urlstyle{same}
\RequirePackage[dvips, pdfborder={0 0 0}, pdfstartview={FitH}, pdfpagelayout={OneColumn}, bookmarks=true, bookmarksopen=true, bookmarksopenlevel=2, pdfnewwindow, unicode=true]{hyperref}
\RequirePackage[hyphenbreaks]{breakurl}
\Urlmuskip = 0mu plus 1mu
\RequirePackage{bookmark}
\providecommand{\href}{\@gobbletwo}
\providecommand{\texorpdfstring}{\@firstoftwo}
\providecommand{\NoHyper}{}
\@ifundefined{endNoHyper}{\let\endNoHyper\relax}{}
\RequirePackage{doc}
\RequirePackage[english]{babel}
\setcounter{IndexColumns}{2}
\EnableCrossrefs
\CodelineIndex
\DontCheckModules
\IndexMin.5\textheight
\edef\rd@aux@endlinecharrestore{\the\endlinechar}\endlinechar\m@ne
\newbox\ExampleBox
\def\MakeExampleBox{\setbox\ExampleBox\vbox{\begin{small}\ShowExample\end{small}}}
\def\ShowExampleBox{\framebox{\box\ExampleBox}}
\makeatletter
\spaceskip\fontdimen2\font plus 1em minus \fontdimen4\font
\emergencystretch 3em
\newbox\mbox@content
\def\mboxbreak#1
	{
	\setbox\mbox@content\hbox{#1}
	\ifbreakargsymbols
		\ifdim\wd\mbox@content<0.2\textwidth
			\mbox{#1}
		\else
			#1
		\fi
	\else
		\mbox{#1}
	\fi
	\futurelet\mbox@nextchar\mbox@setpenalty
	}
\def\mbox@setpenalty
	{
	\if\noexpand\mbox@nextchar.\penalty\@M\else
	\if\noexpand\mbox@nextchar,\penalty\@M\else
		\penalty\z@
	\fi\fi
	}
\def\@secondofthree#1#2#3{#2}
\def\cmd#1{\cs{\expandafter\cmd@to@cs\string#1}}
\def\cmd@to@cs#1#2{\char\number`#2\relax}
\DeclareRobustCommand\cs[1]{\texttt{\char`\\#1}}
\def\cmdarg#1{\texorpdfstring{\cmd{#1}}{\textbackslash\expandafter\stripfirsttoken\string#1]}}
\def\stripfirsttoken#1#2]{#2}
\def\argsymb@#1{$\langle$\textit{#1}$\rangle$}
\def\argsymb#1{\mboxbreak{\argsymb@{#1}}}
\def\argsymbB#1{\mboxbreak{\argbraces{\argsymb@{#1}}}}
\def\argsymbO#1{\mboxbreak{\argbrackets{\argsymb@{#1}}}}
\def\argbrackets#1{\mboxbreak{{\tt[}#1{\tt]}}}
\def\argbraces#1{\mboxbreak{{\tt\string{}#1{\tt\string}}}}
\def\DMacro#1{\DescribeMacro#1\cmdarg#1}
\newif\ifbreakargsymbols
\breakargsymbolstrue
\def\cmdsyntax#1#2{%
	\breakargsymbolsfalse
	\begin{center}%
		\advance\textwidth-4em%
		\setbox\z@\hbox{#1}%
		\begin{varwidth}{.8\textwidth}%
			\linepenalty\z@%
			\leftskip\wd\z@%
			\parindent-\wd\z@%
			#1#2%
		\end{varwidth}%
		\advance\textwidth4em%
	\end{center}%
	\nopagebreak[3]
	\breakargsymbolstrue
	}
\def\ShowExample{
		{
		\small
		\PexaShowBoth
			{
			yalign=b,
			allowbreak=yes,
			srcstyle=leftnumcol,
			}
		}
	}
\arrayrulewidth=0pt
\def\pname#1{{\fontfamily{cmss}\selectfont#1}}
\def\usage#1{\textbf{\hyperpage{#1}}}
%\def\main#1{\textit{#1}}
\def\index@prologue
	{
	\section{Index}%
	\markboth{Index}{Index}%
	Bold numbers refer to the page %
	where the corresponding entry is described; %
	numbers underlined refer to the %
	\ifcodeline@index
		code line of the %
	\fi
	definition; numbers in roman refer to the %
	\ifcodeline@index
		code lines %
	\else
		pages %
	\fi
	where the entry is used.\hfill\mbox{}\par
	}
\def\DoNotIndexConditionals{
		\if,\ifcase,\ifcat,\ifdim,\ifeof,\iffalse,
		\ifhbox,\ifhmode,\ifinner,\ifnmode,\ifnum,
		\ifodd,\iftrue,\ifvbox,\ifmode,\ifvoid,
		\ifx,\else,\or,\fi
	}
\DoNotIndex{\ }
\edef\quoterestore{\the\catcode`\"}
\edef\tilderestore{\the\catcode`\~}
\edef\sectionrestore{\the\catcode`\§}
\edef\percentrestore{\the\catcode`\%}
\edef\spacerestore{\the\catcode`\ }
\edef\tabrestore{\the\catcode`\^^I}
\edef\linebreakrestore{\the\catcode`\^^M}
\catcode`\"12\relax
\catcode`\§12\relax
\catcode`\~12\relax
\catcode`\%12\relax
\catcode`\ 12\relax
\catcode`\^^M12\relax
\edef\escaperestore{\the\catcode`\\}
\edef\piperestore{\the\catcode`\|}
\catcode`\|\z@
\catcode`|\12|relax
|def|DOCstart{
	|makeatletter
	|DoNotIndex{
		\@M,\@cclv,\@gobble,\@ifdefinable,
		\@ifnextchar,\@ne,\@roman,\empty,
		\ensuremath,\leavevmode,\m@ne,
		\makeatletter,\newcount,\newif,
		\ProvidesPackage,\RequirePackage,
		\space,\thr@@,\tw@,\typeout,\z@
		}
	|DoNotIndex{
		\if,\ifcase,\ifcat,\ifdim,\ifeof,\iffalse,
		\ifhbox,\ifhmode,\ifinner,\ifnmode,\ifnum,
		\ifodd,\iftrue,\ifvbox,\ifmode,\ifvoid,
		\ifx,\else,\or,\fi
		}
	|DoNotIndexSpecialCatcodes
	|DoNotIndex{
		\\,\,\-,\/,\%,\ ,\~,\§,\",

		\active,\above,\abovedisplayshortskip,
		\abovedisplayskip,\abovewithdelims,
		\accent,\adjdemerits,\advance,
		\afterassignment,\aftergroup,\alpha,
		\arrayrulewidth,
		\atop,\atopwithdelims,\author,

		\badness,\baselineskip,\batchmode,\begin,
		\begingroup,\belowdisplayshortskip,
		\belowdisplayskip,\beta,\bf,\bgroup,
		\binoppenalty,\botmark,
		\box,\boxmaxdepth,\brokenpenalty,

		\catcode,\char,\chardef,\cleaders,
		\closein,\closeout,\clubpenalty,\copy,
		\count,\count@,\countdef,\cr,\crcr,\csname,
		\CurrentOption,

		\day,\deadcycles,\DeclareOption
		\def,\defaulthyphen,
		\defaultshewchar,\decode,\delimiter,
		\delimiterfactor,\delimitershortfall,
		\dimen,\dimen@,\dimendef,\discretionary,
		\displayindent,\displaylimits,
		\displaystyle,\displaywindowpenalty,
		\displaywidth,\divide,\documentclass,
		\doublehyphendemerits,
		\dp,\dump,

		\edef,\egroup,\emergencystretch,\end,\endcsname,
		\endgroup,\endinput,\endlinechar,\eqno,
		\errhelp,\errmessage,\errorcontextlines,
		\errorstopmode,\escapechar,\everycr,
		\everydisplay,\everyhbox,\everyjob,\everymath,
		\everypar,\everyvbox,\exhyphenpenalty,
		\expandafter,

		\fam,\finalhyphendemerits,\firstmark,
		\floatingpenalty,\font,\fontdimen,\fontfamily,
		\fontname,\footnote,
		\footnotesize,\futurelet,

		\gamma,\gdef,\global,\globaldefs,\@gobble,
		\@gobbletwo,\@gobblefour,

		\halign,\hangafter,\hbadness,\hbox,\hfil,\hfill,
		\hfilneg,\hfuzz,\hoffset,\holdinginsert,\href,\hrule,
		\hsize,\hskip,\hss,\ht,\hyphenation,\hyphenchar,
		\hyphenpenalty,

		\ignorespaces,\immediate,\includeonly,\indent,
		\input,\inputlineno,\insert,\insertpenalties,
		\interlinepenalty,\it,\item,

		\jobname,

		\kern,

		\language,\large,\Large,\lastbox,\lastkern,\lastpenalty,
		\lastskip,\lccode,\leaders,\left,\lefthyphenmin,
		\leftskip,\leqno,\let,\limits,\linepenalty,
		\lineskip,\lineskiplimit,\long,\loosenes,\lower,
		\lowercase,

		\mag,\makeatother,\maketitle,
		\mark,\mathaccent,\mathbin,\mathchar,
		\mathchardef,\mathchoice,\mathclose,\mathcode,
		\mathinner,\mathop,\mathopen,\mathord,\mathpunct,
		\mathrel,\mathsurround,\maxdeadcycles,\maxdepth,\mbox,
		\meaning,\medmuskip,\message,\MessageBreak,
		\mkern,\month,
		\moveleft,\moveright,\mskip,\multiply,\muskip,
		\muskipdef,

		\newcommand,\newlinechar,\newtoks,
		\noalign,\noboundary,\noexpand,
		\noindent,\nolimits,\nonscript,\nonstopemode,
		\nulldelimiterspace,\nullfont,\number,

		\omit,\openin,\openout,\outer,\output,
		\outputpenalty,\over,\overfullrule,\overline,
		\overwithdelims,

		\pagedepth,\pagefilllstretch,\pagefillstretch,
		\pagefilstretch,\pagegoal,\pageshrink,
		\pagestretch,\pagetotal,\par,\parbox,\parfillskip,
		\parindent,
		\parshape,\parskip,\patterns,\pausing,\penalty,
		\PexaShowBoth,
		\postdisplaypenalty,\predisplaypenalty,
		\pretolerance,\prevdepth,\prevgraph,\protect,

		\radical,\raggedright,\raise,\read,\relax,\repenalty,
		\right,
		\righthyphenmin,\rightskip,\rm,\romannumeral,

		\scriptfont,\scriptscriptfont,\scriptspace,
		\scriptstyle,\scrollmode,\section,\selectfont,
		\setbox,\setlanguage,
		\sfcode,\shipout,\show,\showbox,\showboxbreadth,
		\showboxdepth,\ShowExample,\showlists,\showthe,
		\skewchar,
		\skip,\skipdef,\small,\spacefactor,\spaceskip,\span,
		\special,\splitbotmark,\splitfirstmark,
		\splitmaxdepth,\splittopskip,\string,\strip@prefix,

		\tabskip,\textbf,\textit,\texttt,
		\textfont,\textstyle,\title,\the,\thickmuskip,
		\thinmuskip,\thispagestyle,
		\time,\toks,\toksdef,\tolerance,
		\topmark,\topskip,\tracingall,\tracingcommands,
		\tracinglostchars,\tracingmacros,\tracingonline,
		\tracingoutput,\tracingpages,\tracingparagraphs,
		\tracingrestores,\tracingstats,

		\uccode,\uchyph,\underline,\unhbox,\unhcopy,
		\unkern,\unpenalty,\unskip,\unvbox,\unvcopy,
		\uppercase,\urlstyle,\usepackage,

		\vadjust,\valign,\vbadness,\vbox,\vcenter,\vfil,
		\vfill,\vfilneg,\vfuzz,\voffset,\vrule,\vsize,
		\vskip,\vsplit,\vss,\vtop,
		
		\wd,\widowpenalty,\write,
		
		\xdef,\xleaders,\xspaceskip,

		\year
		}
	}
|def|DoNotIndexSpecialCatcodes{|DoNotIndex{}}
|catcode`|	13|relax
|def|DefineTab#1{
|catcode`|	13|relax
|def	{#1}}
|catcode`|\|escaperestore|relax
\catcode`\|\piperestore\relax
\catcode`\^^M\linebreakrestore\relax
\catcode`\	\tabrestore\relax
\catcode`\ \spacerestore\relax
\catcode`\%\percentrestore\relax
\catcode`\~\tilderestore\relax
\catcode`\§\sectionrestore\relax
\catcode`\"\quoterestore\relax
\def\DOCindex{
	\gdef\thesection{}\gdef\@seccntformat##1{}
	\Finale
	\def\IndexParms{
		\parindent 0.0pt
		\parskip 0.0pt plus 1.0pt
		\mathsurround 0.0pt
		\columnsep 10.0pt
		\rightskip 0.0pt
		\parfillskip 0.0pt
		}
	\IndexParms
	\catcode`\	9\relax
	{
		\small
		\PrintIndex\par
		\centering *** END OF INDEX ***\par
	}
	\catcode`\	\tabrestore\relax
	}
\def\DocstyleParms{
	\IndexMin=120.0pt
	\marginparwidth=126.0pt
	\marginparpush=0.0pt
	\tolerance=1000
	\MacroTopsep=7.0pt plus 2.0pt minus 2.0pt
	\MacroIndent=0.0pt
	\MacrocodeTopsep=3.0pt plus 1.2pt minus 1.0pt
	}
\DocstyleParms
\endlinechar\rd@aux@endlinecharrestore\relax
\makeatother
